Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

yarn types
  packages/browser-destinations/destinations/appcues-web/src/generated-types.ts
Due: browser-destinations

removing amplitude cohorts from this PR
  packages/destination-actions/src/destinations/amplitude-cohorts/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/fields.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/versioning-info.ts
Due: destination-actions

removing accidental commits
  OPTIMIZATION_CHANGES.md
  REFACTORING_SUMMARY.md
Due: none

STRATCONN-6465 - [Appcues web] - new destination (#3568)
  packages/browser-destinations/destinations/appcues-web/README.md
  packages/browser-destinations/destinations/appcues-web/package.json
  packages/browser-destinations/destinations/appcues-web/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/appcues-web/src/constants.ts
  packages/browser-destinations/destinations/appcues-web/src/generated-types.ts
  packages/browser-destinations/destinations/appcues-web/src/group/__tests__/index.test.ts
  packages/browser-destinations/destinations/appcues-web/src/group/generated-types.ts
  packages/browser-destinations/destinations/appcues-web/src/group/index.ts
  packages/browser-destinations/destinations/appcues-web/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/appcues-web/src/identify/generated-types.ts
  packages/browser-destinations/destinations/appcues-web/src/identify/index.ts
  packages/browser-destinations/destinations/appcues-web/src/index.ts
  packages/browser-destinations/destinations/appcues-web/src/page/__tests__/index.test.ts
  packages/browser-destinations/destinations/appcues-web/src/page/generated-types.ts
  packages/browser-destinations/destinations/appcues-web/src/page/index.ts
  packages/browser-destinations/destinations/appcues-web/src/track/__tests__/index.test.ts
  packages/browser-destinations/destinations/appcues-web/src/track/generated-types.ts
  packages/browser-destinations/destinations/appcues-web/src/track/index.ts
  packages/browser-destinations/destinations/appcues-web/src/types.ts
  packages/browser-destinations/destinations/appcues-web/tsconfig.json
Due: browser-destinations

STRATCONN-6010 - [GA4 Web] - label update (#3567)
  packages/browser-destinations/destinations/google-analytics-4-web/src/index.ts
Due: browser-destinations

remobing registration
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

STRATCONN-6541 [Appcues] server side integration (#3581)
  packages/destination-actions/src/destinations/appcues/__tests__/index.test.ts
  packages/destination-actions/src/destinations/appcues/constants.ts
  packages/destination-actions/src/destinations/appcues/generated-types.ts
  packages/destination-actions/src/destinations/appcues/index.ts
  packages/destination-actions/src/destinations/appcues/presets.ts
  packages/destination-actions/src/destinations/appcues/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/appcues/send/fields.ts
  packages/destination-actions/src/destinations/appcues/send/functions.ts
  packages/destination-actions/src/destinations/appcues/send/generated-types.ts
  packages/destination-actions/src/destinations/appcues/send/index.ts
  packages/destination-actions/src/destinations/appcues/send/types.ts
Due: destination-actions

registering appcues web
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: destinations-manifest

registering appcues web (#3585)
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: destinations-manifest

Add Klime destination with track, identify, and group actions
  packages/destination-actions/src/destinations/index.ts
  packages/destination-actions/src/destinations/klime/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klime/generated-types.ts
  packages/destination-actions/src/destinations/klime/group/generated-types.ts
  packages/destination-actions/src/destinations/klime/group/index.ts
  packages/destination-actions/src/destinations/klime/group/utils.ts
  packages/destination-actions/src/destinations/klime/identify/generated-types.ts
  packages/destination-actions/src/destinations/klime/identify/index.ts
  packages/destination-actions/src/destinations/klime/identify/utils.ts
  packages/destination-actions/src/destinations/klime/index.ts
  packages/destination-actions/src/destinations/klime/track/generated-types.ts
  packages/destination-actions/src/destinations/klime/track/index.ts
  packages/destination-actions/src/destinations/klime/track/utils.ts
Due: destination-actions

Fix inconsistent field ordering in LiveRamp CSV generation
  packages/destination-actions/src/destinations/liveramp-audiences/__tests__/operations.test.ts
  packages/destination-actions/src/destinations/liveramp-audiences/operations.ts
Due: destination-actions

amazon capi stage test
  packages/destination-actions/src/destinations/amazon-conversions-api/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/fields.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/fields.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/generated-types.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/utils.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/types.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
  yarn.lock
Due: destination-actions

starting to tidy up code
  packages/destination-actions/src/destinations/facebook-custom-audiences/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-operations.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/types.ts
Due: destination-actions

first draft of destination
  packages/destination-actions/src/destinations/attribution/__tests__/index.test.ts
  packages/destination-actions/src/destinations/attribution/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/attribution/generated-types.ts
  packages/destination-actions/src/destinations/attribution/index.ts
  packages/destination-actions/src/destinations/attribution/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/attribution/send/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/attribution/send/functions.ts
  packages/destination-actions/src/destinations/attribution/send/generated-types.ts
  packages/destination-actions/src/destinations/attribution/send/index.ts
  packages/destination-actions/src/destinations/attribution/send/types.ts
  packages/destination-actions/src/destinations/attribution/versioning-info.ts
Due: destination-actions

tests
  packages/destination-actions/src/destinations/attribution/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/attribution/index.ts
  packages/destination-actions/src/destinations/attribution/send/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/attribution/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/attribution/send/fields.ts
  packages/destination-actions/src/destinations/attribution/send/functions.ts
  packages/destination-actions/src/destinations/attribution/send/index.ts
  packages/destination-actions/src/destinations/attribution/send/types.ts
Due: destination-actions

integration commplete
  packages/destination-actions/src/destinations/attribution/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/attribution/__tests__/index.test.ts
  packages/destination-actions/src/destinations/attribution/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/attribution/send/__tests__/index.test.ts
Due: destination-actions

Revert "Migrate Segment Amazon Conversion connector to CAPI v2 open beta API …"
  packages/destination-actions/src/destinations/amazon-conversions-api/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/fields.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/fields.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/generated-types.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/utils.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/types.ts
Due: destination-actions

Revert "Migrate Segment Amazon Conversion connector to CAPI v2 open beta API …" (#3589)
  packages/destination-actions/src/destinations/amazon-conversions-api/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/fields.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/fields.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/generated-types.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/utils.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/types.ts
Due: destination-actions

Add timestamp field to createUpdatePerson action for Customer.io
  packages/destination-actions/src/destinations/customerio/__tests__/createUpdatePerson.test.ts
  packages/destination-actions/src/destinations/customerio/createUpdatePerson/generated-types.ts
  packages/destination-actions/src/destinations/customerio/createUpdatePerson/index.ts
Due: destination-actions

fix linting issue in test
  packages/browser-destinations/destinations/appcues-web/src/__tests__/initialization.test.ts
Due: browser-destinations

fix linting issue in test (#3593)
  packages/browser-destinations/destinations/appcues-web/src/__tests__/initialization.test.ts
Due: browser-destinations

adding new setting field
  packages/destination-actions/src/destinations/appcues/__tests__/index.test.ts
  packages/destination-actions/src/destinations/appcues/constants.ts
  packages/destination-actions/src/destinations/appcues/generated-types.ts
  packages/destination-actions/src/destinations/appcues/index.ts
  packages/destination-actions/src/destinations/appcues/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/appcues/send/functions.ts
Due: destination-actions

yarn types
  packages/destination-actions/src/destinations/attribution/send/generated-types.ts
Due: destination-actions

Removed development endpoint choice and updated production ingest endpoint to i.klime.com
  packages/destination-actions/src/destinations/klime/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klime/index.ts
Due: destination-actions

Fix timestamp field name to _timestamp for Customer.io identify calls
  packages/destination-actions/src/destinations/customerio/__tests__/createUpdatePerson.test.ts
  packages/destination-actions/src/destinations/customerio/createUpdatePerson/index.ts
Due: destination-actions

Fixing client id header issue for v2/profiles call
  packages/destination-actions/src/destinations/amazon-conversions-api/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/utils.ts
Due: destination-actions

Fixing client id header issue for v2/profiles call
  packages/destination-actions/src/destinations/amazon-conversions-api/index.ts
Due: destination-actions

[Attribution] fix auth use username as projectID
  packages/destination-actions/src/destinations/attribution/index.ts
Due: destination-actions

bug fix amazon capi
  packages/destination-actions/src/destinations/amazon-conversions-api/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/utils.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

feat(heap): add configurable API region for EU support
  packages/destination-actions/src/destinations/heap/generated-types.ts
  packages/destination-actions/src/destinations/heap/identifyUser/index.ts
  packages/destination-actions/src/destinations/heap/index.ts
  packages/destination-actions/src/destinations/heap/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/heap/trackEvent/index.ts
Due: destination-actions

refactoring
  packages/destination-actions/src/destinations/facebook-custom-audiences/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-properties.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/presets.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/types.ts
Due: destination-actions

Migrate from Tags to Custom Headers
  packages/destination-actions/src/destinations/liveramp-audiences/awsClient.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/awsClient.ts
Due: destination-actions

refactoring
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/fb-operations.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-operations.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-properties.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/types.ts
Due: destination-actions

refactoring
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
Due: destination-actions

about to fix tests
  packages/destination-actions/src/destinations/facebook-custom-audiences/functions.ts
Due: destination-actions

updating tests to pass
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/fb-operations.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/index.test.ts
Due: destination-actions
