Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

LinkedIn Conversions: clarify error when no conversion rule is linked
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/index.ts
Due: destination-actions

LinkedIn Conversions: rename the conversion rule hook and correct its description
  packages/destination-actions/src/destinations/linkedin-conversions/metadata.json
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/index.ts
Due: destination-actions

[STAGING] snap-conversions: remove forced event_time conversion, keep flag observability
  packages/destination-actions/src/destinations/snap-conversions-api/_tests_/index.test.ts
  packages/destination-actions/src/destinations/snap-conversions-api/reportConversionEvent/snap-capi-v3.ts
Due: destination-actions

Add jimo2-register-stage-test dummy destination
  packages/browser-destinations/destinations/jimo2-register-stage-test/README.md
  packages/browser-destinations/destinations/jimo2-register-stage-test/metadata.json
  packages/browser-destinations/destinations/jimo2-register-stage-test/package.json
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/generated-types.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/index.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/init-script.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendGroupData/__tests__/index.test.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendGroupData/generated-types.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendGroupData/index.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendTrackEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendTrackEvent/generated-types.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendTrackEvent/index.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendUserData/__tests__/index.test.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendUserData/generated-types.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendUserData/index.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/types.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/tsconfig.json
Due: browser-destinations

Release Canary
  packages/browser-destinations/destinations/jimo2-register-stage-test/package.json
  packages/destination-actions/package.json
Due: destination-actions, browser-destinations

Publish jimo2-register-stage-test registration
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: destinations-manifest

Revert jimo2-register-stage-test manifest registration
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: destinations-manifest

Point @segment/action-destinations resolved URL at Artifactory
  yarn.lock
Due: none

Point all internal @segment/* resolved URLs at Artifactory
  yarn.lock
Due: none

Revert yarn.lock Artifactory URL fixes
  yarn.lock
Due: none

Cleanup web destination
  .github/workflows/publish-browser-destinations.yml
Due: none

Cleanup web destination
  packages/browser-destinations/destinations/jimo2-register-stage-test/README.md
  packages/browser-destinations/destinations/jimo2-register-stage-test/metadata.json
  packages/browser-destinations/destinations/jimo2-register-stage-test/package.json
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/generated-types.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/index.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/init-script.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendGroupData/__tests__/index.test.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendGroupData/generated-types.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendGroupData/index.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendTrackEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendTrackEvent/generated-types.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendTrackEvent/index.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendUserData/__tests__/index.test.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendUserData/generated-types.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/sendUserData/index.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/src/types.ts
  packages/browser-destinations/destinations/jimo2-register-stage-test/tsconfig.json
Due: browser-destinations

Fix yarn.lock: point internal @segment packages to Artifactory
  yarn.lock
Due: none

Revert "Fix yarn.lock: point internal @segment packages to Artifactory"
  yarn.lock
Due: none

STRATCONN-6707 data manager API upgrade for create and get Audiences
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/types.ts
Due: destination-actions

STRATCONN-6540 [Iterable] Restrict updateSubscriptions to a single subscription change per call
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/constants.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/dynamic-fields.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/functions.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/generated-types.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/index.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/types.ts
Due: destination-actions

prettier
  packages/destination-actions/src/destinations/friendbuy/__tests__/cloudUtil.test.ts
Due: destination-actions

Release Canary
  packages/destination-actions/package.json
Due: destination-actions

Resolve internal @segment packages locally on staging
  package.json
  packages/cli/package.json
  yarn.lock
Due: none

Make staging internal-package pins sha-resilient
  package.json
  packages/cli/package.json
Due: none

LinkedIn Conversions: keep the error message in sync with the hook label
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/index.ts
Due: destination-actions

STRATCONN-6540 [Iterable] Rename updateSubscriptions action to updateSubscription
  packages/destination-actions/src/destinations/iterable/index.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/constants.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/dynamic-fields.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/functions.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/generated-types.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/index.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/types.ts
Due: destination-actions

metadata
  packages/destination-actions/src/destinations/iterable/metadata.json
Due: destination-actions

iterable testing
  packages/destination-actions/src/destinations/iterable/index.ts
  packages/destination-actions/src/destinations/iterable/metadata.json
  packages/destination-actions/src/destinations/iterable/updateSubscription/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/constants.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/dynamic-fields.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/functions.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/generated-types.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/index.ts
  packages/destination-actions/src/destinations/iterable/updateSubscription/types.ts
Due: destination-actions

Add jimo3-register-stage-test dummy destination
  packages/browser-destinations/destinations/jimo3-register-stage-test/README.md
  packages/browser-destinations/destinations/jimo3-register-stage-test/metadata.json
  packages/browser-destinations/destinations/jimo3-register-stage-test/package.json
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/generated-types.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/index.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/init-script.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/sendGroupData/__tests__/index.test.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/sendGroupData/generated-types.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/sendGroupData/index.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/sendTrackEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/sendTrackEvent/generated-types.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/sendTrackEvent/index.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/sendUserData/__tests__/index.test.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/sendUserData/generated-types.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/sendUserData/index.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/src/types.ts
  packages/browser-destinations/destinations/jimo3-register-stage-test/tsconfig.json
Due: browser-destinations

Release: Register jimo3-register-stage-test in destinations manifest
  packages/destinations-manifest/src/index.ts
Due: destinations-manifest

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
