Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

addressing some minor items from AI feedback
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/canary.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/delete.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/legacy.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/upsert.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: core, destination-actions

adding unit test to test bug fix in core
  packages/core/src/__tests__/audience-membership.test.ts
Due: core

fixing tests - reverting Arjun change
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/delete.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/upsert.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

fixing unit test to include add and remove
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/upsert.test.ts
Due: destination-actions

reverting Arjun minor refactor
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

Add Wingify browser destination integration.
  packages/browser-destinations/destinations/wingify/package.json
  packages/browser-destinations/destinations/wingify/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/wingify/src/generated-types.ts
  packages/browser-destinations/destinations/wingify/src/identifyUser/__tests__/index.test.ts
  packages/browser-destinations/destinations/wingify/src/identifyUser/generated-types.ts
  packages/browser-destinations/destinations/wingify/src/identifyUser/index.ts
  packages/browser-destinations/destinations/wingify/src/index.ts
  packages/browser-destinations/destinations/wingify/src/init-script.ts
  packages/browser-destinations/destinations/wingify/src/trackEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/wingify/src/trackEvent/generated-types.ts
  packages/browser-destinations/destinations/wingify/src/trackEvent/index.ts
  packages/browser-destinations/destinations/wingify/src/types.ts
  packages/browser-destinations/destinations/wingify/src/utility.ts
  packages/browser-destinations/destinations/wingify/tsconfig.json
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: browser-destinations, destinations-manifest

fix(core): filter audienceMembership to match schema-filtered payloads in executeBatch (#3825)
  packages/core/src/__tests__/audience-membership.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/canary.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/delete.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/legacy.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/upsert.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: core, destination-actions

fix(hubspot): allow string values to match datetime fields in schema comparison
  packages/destination-actions/src/destinations/hubspot/upsertObject/__tests__/schema-functions.test.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/__tests__/upsert-property-mismatch.test.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/functions/schema-functions.ts
Due: destination-actions

fix(hubspot): make string/datetime coercion symmetric for cache compatibility
  packages/destination-actions/src/destinations/hubspot/upsertObject/__tests__/upsert-property-mismatch.test.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/functions/schema-functions.ts
Due: destination-actions

STRATCONN-1234 added the commit to this file
  packages/destination-actions/src/destinations/webhook-extensible/send/index.ts
Due: destination-actions

adding facebook conversions api e2e - untested
  packages/destination-actions/src/destinations/facebook-custom-audiences/__e2e__/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/journeys.e2e.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/retl.e2e.ts
Due: destination-actions

fix: serialize format field in metadata.json generation
  packages/cli/src/commands/generate/metadata-payload.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

fix metadata generation
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

facebook custom audiences - update e2e
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/engage.e2e.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/journeys.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/retl.ts
Due: destination-actions

updating tests
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/engage.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/engage.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/journeysV1.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/retl.e2e.ts
Due: destination-actions

adding metadata for destination changes in staging - to push can be done
  packages/destination-actions/src/destinations/braze/metadata.json
  packages/destination-actions/src/destinations/facebook-conversions-api/metadata.json
  packages/destination-actions/src/destinations/google-enhanced-conversions/metadata.json
  packages/destination-actions/src/destinations/iterable/metadata.json
  packages/destination-actions/src/destinations/linkedin-conversions/metadata.json
  packages/destination-actions/src/destinations/mixpanel/metadata.json
  packages/destination-actions/src/destinations/pinterest-conversions/metadata.json
  packages/destination-actions/src/destinations/s3/metadata.json
Due: destination-actions

Add Journeys V2 e2e support and google-enhanced-conversions journeysV2 fixtures
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/journeysV2.e2e.ts
Due: core, destination-actions

Fix journey_step computation_class and membership for V1/V2 e2e events
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/journeysV2.e2e.ts
Due: core, destination-actions

Simplify e2e types: inline personas shapes into track/identify events
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
Due: core

Rename facebook-custom-audiences e2e fixtures to *.e2e.ts so they are discovered
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/journeys.e2e.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/retl.e2e.ts
Due: destination-actions

Rename facebook journeys e2e fixture to journeysV1 for clarity
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/journeysV1.e2e.ts
Due: destination-actions

Use createE2EJourneysV1AudienceEvent helper in facebook journeysV1 fixture
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/journeysV1.e2e.ts
Due: destination-actions

Upgrade liquidjs dependency
  package.json
  packages/actions-shared/package.json
  packages/browser-destination-runtime/package.json
  packages/browser-destinations/destinations/braze/package.json
  packages/browser-destinations/destinations/bucket/package.json
  packages/browser-destinations/destinations/cj/package.json
  packages/browser-destinations/destinations/commandbar/package.json
  packages/browser-destinations/destinations/friendbuy/package.json
  packages/browser-destinations/destinations/fullstory/package.json
  packages/browser-destinations/destinations/google-analytics-4-web/package.json
  packages/browser-destinations/destinations/heap/package.json
  packages/browser-destinations/destinations/hubble-web/package.json
  packages/browser-destinations/destinations/hubspot-web/package.json
  packages/browser-destinations/destinations/intercom/package.json
  packages/browser-destinations/destinations/iterate/package.json
  packages/browser-destinations/destinations/koala/package.json
  packages/browser-destinations/destinations/logrocket/package.json
  packages/browser-destinations/destinations/playerzero-web/package.json
  packages/browser-destinations/destinations/rupt/package.json
  packages/browser-destinations/destinations/screeb/package.json
  packages/browser-destinations/destinations/sprig-web/package.json
  packages/browser-destinations/destinations/stackadapt/package.json
  packages/browser-destinations/destinations/tiktok-pixel/package.json
  packages/browser-destinations/destinations/userpilot/package.json
  packages/browser-destinations/destinations/vwo/package.json
  packages/browser-destinations/destinations/wisepops/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
  packages/warehouse-destinations/package.json
  yarn.lock
Due: core, actions-shared, destination-actions, browser-destinations, destinations-manifest

e2e framework: journey_step V1 events + facebook journeysV1 fixture
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/journeysV1.e2e.ts
Due: core, destination-actions

Populate sent operation in g-e-c batch multistatus + flag on/off e2e coverage
  packages/core/src/e2e-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/engage.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/journeysV1.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/journeysV2.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/retl.e2e.ts
Due: core, destination-actions

updating unit tests
  packages/cli/src/lib/server.ts
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/__helpers__/userList-audiences-helpers.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList-engage.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList-journeys-audiences.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList-journeysV1.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList-journeysV2.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: core, destination-actions

adding link to JIRA for known bug
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

fixing tests
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

facebook-custom-audiences: remove journeys feature flag, rename to getJourneysV1Memberships
  packages/destination-actions/src/destinations/facebook-custom-audiences/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

adding e2e test coverage and fixing some other code issues
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/engage.e2e.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/errors.e2e.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/identifiers.e2e.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/journeysV1.e2e.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/journeysV2.e2e.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/retl.e2e.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/journeys.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

fixing e2e test
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__e2e__/identifiers.e2e.ts
Due: destination-actions
