Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

updating logic slightly
  packages/destination-actions/src/destinations/braze/ecommerce/constants.ts
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
  packages/destination-actions/src/destinations/braze/ecommerce/index.ts
  packages/destination-actions/src/destinations/braze/ecommerce/types.ts
Due: destination-actions

fix build issue
  packages/destination-actions/src/destinations/segment-profiles/send/index.ts
Due: destination-actions

updating syncMode validation logic
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
  packages/destination-actions/src/destinations/braze/ecommerce/types.ts
Due: destination-actions

testcase revert: Toggle audienceConfig.mode.type to synced (was not synced)
  packages/destination-actions/src/destinations/pendo-audiences/index.ts
  packages/destination-actions/src/destinations/pendo-audiences/metadata.json
Due: destination-actions

removing validation which is redundant
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
Due: destination-actions

adding description send
  packages/destination-actions/src/destinations/segment-profiles/metadata.json
  packages/destination-actions/src/destinations/segment-profiles/send/index.ts
Due: destination-actions

change test action back to cloud
  packages/destination-actions/src/destinations/webhook/bugBash/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

STRATCONN-6806 - [Braze] - default sync mode to 'add' when missing
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/index.test.ts
Due: destination-actions

empty description
  packages/destination-actions/src/destinations/segment-profiles/metadata.json
  packages/destination-actions/src/destinations/segment-profiles/send/index.ts
Due: destination-actions

[slack] bug-bash Row 59 (scratch): isolated type-less preset repro on clean destination
  packages/destination-actions/src/destinations/slack/index.ts
  packages/destination-actions/src/destinations/slack/metadata.json
Due: destination-actions

Release Canary
  packages/browser-destinations/destinations/bugbash-test-registration/package.json
  packages/browser-destinations/destinations/google-analytics-4-web/package.json
  packages/browser-destinations/destinations/hubspot-web/package.json
  packages/browser-destinations/destinations/reddit-pixel/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
  packages/warehouse-destinations/package.json
Due: destination-actions, browser-destinations, destinations-manifest

Release Canary
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
Due: destination-actions

minor change
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
Due: destination-actions

Release Canary
  packages/destination-actions/package.json
Due: destination-actions

[Amplitude Cohorts] Encode owner email + add audience name prefix setting (#3919)
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/constants.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/metadata.json
Due: destination-actions

STRATCONN-6441 - [Facebook CAPI] - removing flags from actions (#3756)
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/app-data.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/functions.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/utils.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/user-data.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/constants.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-app-data.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-properties.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-user-data.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/constants.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/utils.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent2/index.ts
Due: destination-actions

Remove broken content_ids default in Facebook Conversions API Web
  packages/browser-destinations/destinations/facebook-conversions-api-web/metadata.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/content-ids.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
Due: browser-destinations

Release
  packages/destination-actions/package.json
Due: destination-actions

Release (#3921)
  packages/destination-actions/package.json
Due: destination-actions

Coerce single content_ids/contents values to arrays in FB Pixel Web
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
Due: browser-destinations

Emit search_string in FB Pixel Web Search events
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/formatFBEvent.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/types.ts
Due: browser-destinations

Emit status in FB Pixel Web CompleteRegistration events
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/formatFBEvent.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/types.ts
Due: browser-destinations

fix(customerio): support ISO timestamps with >3 fractional second digits
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
Due: destination-actions

Add Maryland and Rhode Island LDU options to FB Pixel Web
  packages/browser-destinations/destinations/facebook-conversions-api-web/metadata.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/types.ts
Due: browser-destinations

Added SFMC changes
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/fields.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

Set authentication.scheme:'oauth2' on a destination that previously had a different/no scheme
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

test registration with invalid mode
  packages/destination-actions/src/destinations/webhook-invalid/__test__/webhook.test.ts
  packages/destination-actions/src/destinations/webhook-invalid/generated-types.ts
  packages/destination-actions/src/destinations/webhook-invalid/index.ts
  packages/destination-actions/src/destinations/webhook-invalid/metadata.json
  packages/destination-actions/src/destinations/webhook-invalid/send/generated-types.ts
  packages/destination-actions/src/destinations/webhook-invalid/send/index.ts
Due: destination-actions

Revert "test registration with invalid mode"
  packages/destination-actions/src/destinations/webhook-invalid/__test__/webhook.test.ts
  packages/destination-actions/src/destinations/webhook-invalid/generated-types.ts
  packages/destination-actions/src/destinations/webhook-invalid/index.ts
  packages/destination-actions/src/destinations/webhook-invalid/metadata.json
  packages/destination-actions/src/destinations/webhook-invalid/send/generated-types.ts
  packages/destination-actions/src/destinations/webhook-invalid/send/index.ts
Due: destination-actions

[bug-bash-hybrid] scratch: dummy hybrid destination (web + cloud action) for Row 77
  packages/destination-actions/src/destinations/bug-bash-hybrid/cloudAction/generated-types.ts
  packages/destination-actions/src/destinations/bug-bash-hybrid/cloudAction/index.ts
  packages/destination-actions/src/destinations/bug-bash-hybrid/generated-types.ts
  packages/destination-actions/src/destinations/bug-bash-hybrid/index.ts
  packages/destination-actions/src/destinations/bug-bash-hybrid/metadata.json
  packages/destination-actions/src/destinations/bug-bash-hybrid/webAction/generated-types.ts
  packages/destination-actions/src/destinations/bug-bash-hybrid/webAction/index.ts
Due: destination-actions

Revert "Set authentication.scheme:'oauth2' on a destination that previously had a different/no scheme"
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

Reapply "Set authentication.scheme:'oauth2' on a destination that previously had a different/no scheme"
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

Normalize field values in FB Pixel Web (trim, currency, minimums)
  packages/browser-destinations/destinations/facebook-conversions-api-web/metadata.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/formatFBEvent.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
Due: browser-destinations

[bug-bash-hybrid] scratch: add browser half of hybrid destination for Row 77 obs2
  packages/browser-destinations/destinations/bug-bash-hybrid/metadata.json
  packages/browser-destinations/destinations/bug-bash-hybrid/package.json
  packages/browser-destinations/destinations/bug-bash-hybrid/src/generated-types.ts
  packages/browser-destinations/destinations/bug-bash-hybrid/src/index.ts
  packages/browser-destinations/destinations/bug-bash-hybrid/src/webPlugin/generated-types.ts
  packages/browser-destinations/destinations/bug-bash-hybrid/src/webPlugin/index.ts
  packages/browser-destinations/destinations/bug-bash-hybrid/tsconfig.json
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: browser-destinations, destinations-manifest
