Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

updating metadata
  packages/destination-actions/src/destinations/reddit-conversions-api/metadata.json
Due: destination-actions

test fixes
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-batch-events.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-utils.test.ts
Due: destination-actions

STRATCONN-6892 [Reddit Conversions API] Copy v3 support onto e2e-framework-plus-tests
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-batch-events.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-single-event.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/action.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/fields.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/constants.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/types-v3.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/utils-v3.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/versioning-info.ts
Due: destination-actions

STRATCONN-6892: sync reddit-conversions-api v3 changes to staging
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-batch-events.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-single-event.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/action.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/fields.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/metadata.json
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/constants.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/types-v3.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/utils-v3.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/versioning-info.ts
Due: destination-actions

STRATCONN-6892 [Reddit Conversions API] Add e2e fixtures for standardEvent + customEvent (V2 + V3)
  packages/destination-actions/src/destinations/reddit-conversions-api/__e2e__/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__e2e__/fixtures.e2e.ts
Due: destination-actions

Added copilot suggestions
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

STRATCONN-6892 [Reddit Conversions API] Assert real V3 success response shape in e2e fixtures
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__e2e__/fixtures.e2e.ts
Due: destination-actions

STRATCONN-6892 [Reddit Conversions API] Assert correct V2 (flat message) vs V3 (data.message) response envelopes in e2e fixtures
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__e2e__/fixtures.e2e.ts
Due: destination-actions

Release Canary
  packages/destination-actions/package.json
  yarn.lock
Due: destination-actions

Bundle Meta param builder client instead of loading from unpkg
  packages/browser-destinations/destinations/facebook-conversions-api-web/package.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/meta-capi-param-builder-clientjs.d.ts
  yarn.lock
Due: browser-destinations

Fix invalid JSON in facebook-conversions-api-web package.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/package.json
Due: browser-destinations

Load param builder lazily; bump browser-destinations size limit
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/index.ts
  packages/browser-destinations/package.json
Due: browser-destinations

Add skipResponseCloning for Execute Path
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

Update Async SFMC
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: destination-actions

[Async Batch] Add Async Action for SFMC. (#3956)
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/fields.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

Update Publish GHA to exclude staging (#3960)
  .github/workflows/publish.yml
Due: none

Internal Artifactory release
  packages/destination-actions/package.json
Due: destination-actions

Internal Artifactory release (#3961)
  packages/destination-actions/package.json
Due: destination-actions

Update Async SFMC
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

updating wording on syncMode
  packages/destination-actions/src/destinations/marketo-static-lists/syncList/index.ts
Due: destination-actions

Update SFMC error handling
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: destination-actions

testing ms bing capi in stage
  packages/destination-actions/src/destinations/ms-bing-capi/metadata.json
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/__tests__/sendEvent.test.ts
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/fields.ts
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/index.ts
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/types.ts
Due: destination-actions

Release Canary
  packages/destination-actions/package.json
Due: destination-actions

[Braze] Web - Add v6.10 (#3893)
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/braze/src/__tests__/__snapshots__/integration.test.ts.snap
  packages/browser-destinations/destinations/braze/src/index.ts
Due: browser-destinations

fix(hubspot-web): add id=hs-script-loader to prevent duplicate script injection (#3833)
  packages/browser-destinations/destinations/hubspot-web/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/hubspot-web/src/index.ts
Due: browser-destinations

Add Wingify browser destination integration. (#3828)
  packages/browser-destinations/destinations/wingify/metadata.json
  packages/browser-destinations/destinations/wingify/package.json
  packages/browser-destinations/destinations/wingify/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/wingify/src/generated-types.ts
  packages/browser-destinations/destinations/wingify/src/identifyUser/__tests__/index.test.ts
  packages/browser-destinations/destinations/wingify/src/identifyUser/generated-types.ts
  packages/browser-destinations/destinations/wingify/src/identifyUser/index.ts
  packages/browser-destinations/destinations/wingify/src/index.ts
  packages/browser-destinations/destinations/wingify/src/init-script.ts
  packages/browser-destinations/destinations/wingify/src/trackEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/wingify/src/trackEvent/generated-types.ts
  packages/browser-destinations/destinations/wingify/src/trackEvent/index.ts
  packages/browser-destinations/destinations/wingify/src/types.ts
  packages/browser-destinations/destinations/wingify/src/utility.ts
  packages/browser-destinations/destinations/wingify/tsconfig.json
  packages/destinations-manifest/src/index.ts
Due: browser-destinations, destinations-manifest

[Facebook Pixel] - Private Beta bug fixes (#3920)
  packages/browser-destinations/destinations/facebook-conversions-api-web/metadata.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/package.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/meta-capi-param-builder-clientjs.d.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/content-ids.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/depends-on.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/formatFBEvent.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/formatUserData.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/init.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/depends-on.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/types.ts
  packages/browser-destinations/package.json
  yarn.lock
Due: browser-destinations

[MoEngage] - Web - Feat/moengage standardize web sdk names (#3790)
  packages/browser-destinations/destinations/moengage-web/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/functions.ts
  packages/browser-destinations/destinations/moengage-web/src/generated-types.ts
  packages/browser-destinations/destinations/moengage-web/src/identifyUser/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/identifyUser/index.ts
  packages/browser-destinations/destinations/moengage-web/src/index.ts
  packages/browser-destinations/destinations/moengage-web/src/trackEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/trackEvent/index.ts
  packages/browser-destinations/destinations/moengage-web/src/types.ts
Due: browser-destinations

Change browser destination publish trigger from Publish to Release
  .github/workflows/publish-browser-destinations.yml
Due: none

Change browser destination publish trigger from Publish to Release (#3962)
  .github/workflows/publish-browser-destinations.yml
Due: none

Release
  packages/browser-destinations/destinations/braze-cloud-plugins/package.json
  packages/browser-destinations/destinations/braze/package.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/package.json
  packages/browser-destinations/destinations/hubspot-web/package.json
  packages/browser-destinations/destinations/moengage-web/package.json
  packages/browser-destinations/destinations/wingify/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: destination-actions, browser-destinations, destinations-manifest

Release (#3963)
  packages/browser-destinations/destinations/braze-cloud-plugins/package.json
  packages/browser-destinations/destinations/braze/package.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/package.json
  packages/browser-destinations/destinations/hubspot-web/package.json
  packages/browser-destinations/destinations/moengage-web/package.json
  packages/browser-destinations/destinations/wingify/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: destination-actions, browser-destinations, destinations-manifest

moengage metadata update
  packages/browser-destinations/destinations/moengage-web/metadata.json
Due: browser-destinations

moengage metadata update (#3964)
  packages/browser-destinations/destinations/moengage-web/metadata.json
Due: browser-destinations

fixing event_metadata bug
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-batch-events.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-single-event.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/types-v3.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/utils-v3.ts
Due: destination-actions

STRATCONN-6892: sync reddit-conversions-api v3 event_metadata fix to staging
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-batch-events.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-single-event.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/types-v3.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/utils-v3.ts
Due: destination-actions

register web destination wingify
  packages/browser-destinations/destinations/wingify/package.json
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: browser-destinations, destinations-manifest

register web destination wingify (#3965)
  packages/browser-destinations/destinations/wingify/package.json
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: browser-destinations, destinations-manifest

Release
  packages/browser-destinations/destinations/moengage-web/package.json
  packages/browser-destinations/destinations/wingify/package.json
  packages/destinations-manifest/package.json
Due: browser-destinations, destinations-manifest

Release (#3966)
  packages/browser-destinations/destinations/moengage-web/package.json
  packages/browser-destinations/destinations/wingify/package.json
  packages/destinations-manifest/package.json
Due: browser-destinations, destinations-manifest

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
