Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Remove validatedBranchId and restore MAX_WIRE_DEPTH
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/avo.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/types.ts
Due: destination-actions

Add more ReDoS test cases for regex validation
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/EventValidator.test.ts
Due: destination-actions

type fix
  packages/core/src/destination-kit/action.ts
Due: core

[Aampe] Add US endpoint
  packages/destination-actions/src/destinations/aampe/constants.ts
  packages/destination-actions/src/destinations/aampe/index.ts
Due: destination-actions

[Aampe] Fix US endpoint URL to include /v1/
  packages/destination-actions/src/destinations/aampe/constants.ts
Due: destination-actions

updating tests
  packages/core/src/__tests__/audience-membership.test.ts
Due: core

adding flag
  packages/core/src/__tests__/audience-membership.test.ts
  packages/core/src/destination-kit/action.ts
Due: core

amplitude cohorts audienceMembership testing in stage
  packages/core/src/__tests__/audience-membership.test.ts
  packages/core/src/audience-membership.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/fields.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/index.ts
Due: core, destination-actions

fixing tests for amplitude cohorts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/index.test.ts
Due: destination-actions

fixing unit tests amplitude cohorts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/index.test.ts
Due: destination-actions

fixing test authentication
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
Due: destination-actions

fixing test authentication on amplitude cohorts
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

migrating to audienceMembership from core
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/generated-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/types.ts
Due: destination-actions

fixing fb unit tests
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/canary.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/delete.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/legacy.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/upsert.test.ts
Due: destination-actions

more tests - for engage delete
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/delete.test.ts
Due: destination-actions

fix amplitude test
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
Due: destination-actions

fixing amplitude cohort test
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
Due: destination-actions

adding fb custom audiencs with audienceMembership from core
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/audience-creation.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/canary.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/delete.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/legacy.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/upsert.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/generated-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/hook-functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/types.ts
Due: destination-actions

Update API version
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionAdjustmentUpload/__tests__/index.test.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionAdjustmentUpload/index.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionUpload/__tests__/index.test.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionUpload/index.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/utils.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/versioning-info.ts
Due: destination-actions

code to update to audienceMembership from core
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

update
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

adding flags to core
  packages/core/src/__tests__/audience-membership.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/flags.ts
  packages/core/src/index.ts
Due: core

adding flag
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

revert to original tests
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
Due: destination-actions

adding google enhanced conversion flag code
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

adding new tests
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.audienceMembership.test.ts
Due: destination-actions

comments around tests to be removed
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
Due: destination-actions

adding google enhanced conversions
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.audienceMembership.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

adding facebook custom audiences
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/audience-creation.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/canary.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/fb-operations.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-operations.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-properties.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/generated-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/presets.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/delete.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/legacy.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/upsert.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/generated-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/hook-functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/types.ts
Due: destination-actions

errors and flags update
  packages/core/src/errors.ts
  packages/core/src/flags.ts
Due: core

braze cohorts audienceMembership migration
  packages/core/src/flags.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/index.ts
Due: core, destination-actions

braze cohorts core complete apart from tests
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/index.ts
Due: destination-actions

adding tests for flags = true
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/__snapshots__/legacy-to-be-removed.test.ts.snap
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/legacy-to-be-removed.test.ts
Due: destination-actions

removing snapshot
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/__snapshots__/legacy-to-be-removed.test.ts.snap
Due: destination-actions

adding snapshot
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/__snapshots__/legacy-to-be-removed.test.ts.snap
Due: destination-actions

upating snapshot
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/__snapshots__/index.test.ts.snap
Due: destination-actions

linkedin audiences using audienceMembership from Core
  packages/core/src/flags.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
Due: core, destination-actions
