Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Default status should be 500 (Retryable)
  packages/destination-actions/src/destinations/the-trade-desk-crm/functions.ts
Due: destination-actions

Updated Unit tests
  packages/destination-actions/src/destinations/the-trade-desk-crm/syncAudience/__tests__/index.test.ts
Due: destination-actions

tier-1/batch-2: refactor API versioning to use versioning-info module (#3471)
  packages/destination-actions/src/destinations/adobe-target/adobeTarget_operations.ts
  packages/destination-actions/src/destinations/adobe-target/versioning-info.ts
  packages/destination-actions/src/destinations/pinterest-conversions/constants.ts
  packages/destination-actions/src/destinations/pinterest-conversions/versioning-info.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/versioning-info.ts
  packages/destination-actions/src/destinations/snap-conversions-api/reportConversionEvent/snap-capi-v3.ts
  packages/destination-actions/src/destinations/snap-conversions-api/versioning-info.ts
  packages/destination-actions/src/destinations/tiktok-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/addToAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/addUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/api/api.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/api/index.ts
  packages/destination-actions/src/destinations/tiktok-audiences/constants.ts
  packages/destination-actions/src/destinations/tiktok-audiences/createAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/removeFromAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/removeUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/versioning-info.ts
Due: destination-actions

Publish Canary
  API_VERSION_AUDIT_REPORT.md
  CLAUDE.md
  packages/destination-actions/package.json
Due: destination-actions

Publish Canary
  packages/browser-destinations/destinations/rokt-plugins/package.json
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/lark/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destinations-manifest/package.json
  yarn.lock
Due: destination-actions, browser-destinations, destinations-manifest

Publish Canary
  packages/destination-actions/package.json
  yarn.lock
Due: destination-actions

types
  packages/destination-actions/src/destinations/iterable-lists/generated-types.ts
  packages/destination-actions/src/destinations/iterable-lists/index.ts
Due: destination-actions

Address review feedback: improve test consistency and environment detection coverage (#3537)
  .eslintrc.js
  packages/actions-shared/src/__tests__/no-environment-specific-code.test.ts
  packages/core/src/__tests__/no-environment-specific-code.test.ts
Due: core, actions-shared

update batching config
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

Updating batch_bytes
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

added some more unit tests
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.test.ts
Due: destination-actions

Added Unit test for asyncDataExtension action
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

setting min/max batch size
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

adding preset for contacts DE
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
Due: destination-actions

refactoring to action
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

Added asyncDataExtension Action for SFMC
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

perform block
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

updated types and unit tests
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/generated-types.ts
Due: destination-actions

fixed unit tests and some logs
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

rephrase async data extension action description
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

Updating batch size for async action
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

remove preset and update size and bytes
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
Due: destination-actions

Updating the action as Upsert
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

STRATCONN-5986 - [Facebook CAPI Web] - depends_on fix
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/depends-on.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/depends-on.ts
Due: browser-destinations

send userData on every page load
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
Due: browser-destinations

adding fbp and fbc support
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/generated-types.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/types.ts
Due: browser-destinations

adding unit tests
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
Due: browser-destinations

more tests
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
Due: browser-destinations

Temporary timezone fix for snapshots in Braze
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/lark/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/lib/test-data.ts
Due: destination-actions

fixed test auth
  packages/destination-actions/src/destinations/memora/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/index.ts
Due: destination-actions

Publish Canary
  packages/browser-destinations/destinations/rokt-plugins/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: destination-actions, browser-destinations, destinations-manifest

Add EU region support to Heap Cloud destination
  packages/destination-actions/src/destinations/heap/constants.ts
  packages/destination-actions/src/destinations/heap/generated-types.ts
  packages/destination-actions/src/destinations/heap/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/heap/identifyUser/index.ts
  packages/destination-actions/src/destinations/heap/index.ts
  packages/destination-actions/src/destinations/heap/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/heap/trackEvent/index.ts
Due: destination-actions

Updated required field
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/fields.ts
Due: destination-actions

fix linting issue
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/__tests__/functions.test.ts
Due: browser-destinations

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

test(Jimo): fix sendGroupData
  packages/browser-destinations/destinations/jimo/src/sendGroupData/__tests__/index.test.ts
Due: browser-destinations

changed log info to crit
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

removing field
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-properties.ts
Due: destination-actions

fix(topsort): use placement instead of page for fallback mapping
  packages/destination-actions/src/destinations/topsort/click/index.ts
  packages/destination-actions/src/destinations/topsort/impression/index.ts
Due: destination-actions
