Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

adding e2e tests for pendo-audiences
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/engage-batch.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/engage-single.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/functions.ts
Due: destination-actions

handle 409 as retries for pendo-audience destination
  packages/destination-actions/src/destinations/pendo-audiences/metadata.json
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/engage-batch.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/engage-single.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/perform-batch.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/perform.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/fields.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/index.ts
Due: destination-actions

Support channel id as audience identifier
  packages/destination-actions/src/destinations/airship/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/airship/__tests__/airship.test.ts
  packages/destination-actions/src/destinations/airship/__tests__/utilities.test.ts
  packages/destination-actions/src/destinations/airship/customEvents/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/airship/customEvents/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/airship/customEvents/generated-types.ts
  packages/destination-actions/src/destinations/airship/customEvents/index.ts
  packages/destination-actions/src/destinations/airship/index.ts
  packages/destination-actions/src/destinations/airship/manageTags/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/airship/manageTags/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/airship/manageTags/generated-types.ts
  packages/destination-actions/src/destinations/airship/manageTags/index.ts
  packages/destination-actions/src/destinations/airship/setAttributes/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/airship/setAttributes/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/airship/setAttributes/generated-types.ts
  packages/destination-actions/src/destinations/airship/setAttributes/index.ts
  packages/destination-actions/src/destinations/airship/utilities.ts
Due: destination-actions

tests, as per review, plus bonus
  packages/destination-actions/src/destinations/airship/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/airship/__tests__/airship.test.ts
  packages/destination-actions/src/destinations/airship/__tests__/utilities.test.ts
  packages/destination-actions/src/destinations/airship/customEvents/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/airship/manageTags/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/airship/manageTags/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/airship/setAttributes/__tests__/__snapshots__/snapshot.test.ts.snap
Due: destination-actions

fix(wingify): address PR #3839 review and use collect.wingify.net endpoints
  packages/destination-actions/src/destinations/index.ts
  packages/destination-actions/src/destinations/wingify/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/identifyUser/generated-types.ts
  packages/destination-actions/src/destinations/wingify/identifyUser/index.ts
  packages/destination-actions/src/destinations/wingify/index.ts
  packages/destination-actions/src/destinations/wingify/metadata.json
  packages/destination-actions/src/destinations/wingify/pageVisit/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/pageVisit/generated-types.ts
  packages/destination-actions/src/destinations/wingify/pageVisit/index.ts
  packages/destination-actions/src/destinations/wingify/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/syncAudience/index.ts
  packages/destination-actions/src/destinations/wingify/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/wingify/trackEvent/index.ts
  packages/destination-actions/src/destinations/wingify/utility.ts
Due: destination-actions

docs: clarify Intercom Identify Contact timestamp fields accept Unix
  packages/destination-actions/src/destinations/intercom/identifyContact/index.ts
Due: destination-actions

generate types
  packages/destination-actions/src/destinations/intercom/identifyContact/generated-types.ts
  packages/destination-actions/src/destinations/intercom/metadata.json
  packages/destination-actions/src/destinations/pinterest-conversions/metadata.json
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/contactDataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/dataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
  packages/destination-actions/src/destinations/sendgrid/metadata.json
  packages/destination-actions/src/destinations/sendgrid/sendEmail/generated-types.ts
Due: destination-actions

chore: regenerate types and metadata for Intercom timestamp docs
  packages/destination-actions/src/destinations/intercom/identifyContact/generated-types.ts
  packages/destination-actions/src/destinations/intercom/metadata.json
Due: destination-actions

Fix Wingify SmartCode init null-safety and strengthen tests.
  packages/browser-destinations/destinations/wingify/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/wingify/src/init-script.ts
Due: browser-destinations

update field descriptions for actions-sendgrid and actions-pinterest-conversion-api (#3798)
  packages/destination-actions/src/destinations/intercom/identifyContact/generated-types.ts
  packages/destination-actions/src/destinations/intercom/identifyContact/index.ts
  packages/destination-actions/src/destinations/intercom/metadata.json
  packages/destination-actions/src/destinations/pinterest-conversions/metadata.json
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/generated-types.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/contactDataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/dataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-properties.ts
  packages/destination-actions/src/destinations/sendgrid/metadata.json
  packages/destination-actions/src/destinations/sendgrid/sendEmail/fields.ts
  packages/destination-actions/src/destinations/sendgrid/sendEmail/generated-types.ts
Due: destination-actions

update event emitter track even
  packages/core/package.json
  packages/destination-actions/src/destinations/display-video-360/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/presets.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/tiktok-audiences/index.ts
Due: core, destination-actions

fix: update @segment/action-destinations to version 3.494.1-staging.3
  packages/cli/package.json
Due: none

fix(ms-bing-ads-audiences): surface real Bing API errors in createAudience
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/index.ts
Due: destination-actions

feat: add "Journey Step All Events" action to multiple destinations
  packages/destination-actions/src/destinations/display-video-360/metadata.json
  packages/destination-actions/src/destinations/facebook-custom-audiences/metadata.json
  packages/destination-actions/src/destinations/google-enhanced-conversions/metadata.json
  packages/destination-actions/src/destinations/tiktok-audiences/metadata.json
Due: destination-actions

[STRATCONN-6380] First Party DV360: update default mappings to align with Segment event structure
  packages/destination-actions/src/destinations/first-party-dv360/properties.ts
Due: destination-actions

[STRATCONN-6582] SFMC: add batching logic for getCategoryList to prevent timeouts on large accounts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/getCategoryList.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-properties.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/versioning-info.ts
Due: destination-actions

[STRATCONN-6808] Google Enhanced Conversions: refresh OAuth token before fetching list_id dropdown
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

refactor(ms-bing-ads-audiences): extract createAudience logic to utils, drop RetryableError
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/index.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/utils.ts
Due: destination-actions

ci: migrate runs-on to Twilio runner labels + SHA-pin actions
  .github/workflows/ci.yml
  .github/workflows/configure-pr.yml
  .github/workflows/ext.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish.yml
  .github/workflows/required-field-check.yml
  .github/workflows/required-secret-check.yml
  .github/workflows/version-packages.yml
Due: none

refactor(ms-bing-ads-audiences): address PR review feedback
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/utils.ts
Due: destination-actions

fix(ms-bing-ads-audiences): read parsed response content instead of re-reading stream
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/utils.ts
Due: destination-actions

Added AsyncAction support to actions core
  packages/core/src/__tests__/batching.test.ts
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/create-test-integration.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
  packages/core/src/index.ts
Due: core

Added Async Action to SFMC
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/fields.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

Upgraded liquidjs
  package.json
  packages/actions-shared/package.json
  packages/destination-actions/package.json
  yarn.lock
Due: actions-shared, destination-actions

Twilio BK Migration
  yarn.lock
Due: none

Added subscription_type field
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/fields.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: core, destination-actions

Incremented package versions
  packages/actions-shared/package.json
  packages/browser-destination-runtime/package.json
  packages/browser-destinations/destinations/braze/package.json
  packages/browser-destinations/destinations/bucket/package.json
  packages/browser-destinations/destinations/cj/package.json
  packages/browser-destinations/destinations/commandbar/package.json
  packages/browser-destinations/destinations/friendbuy/package.json
  packages/browser-destinations/destinations/fullstory/package.json
  packages/browser-destinations/destinations/google-analytics-4-web/package.json
  packages/browser-destinations/destinations/heap/package.json
  packages/browser-destinations/destinations/hubble-web/package.json
  packages/browser-destinations/destinations/hubspot-web/package.json
  packages/browser-destinations/destinations/intercom/package.json
  packages/browser-destinations/destinations/iterate/package.json
  packages/browser-destinations/destinations/koala/package.json
  packages/browser-destinations/destinations/logrocket/package.json
  packages/browser-destinations/destinations/playerzero-web/package.json
  packages/browser-destinations/destinations/rupt/package.json
  packages/browser-destinations/destinations/screeb/package.json
  packages/browser-destinations/destinations/sprig-web/package.json
  packages/browser-destinations/destinations/stackadapt/package.json
  packages/browser-destinations/destinations/tiktok-pixel/package.json
  packages/browser-destinations/destinations/userpilot/package.json
  packages/browser-destinations/destinations/vwo/package.json
  packages/browser-destinations/destinations/wisepops/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
  packages/warehouse-destinations/package.json
Due: core, actions-shared, destination-actions, browser-destinations, destinations-manifest

refactor: remove @segment/action-emitters dependency and hardcode EventEmitterSlug type (#3844)
  packages/core/package.json
  packages/core/src/destination-kit/event-emitter-types.ts
  packages/core/src/destination-kit/index.ts
Due: core

Pin all public GitHub Actions in core workflows to immutable commit SHAs (#3800)
  .github/workflows/ci.yml
  .github/workflows/configure-pr.yml
  .github/workflows/ext.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish.yml
  .github/workflows/required-field-check.yml
  .github/workflows/required-secret-check.yml
  .github/workflows/version-packages.yml
Due: none

ci: migrate runs-on to Twilio runner labels + SHA-pin actions (#3847)
  .github/workflows/ci.yml
  .github/workflows/configure-pr.yml
  .github/workflows/ext.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish.yml
  .github/workflows/required-field-check.yml
  .github/workflows/required-secret-check.yml
  .github/workflows/version-packages.yml
  package.json
  yarn.lock
Due: none

Revert " STRATCONN-0000/added-copilot-as-default-reviewer (#3685)" (#3706)
  scripts/github-action/get-reviewers.js
Due: none

[Accoustic] - Removing unreferenced field (#3803)
  packages/destination-actions/src/destinations/acoustic/generated-types.ts
  packages/destination-actions/src/destinations/acoustic/index.ts
Due: destination-actions

feat(ms-bing-ads-audiences): add flag-gated debug logging of API responses
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions
