Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

feat(braze-web): upgrade SDK to v6.5.0 with opt-in support
  packages/browser-destinations/destinations/braze/breaking-changes-analysis.md
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/versioning-info.ts
Due: browser-destinations

feat(skill/api-version-upgrade): add browser-mode destination support
  .claude/skills/api-version-upgrade/SKILL.md
Due: none

Revert "tracing for iterable change"
  packages/destination-actions/src/destinations/iterable/updateUser/index.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

Use explicit check for timestamp
  packages/destination-actions/src/destinations/recombee/recombeeApiClient.ts
Due: destination-actions

Update @segment/action-emitters to v1.3.11
  packages/core/package.json
  yarn.lock
Due: core

Update @segment/action-emitters to 1.3.12
  packages/core/package.json
  yarn.lock
Due: core

Fix Google Enhanced Conversions preset: use userList instead of uploadCallConversion2
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
Due: destination-actions

Migrated from ts-jest to swc-test
  .swcrc
  jest-swc-transformer.js
  package.json
  packages/actions-shared/.swcrc
  packages/actions-shared/package.json
  packages/actions-shared/src/engage/utils/__tests__/MessageSendPerformer.test.ts
  packages/ajv-human-errors/.swcrc
  packages/ajv-human-errors/jest.config.js
  packages/browser-destination-runtime/.swcrc
  packages/browser-destination-runtime/package.json
  packages/browser-destinations/.swcrc
  packages/browser-destinations/package.json
  packages/browser-destinations/test/setup-after-env.ts
  packages/cli/.swcrc
  packages/cli/package.json
  packages/cli/src/__tests__/init.test.ts
  packages/core/.swcrc
  packages/core/package.json
  packages/destination-actions/.swcrc
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/liveramp-audiences/__tests__/snapshot.test.ts
  packages/destination-subscriptions/.swcrc
  packages/destination-subscriptions/package.json
  yarn.lock
Due: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions

Migrated to SWC build system
  .swcrc.cjs
  .swcrc.esm
  package.json
  packages/ajv-human-errors/package.json
  packages/core/package.json
  packages/destination-subscriptions/package.json
  scripts/build-swc.sh
  yarn.lock
Due: core, ajv-human-errors, destination-subscriptions

test: add assertion to empty resolveIdentifiers test case
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
Due: destination-actions

Hubspot testing
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/validate.test.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/cache-functions.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/validation-functions.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/index.ts
Due: destination-actions

Add Claude Code skills for destination development workflow (#3666)
  .claude/commands/endpoint-mapping.md
  .claude/commands/generate-destination.md
  .claude/commands/refined-actions.md
  .claude/commands/spec-generator.md
Due: none

Fix CI Snyk vulnerabilities in liquidjs and fast-xml-parser (#3686)
  package.json
  packages/actions-shared/package.json
  packages/cli/package.json
  packages/destination-actions/package.json
  yarn.lock
Due: actions-shared, destination-actions

test(linkedin-audiences): assert LinkedIn-Version header on dmpSegments lookup in feature flag tests
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
Due: destination-actions

fix: workflow only validates payloads, no auto-commit to branch
  .github/workflows/generate-push-payloads.yml
Due: none

fix(linkedin-conversions): use valid timestamp in snapshot test
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/snapshot.test.ts
Due: destination-actions

refactor(linkedin-conversions): use jest.spyOn for Date.now mock in snapshot test
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/snapshot.test.ts
Due: destination-actions

fix: resolve browser destination manifests from repo root, commit missing payloads
  packages/browser-destinations/destinations/1flow/payload.json
  packages/browser-destinations/destinations/adobe-target/payload.json
  packages/browser-destinations/destinations/appcues-web/payload.json
  packages/browser-destinations/destinations/braze/payload.json
  packages/browser-destinations/destinations/bucket/payload.json
  packages/browser-destinations/destinations/cdpresolution/payload.json
  packages/browser-destinations/destinations/cj/payload.json
  packages/browser-destinations/destinations/commandbar/payload.json
  packages/browser-destinations/destinations/contentstack-web/payload.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/payload.json
  packages/browser-destinations/destinations/friendbuy/payload.json
  packages/browser-destinations/destinations/fullsession/payload.json
  packages/browser-destinations/destinations/fullstory/payload.json
  packages/browser-destinations/destinations/google-analytics-4-web/payload.json
  packages/browser-destinations/destinations/google-campaign-manager/payload.json
  packages/browser-destinations/destinations/heap/payload.json
  packages/browser-destinations/destinations/hubble-web/payload.json
  packages/browser-destinations/destinations/hubspot-web/payload.json
  packages/browser-destinations/destinations/intercom/payload.json
  packages/browser-destinations/destinations/iterate/payload.json
  packages/browser-destinations/destinations/jimo/payload.json
  packages/browser-destinations/destinations/koala/payload.json
  packages/browser-destinations/destinations/logrocket/payload.json
  packages/browser-destinations/destinations/mixpanel-web/payload.json
  packages/browser-destinations/destinations/moengage-web/payload.json
  packages/browser-destinations/destinations/pendo-web-actions/payload.json
  packages/browser-destinations/destinations/playerzero-web/payload.json
  packages/browser-destinations/destinations/replaybird/payload.json
  packages/browser-destinations/destinations/screeb/payload.json
  packages/browser-destinations/destinations/segment-utilities-web/payload.json
  packages/browser-destinations/destinations/sprig-web/payload.json
  packages/browser-destinations/destinations/stackadapt/payload.json
  packages/browser-destinations/destinations/survicate/payload.json
  packages/browser-destinations/destinations/tiktok-pixel/payload.json
  packages/browser-destinations/destinations/userpilot/payload.json
  packages/browser-destinations/destinations/vwo/payload.json
  packages/browser-destinations/destinations/wisepops/payload.json
  packages/cli/src/lib/destinations.ts
  scripts/assert-push-payloads-updated.sh
Due: browser-destinations

[STRATCONN-6704] Fix customerId hyphen stripping in GEC batch paths (#3747)
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadCallConversion.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadCallConversion2.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion2.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadConversionAdjustment2.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion2/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadConversionAdjustment2/index.ts
Due: destination-actions

fix: remove process.version from acoustic destination field default
  packages/destination-actions/src/destinations/acoustic/index.ts
  packages/destination-actions/src/destinations/acoustic/payload.json
Due: destination-actions

rename: push-payload → generate:metadata-payload, assert-metadata-payload.sh
  .github/workflows/ci.yml
  .github/workflows/generate-push-payloads.yml
  package.json
  packages/cli/src/commands/generate/metadata-payload.ts
  scripts/assert-metadata-payload.sh
  scripts/assert-push-payloads-updated.sh
Due: none

feat: add generate:metadata-payload CLI command and assert script
  .github/workflows/generate-push-payloads.yml
  .github/workflows/required-field-check.yml
  .prettierignore
  package.json
  packages/cli/src/commands/generate/metadata-payload.ts
  packages/cli/src/lib/destinations.ts
  packages/destination-actions/src/destinations/acoustic/index.ts
  scripts/assert-metadata-payload.sh
Due: destination-actions

feat: add metadata.json for browser destinations (40 files)
  packages/browser-destinations/destinations/1flow/metadata.json
  packages/browser-destinations/destinations/adobe-target/metadata.json
  packages/browser-destinations/destinations/appcues-web/metadata.json
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/bucket/metadata.json
  packages/browser-destinations/destinations/cdpresolution/metadata.json
  packages/browser-destinations/destinations/cj/metadata.json
  packages/browser-destinations/destinations/commandbar/metadata.json
  packages/browser-destinations/destinations/contentstack-web/metadata.json
  packages/browser-destinations/destinations/evolv-ai/metadata.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/metadata.json
  packages/browser-destinations/destinations/friendbuy/metadata.json
  packages/browser-destinations/destinations/fullsession/metadata.json
  packages/browser-destinations/destinations/fullstory/metadata.json
  packages/browser-destinations/destinations/google-analytics-4-web/metadata.json
  packages/browser-destinations/destinations/google-campaign-manager/metadata.json
  packages/browser-destinations/destinations/heap/metadata.json
  packages/browser-destinations/destinations/hubble-web/metadata.json
  packages/browser-destinations/destinations/hubspot-web/metadata.json
  packages/browser-destinations/destinations/intercom/metadata.json
  packages/browser-destinations/destinations/iterate/metadata.json
  packages/browser-destinations/destinations/jimo/metadata.json
  packages/browser-destinations/destinations/koala/metadata.json
  packages/browser-destinations/destinations/logrocket/metadata.json
  packages/browser-destinations/destinations/mixpanel-web/metadata.json
  packages/browser-destinations/destinations/moengage-web/metadata.json
  packages/browser-destinations/destinations/pendo-web-actions/metadata.json
  packages/browser-destinations/destinations/playerzero-web/metadata.json
  packages/browser-destinations/destinations/reddit-pixel/metadata.json
  packages/browser-destinations/destinations/replaybird/metadata.json
  packages/browser-destinations/destinations/rupt/metadata.json
  packages/browser-destinations/destinations/screeb/metadata.json
  packages/browser-destinations/destinations/segment-utilities-web/metadata.json
  packages/browser-destinations/destinations/sprig-web/metadata.json
  packages/browser-destinations/destinations/stackadapt/metadata.json
  packages/browser-destinations/destinations/survicate/metadata.json
  packages/browser-destinations/destinations/tiktok-pixel/metadata.json
  packages/browser-destinations/destinations/userpilot/metadata.json
  packages/browser-destinations/destinations/vwo/metadata.json
  packages/browser-destinations/destinations/wisepops/metadata.json
Due: browser-destinations

feat: assert metadata.json files are up-to-date in CI validate job
  .github/workflows/ci.yml
Due: none

remove: generate-push-payloads.yml workflow (not needed)
  .github/workflows/generate-push-payloads.yml
Due: none

revert: restore acoustic/index.ts to original (process.version to be addressed separately)
  packages/destination-actions/src/destinations/acoustic/index.ts
Due: destination-actions

fix: address Copilot review comments
  packages/cli/src/commands/generate/metadata-payload.ts
  scripts/assert-metadata-payload.sh
Due: none

chore: exclude packages/cli/src from codecov coverage
  codecov.yml
Due: none

test: add tests for generate:metadata-payload command
  packages/cli/package.json
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

update tiktok preset mapping
  packages/destination-actions/src/destinations/tiktok-audiences/index.ts
Due: destination-actions

removing bad preset
  packages/destination-actions/src/destinations/display-video-360/index.ts
  yarn.lock
Due: destination-actions

Publish Canary
  packages/actions-shared/package.json
  packages/browser-destinations/destinations/braze-cloud-plugins/package.json
  packages/browser-destinations/destinations/braze/package.json
  packages/browser-destinations/destinations/friendbuy/package.json
  packages/browser-destinations/destinations/intercom/package.json
  packages/core/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: core, actions-shared, destination-actions, browser-destinations, destinations-manifest

Added validation on external_id of character 255
  packages/destination-actions/src/destinations/klaviyo/config.ts
  packages/destination-actions/src/destinations/klaviyo/functions.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfile/index.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfileFromList/index.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/index.ts
Due: destination-actions

Added description in external_id field
  packages/destination-actions/src/destinations/klaviyo/properties.ts
Due: destination-actions

fix: normalize dynamic field resolver functions to boolean in metadata payload
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none
