Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Add S3 destination e2e fixtures (hashing, batching, fields, audiences)
  packages/destination-actions/src/destinations/s3/__e2e__/index.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__e2e__/audiences.e2e.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__e2e__/batching.e2e.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__e2e__/fields.e2e.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__e2e__/hashing.e2e.ts
Due: destination-actions

Refine S3 e2e fixtures: dedicated formats file, simpler audiences, labeled filenames
  packages/destination-actions/src/destinations/s3/syncToS3/__e2e__/audiences.e2e.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__e2e__/batching.e2e.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__e2e__/fields.e2e.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__e2e__/formats.e2e.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__e2e__/hashing.e2e.ts
Due: destination-actions

Build with artifactory pull through cache (#3849)
  .github/actions/artifactory-oidc/action.yml
  .github/workflows/ci.yml
  .github/workflows/ext.yml
Due: none

updating skills
  .claude/commands/generate-destination.md
  .claude/skills/QUICK_START.md
  .claude/skills/README.md
  README.md
Due: none

remove extra new lines
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
Due: destination-actions

remove extra new lines (#3853)
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
Due: destination-actions

Reconcile Vibe trackConversionEvent with spec
  packages/destination-actions/src/destinations/vibe-actions/index.ts
  packages/destination-actions/src/destinations/vibe-actions/metadata.json
  packages/destination-actions/src/destinations/vibe-actions/trackConversionEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vibe-actions/trackConversionEvent/generated-types.ts
  packages/destination-actions/src/destinations/vibe-actions/trackConversionEvent/index.ts
Due: destination-actions

[Vibe Tracking Event] - add conversion events destination
  packages/destination-actions/src/destinations/vibe-conversions/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/vibe-conversions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vibe-conversions/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/vibe-conversions/constants.ts
  packages/destination-actions/src/destinations/vibe-conversions/generated-types.ts
  packages/destination-actions/src/destinations/vibe-conversions/index.ts
  packages/destination-actions/src/destinations/vibe-conversions/metadata.json
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/generated-types.ts
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/index.ts
  packages/destination-actions/src/destinations/vibe-conversions/types.ts
  packages/destination-actions/src/destinations/vibe-conversions/utils.ts
Due: destination-actions

[Vibe Tracking Event] - enable batching and add reserved event-data fields
  packages/destination-actions/src/destinations/vibe-conversions/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/vibe-conversions/metadata.json
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/generated-types.ts
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/index.ts
  packages/destination-actions/src/destinations/vibe-conversions/utils.ts
Due: destination-actions

STRATCONN-6707 added OAUTH changes and create and getaudience changes for google enhanced conversion destination in early july
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

Add Mailchimp (Actions) cloud destination
  packages/destination-actions/src/destinations/actions-mailchimp/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/actions-mailchimp/__tests__/index.test.ts
  packages/destination-actions/src/destinations/actions-mailchimp/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/actions-mailchimp/addOrRemoveTags/__tests__/index.test.ts
  packages/destination-actions/src/destinations/actions-mailchimp/addOrRemoveTags/generated-types.ts
  packages/destination-actions/src/destinations/actions-mailchimp/addOrRemoveTags/index.ts
  packages/destination-actions/src/destinations/actions-mailchimp/addOrUpdateMember/__tests__/index.test.ts
  packages/destination-actions/src/destinations/actions-mailchimp/addOrUpdateMember/generated-types.ts
  packages/destination-actions/src/destinations/actions-mailchimp/addOrUpdateMember/index.ts
  packages/destination-actions/src/destinations/actions-mailchimp/constants.ts
  packages/destination-actions/src/destinations/actions-mailchimp/generated-types.ts
  packages/destination-actions/src/destinations/actions-mailchimp/index.ts
  packages/destination-actions/src/destinations/actions-mailchimp/metadata.json
  packages/destination-actions/src/destinations/actions-mailchimp/types.ts
  packages/destination-actions/src/destinations/actions-mailchimp/utils.ts
Due: destination-actions

trim column_name and hash_algorithm in validateColumnsToHash
  packages/destination-actions/src/destinations/s3/syncToS3/functions.ts
Due: destination-actions

Address Wingify PR review feedback on tests and init safety.
  packages/browser-destinations/destinations/wingify/metadata.json
  packages/browser-destinations/destinations/wingify/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/wingify/src/identifyUser/__tests__/index.test.ts
  packages/browser-destinations/destinations/wingify/src/init-script.ts
  packages/browser-destinations/destinations/wingify/src/trackEvent/__tests__/index.test.ts
Due: browser-destinations

test(ms-bing-ads-audiences): reference MAX_ERROR_BODY_LENGTH instead of hardcoding 2048
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/utils.ts
Due: destination-actions

docs: prefer batch endpoints and detect perform/performBatch reuse
  .claude/commands/endpoint-mapping.md
  .claude/commands/generate-destination.md
Due: none

docs: harden destination-generator skill from PR feedback + document /orchestrate (#3852)
  .claude/commands/endpoint-mapping.md
  .claude/commands/generate-destination.md
  .claude/skills/QUICK_START.md
  .claude/skills/README.md
  README.md
Due: none

[Vibe Tracking Event] - address PR review feedback
  packages/destination-actions/src/destinations/vibe-conversions/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/vibe-conversions/index.ts
  packages/destination-actions/src/destinations/vibe-conversions/metadata.json
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/generated-types.ts
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/index.ts
  packages/destination-actions/src/destinations/vibe-conversions/utils.ts
Due: destination-actions

[Vibe Tracking Event] - use InvalidAuthenticationError in testAuthentication
  packages/destination-actions/src/destinations/vibe-conversions/index.ts
Due: destination-actions

[Vibe Tracking Event] - restore performBatch, drop future-timestamp check
  packages/destination-actions/src/destinations/vibe-conversions/metadata.json
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/generated-types.ts
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/index.ts
  packages/destination-actions/src/destinations/vibe-conversions/utils.ts
Due: destination-actions

fix(ms-bing-ads-audiences): never echo raw Bing body; use safe placeholder
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/utils.ts
Due: destination-actions

[Webhook] Add X-Segment-Signature header toggle and fix batch signing
  packages/destination-actions/src/destinations/webhook-audiences/generated-types.ts
  packages/destination-actions/src/destinations/webhook-audiences/index.ts
  packages/destination-actions/src/destinations/webhook-audiences/metadata.json
  packages/destination-actions/src/destinations/webhook-extensible/__test__/webhook.test.ts
  packages/destination-actions/src/destinations/webhook-extensible/generated-types.ts
  packages/destination-actions/src/destinations/webhook-extensible/index.ts
  packages/destination-actions/src/destinations/webhook-extensible/metadata.json
  packages/destination-actions/src/destinations/webhook/__test__/webhook.test.ts
  packages/destination-actions/src/destinations/webhook/generated-types.ts
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

Remove redundant validateAction from iterable updateSubscriptions
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/constants.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/functions.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/index.ts
Due: destination-actions

Assert batch subscriptions invariant in iterable updateSubscriptions
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/functions.ts
Due: destination-actions

Add e2e fixtures for iterable updateSubscriptions
  packages/destination-actions/src/destinations/iterable/__e2e__/index.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/functions.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/index.ts
Due: destination-actions

Sync updateSubscriptions action from e2e-framework-plus-tests
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/constants.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/functions.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/generated-types.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/index.ts
Due: destination-actions

[Amplitude Cohorts] e2e: cover nonexistent user in batch cohort add
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.e2e.ts
Due: destination-actions

[LinkedIn Audiences] Add Company Audience sync action
  packages/destination-actions/src/destinations/linkedin-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-audiences/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/hooks.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/types.ts
Due: destination-actions

feat(reddit-conversions-api): implement v3 payload behind feature flag
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/index.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/fields.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/metadata.json
  packages/destination-actions/src/destinations/reddit-conversions-api/shared.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v2.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3.ts
Due: destination-actions

[LinkedIn Audiences] Harden Company Audience error handling
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

chore: upgrade lerna 8 → 9 (Phase 1 of OIDC trusted publishing)
  docs/lerna9-trusted-publishing-plan.md
  package.json
  yarn.lock
Due: none

Delete docs/lerna9-trusted-publishing-plan.md
  docs/lerna9-trusted-publishing-plan.md
Due: none

chore: upgrade lerna 8 → 9 (Phase 1 of OIDC trusted publishing) (#3857)
  package.json
  yarn.lock
Due: none

new trusted publishing workflow
  .github/workflows/publish-canary.yml
  .github/workflows/publish.yml
Due: none

fix(ms-bing-capi): item price should be number not integer
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/__tests__/sendEvent.test.ts
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/fields.ts
Due: destination-actions

STRATCONN-6707 added testcases for partnerlink and oauth changes in google enhanced conversion action
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/google-enhanced-conversions.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
Due: destination-actions

[Quora Conversions API] - new cloud-mode destination
  packages/destination-actions/src/destinations/actions-quora/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/actions-quora/__tests__/index.test.ts
  packages/destination-actions/src/destinations/actions-quora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/actions-quora/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/actions-quora/constants.ts
  packages/destination-actions/src/destinations/actions-quora/generated-types.ts
  packages/destination-actions/src/destinations/actions-quora/index.ts
  packages/destination-actions/src/destinations/actions-quora/metadata.json
  packages/destination-actions/src/destinations/actions-quora/trackConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/actions-quora/trackConversion/fields.ts
  packages/destination-actions/src/destinations/actions-quora/trackConversion/generated-types.ts
  packages/destination-actions/src/destinations/actions-quora/trackConversion/index.ts
  packages/destination-actions/src/destinations/actions-quora/types.ts
  packages/destination-actions/src/destinations/actions-quora/utils.ts
Due: destination-actions
