Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

chore: update test-browser.sh for pnpm
  scripts/test-browser.sh
Due: none

chore: update canary.sh for pnpm
  scripts/canary.sh
Due: none

chore: migrate ci.yml to pnpm
  .github/workflows/ci.yml
Due: none

chore: update commented yarn references in ci.yml
  .github/workflows/ci.yml
Due: none

chore: migrate ext.yml to pnpm
  .github/workflows/ext.yml
Due: none

chore: migrate publish.yml to pnpm
  .github/workflows/publish.yml
Due: none

chore: migrate required-secret-check.yml to pnpm
  .github/workflows/required-secret-check.yml
Due: none

chore: migrate version-packages.yml to pnpm
  .github/workflows/version-packages.yml
Due: none

chore: migrate publish-canary.yml to pnpm
  .github/workflows/publish-canary.yml
Due: none

chore: migrate required-field-check.yml to pnpm
  .github/workflows/required-field-check.yml
Due: none

chore: replace yarn.lock with pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: none

docs: update CLAUDE.md commands from yarn to pnpm
  CLAUDE.md
Due: none

Add error body to parseErrorResponseBatch for better debugging
  packages/destination-actions/src/destinations/marketo-static-lists/functions.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

update yarn.lock
  yarn.lock
Due: none

Add error code tracking to audience list operations for improved debugging
  packages/destination-actions/src/destinations/marketo-static-lists/functions.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
  yarn.lock
Due: destination-actions

Fixed type error
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/generated-types.ts
Due: destination-actions

fixing initialize
  packages/browser-destinations/destinations/moengage-web/src/functions.ts
  packages/browser-destinations/destinations/moengage-web/src/index.ts
Due: browser-destinations

sd
  packages/browser-destinations/destinations/moengage-web/src/functions.ts
  packages/browser-destinations/destinations/moengage-web/src/index.ts
Due: browser-destinations

refacting vendor code
  packages/browser-destinations/destinations/moengage-web/src/functions.ts
Due: browser-destinations

Use exported constants in canary-version tests and remove analysis doc
  packages/destination-actions/src/destinations/google-campaign-manager-360/breaking-changes-analysis.md
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionAdjustmentUpload/__tests__/index.test.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionUpload/__tests__/index.test.ts
Due: destination-actions

sd
  packages/browser-destinations/destinations/moengage-web/src/functions.ts
Due: browser-destinations

Allow codecov patch check to pass when no coverage is uploaded
  codecov.yml
Due: none

fix test cases & error handling
  packages/destination-actions/src/destinations/marketo-static-lists/__tests__/multistatus.test.ts
  packages/destination-actions/src/destinations/marketo-static-lists/functions.ts
Due: destination-actions

adding validation and new setting field
  packages/destination-actions/src/destinations/amazon-conversions-api/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/generated-types.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/utils.ts
Due: destination-actions

fix test cases code coverage
  packages/destination-actions/src/destinations/marketo-static-lists/__tests__/multistatus.test.ts
  packages/destination-actions/src/destinations/marketo-static-lists/functions.ts
Due: destination-actions

Update Altertable's destination ahead of public beta
  packages/destination-actions/src/destinations/altertable/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/altertable/alias/__tests__/index.test.ts
  packages/destination-actions/src/destinations/altertable/alias/generated-types.ts
  packages/destination-actions/src/destinations/altertable/alias/index.ts
  packages/destination-actions/src/destinations/altertable/event/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/altertable/event/generated-types.ts
  packages/destination-actions/src/destinations/altertable/event/index.ts
  packages/destination-actions/src/destinations/altertable/fields.ts
  packages/destination-actions/src/destinations/altertable/index.ts
  packages/destination-actions/src/destinations/altertable/types.ts
  packages/destination-actions/src/destinations/altertable/utils.ts
Due: destination-actions

Fixed co-pilot-commit
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/index.ts
Due: destination-actions

Added unit test case
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
Due: destination-actions

updating description
  packages/destination-actions/src/destinations/amazon-conversions-api/generated-types.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/index.ts
Due: destination-actions

testing amazon capi changes in stage
  packages/destination-actions/src/destinations/amazon-conversions-api/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/generated-types.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/utils.ts
Due: destination-actions

Stratconn 6646/other trait groups support (#3668)
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

non breaking issues being fixed as a result of copilot review
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/types.ts
Due: destination-actions
