Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

adding types
  packages/browser-destinations/destinations/moengage-web/src/identifyUser/index.ts
  packages/browser-destinations/destinations/moengage-web/src/index.ts
  packages/browser-destinations/destinations/moengage-web/src/types.ts
Due: browser-destinations

code complete
  packages/browser-destinations/destinations/moengage-web/src/functions.ts
  packages/browser-destinations/destinations/moengage-web/src/identifyUser/index.ts
  packages/browser-destinations/destinations/moengage-web/src/index.ts
  packages/browser-destinations/destinations/moengage-web/src/trackEvent/index.ts
  packages/browser-destinations/destinations/moengage-web/src/types.ts
Due: browser-destinations

adding unit tests
  packages/browser-destinations/destinations/moengage-web/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/identifyUser/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/trackEvent/__tests__/index.test.ts
Due: browser-destinations

package version correction
  packages/browser-destinations/destinations/moengage-web/package.json
Due: browser-destinations

STRATCONN-6482 - [Braze] - fix to account for change in how Braze calculates batch sizes
  packages/destination-actions/src/destinations/braze/__tests__/multistatus.test.ts
  packages/destination-actions/src/destinations/braze/constants.ts
  packages/destination-actions/src/destinations/braze/utils.ts
Due: destination-actions

completing PR and adding tests
  packages/browser-destinations/destinations/fullstory/src/__tests__/fullstory.test.ts
  packages/browser-destinations/destinations/fullstory/src/__tests__/fullstoryV2.test.ts
  packages/browser-destinations/destinations/fullstory/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/fullstory/src/generated-types.ts
  packages/browser-destinations/destinations/fullstory/src/index.ts
Due: browser-destinations

feat(Jimo/Cloud): update constants & auth header (#3547)
  packages/destination-actions/src/destinations/jimo-cloud/__tests__/index.test.ts
  packages/destination-actions/src/destinations/jimo-cloud/constants.ts
  packages/destination-actions/src/destinations/jimo-cloud/index.ts
  packages/destination-actions/src/destinations/jimo-cloud/sendUserdata/__tests__/index.test.ts
  packages/destination-actions/src/destinations/jimo-cloud/sendUserdata/index.ts
Due: destination-actions

Rokt Capi - bug fixes (#3554)
  packages/destination-actions/src/destinations/lark/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/rokt-capi/index.ts
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/rokt-capi/send/fields.ts
  packages/destination-actions/src/destinations/rokt-capi/send/functions.ts
  packages/destination-actions/src/destinations/rokt-capi/send/generated-types.ts
Due: destination-actions

STRATCONN-6214 - [Google Ads Conversions] - adding hybrid preset (#3557)
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
Due: destination-actions

STRATCONN-6213 - [MoEngage Web] - New Destination (#3424)
  packages/browser-destinations/destinations/moengage-web/README.md
  packages/browser-destinations/destinations/moengage-web/package.json
  packages/browser-destinations/destinations/moengage-web/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/functions.ts
  packages/browser-destinations/destinations/moengage-web/src/generated-types.ts
  packages/browser-destinations/destinations/moengage-web/src/identifyUser/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/identifyUser/generated-types.ts
  packages/browser-destinations/destinations/moengage-web/src/identifyUser/index.ts
  packages/browser-destinations/destinations/moengage-web/src/index.ts
  packages/browser-destinations/destinations/moengage-web/src/trackEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/trackEvent/generated-types.ts
  packages/browser-destinations/destinations/moengage-web/src/trackEvent/index.ts
  packages/browser-destinations/destinations/moengage-web/src/types.ts
  packages/browser-destinations/destinations/moengage-web/tsconfig.json
Due: browser-destinations

Adds Claude.md
  CLAUDE.md
Due: none

merge fix/linkedin-audiences-401-handling into staging
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
Due: destination-actions

Publish Canary
  packages/browser-destinations/destinations/facebook-conversions-api-web/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: destination-actions, browser-destinations, destinations-manifest

Add userId fallback with hashing when anonymousId is undefined
  packages/destination-actions/src/destinations/avo/sendSchemaToInspector/generated-types.ts
  packages/destination-actions/src/destinations/avo/sendSchemaToInspector/index.ts
Due: destination-actions

register moengage web
  packages/browser-destinations/destinations/moengage-web/package.json
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: browser-destinations, destinations-manifest

register moengage web (#3560)
  packages/browser-destinations/destinations/moengage-web/package.json
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: browser-destinations, destinations-manifest

braze urls for Japan
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/destination-actions/src/destinations/braze/index.ts
Due: destination-actions, browser-destinations

removing web change
  packages/browser-destinations/destinations/braze/src/index.ts
Due: browser-destinations

braze web jp support
  packages/browser-destinations/destinations/braze/src/index.ts
Due: browser-destinations

missing comma
  packages/destination-actions/src/destinations/braze/index.ts
Due: destination-actions

STRATCONN-6525 - [Braze] - JP support (#3561)
  packages/destination-actions/src/destinations/braze/index.ts
Due: destination-actions

registering destination
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

dot digital wuaidnece stub - for registration
  packages/destination-actions/src/destinations/dotdigital-audiences/generated-types.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

dot digital wuaidnece stub - for registration (#3563)
  packages/destination-actions/src/destinations/dotdigital-audiences/generated-types.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

dotdigital destinations testing in stage
  packages/actions-shared/src/dotdigital/api/dd-api.ts
  packages/actions-shared/src/dotdigital/api/index.ts
  packages/actions-shared/src/dotdigital/api/resources/dd-campaign-api.ts
  packages/actions-shared/src/dotdigital/api/resources/dd-contact-api.ts
  packages/actions-shared/src/dotdigital/api/resources/dd-cpaas-api.ts
  packages/actions-shared/src/dotdigital/api/resources/dd-datafields-api.ts
  packages/actions-shared/src/dotdigital/api/resources/dd-email-api.ts
  packages/actions-shared/src/dotdigital/api/resources/dd-enrolment-api.ts
  packages/actions-shared/src/dotdigital/api/resources/dd-lists-api.ts
  packages/actions-shared/src/dotdigital/api/resources/dd-sms-api.ts
  packages/actions-shared/src/dotdigital/api/types.ts
  packages/actions-shared/src/dotdigital/helpers/functions/__tests__/checkAndCleanMobileNumber.test.ts
  packages/actions-shared/src/dotdigital/helpers/functions/checkAndCleanEmail.ts
  packages/actions-shared/src/dotdigital/helpers/functions/checkAndCleanMobileNumber.ts
  packages/actions-shared/src/dotdigital/helpers/functions/index.ts
  packages/actions-shared/src/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/generated-types.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/types.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/types.ts
  packages/destination-actions/src/destinations/dotdigital/addContactToList/index.ts
  packages/destination-actions/src/destinations/dotdigital/enrolContact/index.ts
  packages/destination-actions/src/destinations/dotdigital/removeContactFromList/index.ts
  packages/destination-actions/src/destinations/dotdigital/sendEmailCampaign/index.ts
  packages/destination-actions/src/destinations/dotdigital/sendSms/index.ts
  packages/destination-actions/src/destinations/dotdigital/sendTransactionalEmail/index.ts
  packages/destination-actions/src/destinations/dotdigital/sendTransactionalSms/index.ts
  packages/destination-actions/src/destinations/index.ts
Due: actions-shared, destination-actions

[LinkedIn Audiences] Handle 401 errors from update audiences endpoint
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
Due: destination-actions

braze stage testing
  packages/destination-actions/src/destinations/braze/__tests__/multistatus.test.ts
  packages/destination-actions/src/destinations/braze/constants.ts
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/braze/ecommerce/constants.ts
  packages/destination-actions/src/destinations/braze/ecommerce/fields.ts
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
  packages/destination-actions/src/destinations/braze/ecommerce/generated-types.ts
  packages/destination-actions/src/destinations/braze/ecommerce/index.ts
  packages/destination-actions/src/destinations/braze/ecommerce/types.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/generated-types.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/index.ts
  packages/destination-actions/src/destinations/braze/index.ts
  packages/destination-actions/src/destinations/braze/trackPurchase/index.ts
  packages/destination-actions/src/destinations/braze/trackPurchase2/index.ts
  packages/destination-actions/src/destinations/braze/utils.ts
Due: destination-actions

iterable lists
  packages/destination-actions/src/destinations/iterable-lists/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/iterable-lists/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable-lists/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/iterable-lists/constants.ts
  packages/destination-actions/src/destinations/iterable-lists/functions.ts
  packages/destination-actions/src/destinations/iterable-lists/generated-types.ts
  packages/destination-actions/src/destinations/iterable-lists/index.ts
  packages/destination-actions/src/destinations/iterable-lists/syncAudience/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/iterable-lists/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable-lists/syncAudience/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/iterable-lists/syncAudience/fields.ts
  packages/destination-actions/src/destinations/iterable-lists/syncAudience/functions.ts
  packages/destination-actions/src/destinations/iterable-lists/syncAudience/index.ts
  packages/destination-actions/src/destinations/iterable-lists/syncAudience/iterable-client.ts
  packages/destination-actions/src/destinations/iterable-lists/syncAudience/types.ts
  packages/destination-actions/src/destinations/iterable-lists/types.ts
Due: destination-actions

Publish Canary
  packages/actions-shared/package.json
  packages/browser-destinations/destinations/friendbuy/package.json
  packages/browser-destinations/destinations/intercom/package.json
  packages/destination-actions/package.json
Due: actions-shared, destination-actions, browser-destinations

Enable postConversion temporarily
  packages/destination-actions/src/destinations/google-enhanced-conversions/postConversion/index.ts
Due: destination-actions

[LinkedIn Audiences] Handle 401 errors from update audiences endpoint (#3559)
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
Due: destination-actions

braze web jp support (#3562)
  packages/browser-destinations/destinations/braze/src/index.ts
Due: browser-destinations

tier-1/batch-3: refactor API versioning to use versioning-info module (#3472)
  packages/destination-actions/src/destinations/customerio/index.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
  packages/destination-actions/src/destinations/customerio/versioning-info.ts
  packages/destination-actions/src/destinations/fullstory/request-params.ts
  packages/destination-actions/src/destinations/fullstory/versioning-info.ts
  packages/destination-actions/src/destinations/hubspot/api/index.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/client.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/dynamic-field-functions.ts
  packages/destination-actions/src/destinations/hubspot/index.ts
  packages/destination-actions/src/destinations/hubspot/sendCustomBehavioralEvent/index.ts
  packages/destination-actions/src/destinations/hubspot/upsertCompany/index.ts
  packages/destination-actions/src/destinations/hubspot/upsertContact/index.ts
  packages/destination-actions/src/destinations/hubspot/upsertCustomObjectRecord/index.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/client.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/functions/dynamic-field-functions.ts
  packages/destination-actions/src/destinations/hubspot/versioning-info.ts
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/versioning-info.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/account.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/account2.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/cases.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/cases2.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/contact.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/contact2.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/customObject.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/customObject2.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/lead.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/lead2.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/opportunity.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/opportunity2.test.ts
  packages/destination-actions/src/destinations/salesforce/__tests__/sf-operations.test.ts
  packages/destination-actions/src/destinations/salesforce/sf-operations.ts
  packages/destination-actions/src/destinations/salesforce/versioning-info.ts
Due: destination-actions

Update packages/browser-destinations/destinations/fullstory/src/index.ts
  packages/browser-destinations/destinations/fullstory/src/index.ts
Due: browser-destinations

description updates for fields
  packages/browser-destinations/destinations/fullstory/src/generated-types.ts
  packages/browser-destinations/destinations/fullstory/src/index.ts
Due: browser-destinations

field render mode change
  packages/destination-actions/src/destinations/facebook-conversions-api/fields.ts
Due: destination-actions

Refactor: Create Avo Inspector v2 destination and revert v1 to original state
  packages/destination-actions/src/destinations/avo-v2/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/avo-v2/__tests__/index.test.ts
  packages/destination-actions/src/destinations/avo-v2/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/avo-v2/generated-types.ts
  packages/destination-actions/src/destinations/avo-v2/index.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/AvoSchemaParser.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/EventFetcher.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/EventValidator.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/avo.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/index.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/avo-types.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/avo.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/eventSpec/AvoEncryption.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/eventSpec/EventFetcher.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/eventSpec/EventFetcherTypes.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/eventSpec/EventValidator.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/generated-types.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/index.ts
  packages/destination-actions/src/destinations/avo/sendSchemaToInspector/AvoSchemaParser.ts
  packages/destination-actions/src/destinations/avo/sendSchemaToInspector/__tests__/index.test.ts
  packages/destination-actions/src/destinations/avo/sendSchemaToInspector/avo.ts
Due: destination-actions

updaing email default mapping
  packages/destination-actions/src/destinations/iterable-lists/syncAudience/fields.ts
Due: destination-actions

updating getAudience function
  packages/destination-actions/src/destinations/iterable-lists/functions.ts
  packages/destination-actions/src/destinations/iterable-lists/index.ts
Due: destination-actions
