Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Audience membership core amplitude fbcustomaudience (#3670)
  packages/core/src/__tests__/audience-membership.test.ts
  packages/core/src/audience-membership.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
  packages/core/src/errors.ts
  packages/core/src/flags.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/getIds.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/fields.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/index.ts
Due: core, destination-actions

STRATCONN-6562 - [Facebook Custom Audiences] - rewrite
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/audience-creation.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/canary.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/fb-operations.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-operations.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-properties.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/generated-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/presets.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/delete.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/legacy.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/upsert.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/generated-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/hook-functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/types.ts
Due: destination-actions

STRATCONN-6562 - [Facebook Custom Audiences] - rewrite (#3671)
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/audience-creation.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/canary.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/fb-operations.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-operations.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-properties.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/generated-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/presets.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/delete.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/legacy.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/upsert.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/generated-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/hook-functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/types.ts
Due: destination-actions

fix snapshots
  packages/destination-actions/src/destinations/memora/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

country and state
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/user-data.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/functions.ts
Due: destination-actions

change to profile identifiers
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

fix typescript issue
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
  yarn.lock
Due: destination-actions

added test
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: destination-actions

update comment
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
Due: destination-actions

check incorrect format key
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

reject profiles with invalid trait format
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

update desc
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

multiStatusResponse all invalid profiles
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

removed sent+body during validation
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

handle perform function
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

fix ExecuteInput
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: destination-actions

perform err handling
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

fix responses
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

remove redundant tests
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
Due: destination-actions

optimizely advanced audience targeting reject null id
  packages/destination-actions/src/destinations/optimizely-advanced-audience-targeting/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/optimizely-advanced-audience-targeting/syncAudience/index.ts
Due: destination-actions

audience membership from actions-core
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
Due: destination-actions

docs: add yarn-to-pnpm migration design doc
  docs/plans/2026-03-19-yarn-to-pnpm-design.md
Due: none

docs: add yarn-to-pnpm implementation plan
  docs/plans/2026-03-19-yarn-to-pnpm.md
Due: none

chore: add pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: none

chore: update .npmrc for pnpm
  .npmrc
Due: none

chore: migrate package.json from yarn to pnpm
  package.json
Due: none

chore: update lerna.json to use pnpm
  lerna.json
Due: none

chore: update assert-lockfile script for pnpm
  scripts/assert-lockfile-updated.sh
Due: none

chore: update release.sh for pnpm
  scripts/release.sh
Due: none
