Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

fix: pin playwright-chromium/webkit exactly to match yarn.lock
  package.json
Due: none

ci: fix browser-tests-core end-to-end (Playwright + Chrome sandbox)
  karma.conf.js
  package.json
  yarn.lock
Due: none

ci: remove third-party GitHub Actions blocked by org policy (#3872)
  .github/workflows/ci.yml
  .husky/pre-commit
  karma.conf.js
  package.json
  packages/core/src/__tests__/audience-membership.test.ts
  packages/destination-actions/src/destinations/acoustic/metadata.json
  scripts/normalize-yarn-lock-registry.sh
  yarn.lock
Due: core, destination-actions

minor field changes
  packages/destination-actions/src/destinations/pinterest-conversions/pinterest-capi-custom-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

update metadata.json
  packages/destination-actions/src/destinations/amplitude-cohorts/metadata.json
Due: destination-actions

chore: localize yarn.lock registry URLs on checkout/merge
  .husky/post-checkout
  .husky/post-merge
  scripts/localize-yarn-lock-registry.sh
  scripts/normalize-yarn-lock-registry.sh
Due: none

STRATCONN-6409 - [Amplitude Cohorts] - Bugfixes in private beta (#3801)
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/constants.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/metadata.json
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/getIds.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/types.ts
Due: destination-actions

STRATCONN-6815 - [Twilio Messaging] - String if non string payload values (#3794)
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/index.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/constants.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/index.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/utils.ts
Due: destination-actions

docs: add test-destination-e2e skill to README command table
  README.md
Due: none

docs: add test-destination-e2e skill to README (#3874)
  .claude/commands/test-destination-e2e.md
  README.md
Due: none

Add git filters
  .gitattributes
  .husky/post-checkout
  .husky/post-merge
  .husky/pre-commit
  scripts/localize-yarn-lock-registry.sh
  scripts/normalize-yarn-lock-registry.sh
  scripts/setup-yarnlock-filter.sh
Due: none

chore: localize yarn.lock registry URLs on checkout/merge (#3873)
  .gitattributes
  .husky/pre-commit
  scripts/localize-yarn-lock-registry.sh
  scripts/normalize-yarn-lock-registry.sh
  scripts/setup-yarnlock-filter.sh
Due: none

Added AsyncAction support to actions core
  packages/core/src/__tests__/batching.test.ts
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/create-test-integration.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
  packages/core/src/index.ts
Due: core

Updated to API contract
  packages/core/src/destination-kit/action.ts
Due: core

Added subscription_type field
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/fields.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: core, destination-actions

Added Async Action to SFMC
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/fields.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

Updated SFMC result counting logic
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
Due: destination-actions

fix(reddit-conversions-api): make action_source optional (staging)
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/fields.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/metadata.json
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-ACTION-PLAN.md
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-API-REFERENCE.md
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-CLEANUP-PLAN.md
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-FIELD-CHANGES.txt
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-MIGRATION.md
Due: destination-actions

removed temp files
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-ACTION-PLAN.md
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-API-REFERENCE.md
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-CLEANUP-PLAN.md
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-FIELD-CHANGES.txt
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-MIGRATION.md
Due: destination-actions

STRATCONN-6707 changed partner account id for testing
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/google-enhanced-conversions.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

[ms-bing-ads-audiences] Add temporary debug logging of API responses
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

Added Git Filters for yarn.lock
  .gitattributes
  scripts/localize-yarn-lock-registry.sh
  scripts/normalize-yarn-lock-registry.sh
  scripts/setup-yarnlock-filter.sh
  yarn.lock
Due: none

chore: bump packages for vendored fix (staging)
  packages/destination-actions/package.json
Due: destination-actions

Change package resolutions to use yarnpkg.com
  yarn.lock
Due: none

Change package resolutions to use yarnpkg.com (#3876)
  yarn.lock
Due: none

STRATCONN-6707 added the comments
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
Due: destination-actions

feat(stackadapt-audiences): add custom_user_properties v2 field with mode toggle
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/fields.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/functions.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/metadata.json
Due: destination-actions

[ms-bing-ads-audiences] Isolate debug logging from delivery control flow
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

[Linkedin Audiences] Update snapshots for bumped API version
  packages/destination-actions/src/destinations/linkedin-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/__snapshots__/snapshot.test.ts.snap
Due: destination-actions

Stackadapt - v2 custom fields
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/fields.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/functions.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/types.ts
Due: destination-actions

swapping positions of upsertProfileMapping and upsertProfileMapping in mutation
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/functions.ts
Due: destination-actions

test(stackadapt-audiences): add v2 custom_user_properties tests
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/__tests__/v2CustomProperties.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/metadata.json
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
