Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

adding web pluging with test
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/rokt-capi/send/fields.ts
Due: destination-actions

adding server side unit test
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
Due: destination-actions

adding unit tests for rokt capi
  packages/destination-actions/src/destinations/rokt-capi/__tests__/index.test.ts
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
Due: destination-actions

snapshot tests done
  packages/destination-actions/src/destinations/rokt-capi/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/rokt-capi/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/snapshot.test.ts
Due: destination-actions

Update hubspt custom event action to handle numeric strings
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/cache-functions.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/hubspot-event-schema-functions.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/index.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/types.ts
Due: destination-actions

types
  packages/destination-actions/src/destinations/rokt-capi/send/generated-types.ts
Due: destination-actions

removing unreferenced code
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
Due: destination-actions

add versioning-info.ts to destination template and update PR template
  .github/PULL_REQUEST_TEMPLATE.md
  docs/create.md
  packages/cli/templates/destinations/audience-custom-auth/versioning-info.ts
  packages/cli/templates/destinations/audience-oauth2/versioning-info.ts
  packages/cli/templates/destinations/basic-auth/versioning-info.ts
  packages/cli/templates/destinations/browser/versioning-info.ts
  packages/cli/templates/destinations/custom-auth/versioning-info.ts
  packages/cli/templates/destinations/lowcode/basic-auth/versioning-info.ts
  packages/cli/templates/destinations/lowcode/custom-auth/versioning-info.ts
  packages/cli/templates/destinations/lowcode/oauth-managed/versioning-info.ts
  packages/cli/templates/destinations/lowcode/oauth2-auth/versioning-info.ts
  packages/cli/templates/destinations/minimal/versioning-info.ts
  packages/cli/templates/destinations/oauth2-auth/versioning-info.ts
Due: none

STRATCONN-6487 - [JIMO Cloud] - new Integration
  packages/destination-actions/src/destinations/jimo-cloud/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/jimo-cloud/__tests__/index.test.ts
  packages/destination-actions/src/destinations/jimo-cloud/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/jimo-cloud/constants.ts
  packages/destination-actions/src/destinations/jimo-cloud/generated-types.ts
  packages/destination-actions/src/destinations/jimo-cloud/index.ts
  packages/destination-actions/src/destinations/jimo-cloud/sendUserdata/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/jimo-cloud/sendUserdata/__tests__/index.test.ts
  packages/destination-actions/src/destinations/jimo-cloud/sendUserdata/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/jimo-cloud/sendUserdata/generated-types.ts
  packages/destination-actions/src/destinations/jimo-cloud/sendUserdata/index.ts
  packages/destination-actions/src/destinations/jimo-cloud/sendUserdata/types.ts
  packages/destination-actions/src/destinations/lark/__tests__/__snapshots__/snapshot.test.ts.snap
Due: destination-actions

updating tests
  packages/destination-actions/src/destinations/jimo-cloud/sendUserdata/__tests__/index.test.ts
  packages/destination-actions/src/destinations/jimo-cloud/sendUserdata/generated-types.ts
  packages/destination-actions/src/destinations/jimo-cloud/sendUserdata/index.ts
Due: destination-actions

removing lark file
  packages/destination-actions/src/destinations/lark/__tests__/__snapshots__/snapshot.test.ts.snap
Due: destination-actions

add tests
  packages/actions-shared/src/__tests__/no-environment-specific-code.test.ts
  packages/core/src/__tests__/no-environment-specific-code.test.ts
Due: core, actions-shared

add tests
  packages/actions-shared/src/friendbuy/mapEvent.ts
  packages/core/src/schema-validation.ts
Due: core, actions-shared

Lint rules addition
  .eslintrc.js
Due: none

STRATCONN-6441 [Facebook Conversions API] - Net Revenue support
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-properties.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/index.ts
  packages/destination-actions/src/destinations/lark/__tests__/__snapshots__/snapshot.test.ts.snap
Due: destination-actions

removing bad lark test file
  packages/destination-actions/src/destinations/lark/__tests__/__snapshots__/snapshot.test.ts.snap
Due: destination-actions

add tests
  .eslintrc.js
Due: none

refactor
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-properties.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/fields.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/index.ts
Due: destination-actions

resolve: yarn types
  packages/destination-actions/src/destinations/algolia-insights/productClickedEvents/generated-types.ts
Due: destination-actions

[Google Enhanced Conversions] - Shorten web plugin name (#3511)
  packages/browser-destinations/destinations/google-ec-plugins/README.md
  packages/browser-destinations/destinations/google-ec-plugins/package.json
  packages/browser-destinations/destinations/google-ec-plugins/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/google-ec-plugins/src/constants.ts
  packages/browser-destinations/destinations/google-ec-plugins/src/generated-types.ts
  packages/browser-destinations/destinations/google-ec-plugins/src/index.ts
  packages/browser-destinations/destinations/google-ec-plugins/src/sessionAttributesEncoded/generated-types.ts
  packages/browser-destinations/destinations/google-ec-plugins/src/sessionAttributesEncoded/index.ts
  packages/browser-destinations/destinations/google-ec-plugins/src/utils.ts
  packages/browser-destinations/destinations/google-ec-plugins/tsconfig.json
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: browser-destinations, destinations-manifest

STRATCONN-6300 - [Mixpanel Web] - more bugfixes (#3512)
  packages/browser-destinations/destinations/mixpanel-web/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/track/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/index.ts
Due: browser-destinations

updating types and a minor change to default mapping (#3515)
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
Due: browser-destinations

tier-1/batch-1: refactor API versioning to use versioning-info module (#3489)
  packages/destination-actions/src/destinations/amplitude/regional-endpoints.ts
  packages/destination-actions/src/destinations/amplitude/versioning-info.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/constants.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/versioning-info.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/postConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/versioning-info.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/apiEvent/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/contact/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/versioning-info.ts
  packages/destination-actions/src/destinations/tiktok-conversions/reportWebEvent/utils.ts
  packages/destination-actions/src/destinations/tiktok-conversions/versioning-info.ts
Due: destination-actions

STRATCONN-5986 - [Facebook Pixel] - major refactor to fix advanced matching (#3514)
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/constants.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/generated-types.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/init-script.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/depends-on.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/utils.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/validate.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/types.ts
Due: browser-destinations

removed extendRequest
  packages/destination-actions/src/destinations/memora/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/memora/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/index.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

fixing main branch due to failing airship test (#3520)
  packages/destination-actions/src/destinations/airship/__tests__/utilities.test.ts
Due: destination-actions

STRATCONN-5986 - [Facebook Pixel] - Minor changes (#3517)
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/depends-on.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/types.ts
Due: browser-destinations

split contact identifiers and other contact traits
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

STRATCONN-6034 - [Braze] - ecommerce enhancements (#3417)
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/braze/ecommerce/constants.ts
  packages/destination-actions/src/destinations/braze/ecommerce/fields.ts
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
  packages/destination-actions/src/destinations/braze/ecommerce/generated-types.ts
  packages/destination-actions/src/destinations/braze/ecommerce/index.ts
  packages/destination-actions/src/destinations/braze/ecommerce/types.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/generated-types.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/index.ts
  packages/destination-actions/src/destinations/braze/index.ts
  packages/destination-actions/src/destinations/braze/trackPurchase/index.ts
  packages/destination-actions/src/destinations/braze/trackPurchase2/index.ts
Due: destination-actions

added import csv api
  packages/destination-actions/src/destinations/memora/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

fix traits response
  packages/destination-actions/src/destinations/memora/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

change base url to prod
  packages/destination-actions/src/destinations/memora/index.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
Due: destination-actions

fix import payload
  packages/destination-actions/src/destinations/memora/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

reviewed with partner - tests updated
  packages/destination-actions/src/destinations/rokt-capi/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/rokt-capi/send/fields.ts
  packages/destination-actions/src/destinations/rokt-capi/send/functions.ts
  packages/destination-actions/src/destinations/rokt-capi/send/generated-types.ts
  packages/destination-actions/src/destinations/rokt-capi/send/types.ts
Due: destination-actions

change file name
  packages/destination-actions/src/destinations/lark/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/memora/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

add multistatus TTD, update tests :q
  packages/destination-actions/src/destinations/the-trade-desk-crm/functions.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/syncAudience/__tests__/index.test.ts
Due: destination-actions

Updated multistatus logic
  packages/destination-actions/src/destinations/the-trade-desk-crm/functions.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/syncAudience/index.ts
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
