Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

updating metadata for fb custom audiences and google ads
  packages/destination-actions/src/destinations/facebook-custom-audiences/metadata.json
  packages/destination-actions/src/destinations/google-enhanced-conversions/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
Due: destination-actions

fix(recombee): Fix API inconsistencies (#3767)
  packages/destination-actions/src/destinations/recombee/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addBookmark/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addBookmark/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addBookmark/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addBookmark/index.ts
  packages/destination-actions/src/destinations/recombee/addCartAddition/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addCartAddition/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addCartAddition/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addCartAddition/index.ts
  packages/destination-actions/src/destinations/recombee/addDetailView/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addDetailView/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addDetailView/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addDetailView/index.ts
  packages/destination-actions/src/destinations/recombee/addPurchase/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addPurchase/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addPurchase/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addPurchase/index.ts
  packages/destination-actions/src/destinations/recombee/addRating/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addRating/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addRating/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addRating/index.ts
  packages/destination-actions/src/destinations/recombee/commonFields.ts
  packages/destination-actions/src/destinations/recombee/deleteBookmark/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/deleteBookmark/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/deleteBookmark/generated-types.ts
  packages/destination-actions/src/destinations/recombee/deleteBookmark/index.ts
  packages/destination-actions/src/destinations/recombee/deleteCartAddition/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/deleteCartAddition/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/deleteCartAddition/generated-types.ts
  packages/destination-actions/src/destinations/recombee/deleteCartAddition/index.ts
  packages/destination-actions/src/destinations/recombee/recombeeApiClient.ts
  packages/destination-actions/src/destinations/recombee/setViewPortion/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/setViewPortion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/setViewPortion/generated-types.ts
  packages/destination-actions/src/destinations/recombee/setViewPortion/index.ts
  packages/destination-actions/src/destinations/recombee/setViewPortionFromWatchTime/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/setViewPortionFromWatchTime/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/setViewPortionFromWatchTime/generated-types.ts
  packages/destination-actions/src/destinations/recombee/setViewPortionFromWatchTime/index.ts
Due: destination-actions

updating metadata
  packages/destination-actions/src/destinations/recombee/metadata.json
  packages/destination-actions/src/destinations/wingify/metadata.json
Due: destination-actions

STRATCONN-6832 - [MNTN] - New audience destination (#3809)
  packages/destination-actions/src/destinations/mntn-audiences/__tests__/destination.test.ts
  packages/destination-actions/src/destinations/mntn-audiences/__tests__/syncAudience.test.ts
  packages/destination-actions/src/destinations/mntn-audiences/constants.ts
  packages/destination-actions/src/destinations/mntn-audiences/functions.ts
  packages/destination-actions/src/destinations/mntn-audiences/generated-types.ts
  packages/destination-actions/src/destinations/mntn-audiences/index.ts
  packages/destination-actions/src/destinations/mntn-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/mntn-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/mntn-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/mntn-audiences/syncAudience/types.ts
  packages/destination-actions/src/destinations/mntn-audiences/types.ts
  packages/destination-actions/src/destinations/mntn-audiences/versioning-info.ts
Due: destination-actions

updating snapshot tests for Recombee
  packages/destination-actions/src/destinations/recombee/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/deleteBookmark/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/deleteCartAddition/__tests__/__snapshots__/snapshot.test.ts.snap
Due: destination-actions

mntn audiences metadata
  packages/destination-actions/src/destinations/mntn-audiences/metadata.json
Due: destination-actions

updating recombee metadata
  packages/destination-actions/src/destinations/recombee/metadata.json
Due: destination-actions

updating snapshot tests for Recombee (#3897)
  packages/destination-actions/src/destinations/recombee/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/deleteBookmark/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/deleteCartAddition/__tests__/__snapshots__/snapshot.test.ts.snap
Due: destination-actions

Mntn and recombee metadata.json updates (#3898)
  packages/destination-actions/src/destinations/mntn-audiences/metadata.json
  packages/destination-actions/src/destinations/recombee/metadata.json
Due: destination-actions

mntn test was importing crypto package and failing lint check
  packages/destination-actions/src/destinations/mntn-audiences/__tests__/syncAudience.test.ts
Due: destination-actions

mntn test was importing crypto package and failing lint check (#3899)
  packages/destination-actions/src/destinations/mntn-audiences/__tests__/syncAudience.test.ts
Due: destination-actions

[Wingify] - new Cloud Mode Destination (#3861)
  packages/destination-actions/src/destinations/wingify/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/generated-types.ts
  packages/destination-actions/src/destinations/wingify/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/identifyUser/generated-types.ts
  packages/destination-actions/src/destinations/wingify/identifyUser/index.ts
  packages/destination-actions/src/destinations/wingify/index.ts
  packages/destination-actions/src/destinations/wingify/metadata.json
  packages/destination-actions/src/destinations/wingify/pageVisit/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/pageVisit/generated-types.ts
  packages/destination-actions/src/destinations/wingify/pageVisit/index.ts
  packages/destination-actions/src/destinations/wingify/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/wingify/syncAudience/index.ts
  packages/destination-actions/src/destinations/wingify/syncAudience/types.ts
  packages/destination-actions/src/destinations/wingify/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/wingify/trackEvent/index.ts
  packages/destination-actions/src/destinations/wingify/types.ts
  packages/destination-actions/src/destinations/wingify/utility.ts
Due: destination-actions

correcing some issues with multistatus response handling
  packages/destination-actions/src/destinations/customerio/__tests__/createUpdateObject.test.ts
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
Due: destination-actions

STRATCONN-6907 removed the async from the testcases
  packages/destination-actions/src/destinations/algolia-insights/__tests__/index.test.ts
Due: destination-actions

adding debugging function for google enhanced conversions in staging
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

Release Canary
  packages/destination-actions/package.json
Due: destination-actions

adding more debugging to google enhanced conversions
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

fix(ci): ignore Copilot as reviewer and require 2 strategic-connections reviewers for actions-core
  scripts/github-action/get-reviewers.js
Due: none

Mixpanel Web (actions): add Source Name setting
  packages/browser-destinations/destinations/mixpanel-web/metadata.json
  packages/browser-destinations/destinations/mixpanel-web/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/alias/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/group/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/setting-fields.ts
  packages/browser-destinations/destinations/mixpanel-web/src/track/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/types.ts
Due: browser-destinations

STRATCONN-6907 removed the unnecessary async from testcases
  packages/destination-actions/src/destinations/algolia-insights/__tests__/index.test.ts
Due: destination-actions

E2E core code types and helper functions
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
Due: core

eol char
  packages/core/src/index.ts
Due: core

adding fb debug events
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

adding tiktok audience event debugging
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
Due: destination-actions

adding display video 360 debug events
  packages/destination-actions/src/destinations/display-video-360/shared.ts
  packages/destination-actions/src/destinations/display-video-360/syncAudience/index.ts
Due: destination-actions

STRATCONN-6380 fixed the failing testcases due to default mapping changes
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
Due: destination-actions

adding google enhanced conversions instrumentation
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

adding instrumentation to facebook custom audiences
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

instrumentation for dv360 and tiktok audiences
  packages/destination-actions/src/destinations/display-video-360/shared.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
Due: destination-actions

addressing copilot comments
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
Due: core

stopping destination call to blockhole
  packages/destination-actions/src/destinations/webhook/__test__/webhook.test.ts
  packages/destination-actions/src/destinations/webhook/send/index.ts
Due: destination-actions

presets for 3 destinations (#3884)
  packages/core/src/destination-kit/event-emitter-types.ts
  packages/destination-actions/src/destinations/display-video-360/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/presets.ts
  packages/destination-actions/src/destinations/tiktok-audiences/index.ts
Due: core, destination-actions

STRATCONN-6913 -[Core]- Legacy Journeys Audience Membership (#3888)
  packages/core/src/__tests__/audience-membership.test.ts
  packages/core/src/audience-membership.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/flags.ts
Due: core

updating metadata for 3 destinations
  packages/destination-actions/src/destinations/display-video-360/metadata.json
  packages/destination-actions/src/destinations/facebook-custom-audiences/metadata.json
  packages/destination-actions/src/destinations/tiktok-audiences/metadata.json
Due: destination-actions

Missing metadata (#3904)
  packages/destination-actions/src/destinations/display-video-360/metadata.json
  packages/destination-actions/src/destinations/facebook-custom-audiences/metadata.json
  packages/destination-actions/src/destinations/tiktok-audiences/metadata.json
Due: destination-actions
