Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Resolved the copilot issue
  packages/destination-actions/src/destinations/klaviyo/__tests__/multistatus.test.ts
  packages/destination-actions/src/destinations/klaviyo/functions.ts
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/__tests__/index.test.ts
Due: destination-actions

empty change to trigger deploy
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/hubspot-event-schema-functions.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

Added unit test case and types file
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/properties.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfileFromList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfileFromList/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/__tests__/index.test.ts
Due: destination-actions

[linkedin-conversions] Promote 202603 as default API version
  packages/destination-actions/src/destinations/linkedin-conversions/versioning-info.ts
Due: destination-actions

pushing cosmetic changes based on copilot review
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent/index.ts
Due: destination-actions

removing redundant re-export functions in constants.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/constants.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/utils.ts
Due: destination-actions

removing the now unused flags
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/constants.ts
Due: destination-actions

removing redundant function and flag - it's all in constants.ts and functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/utils.ts
Due: destination-actions

consolidating tests into single functions.ts file
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/functions.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/utils.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/utils.ts
Due: destination-actions

removing unused file
  packages/destination-actions/src/destinations/facebook-conversions-api/utils.ts
Due: destination-actions

removing unused test file
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/utils.test.ts
Due: destination-actions

facebook refactor to stage for more testing
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/app-data.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/functions.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/utils.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/user-data.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/constants.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-app-data.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-properties.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-user-data.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/constants.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/utils.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent2/index.ts
Due: destination-actions

labelling the new Action as beta
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
Due: destination-actions

New unit tests
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/snapshot.test.ts
Due: destination-actions

adding beta to the action title and description
  packages/destination-actions/src/destinations/display-video-360/syncAudience/index.ts
Due: destination-actions

additional test and prettier fix
  packages/destination-actions/src/destinations/display-video-360/__tests__/syncAudience.test.ts
  packages/destination-actions/src/destinations/display-video-360/shared.ts
Due: destination-actions

Address PR review comments: remove unnecessary re-export, use version constants in choices, fix doc contradictions
  packages/browser-destinations/destinations/braze/breaking-changes-analysis.md
  packages/browser-destinations/destinations/braze/src/index.ts
Due: browser-destinations

Remove breaking-changes-analysis.md from repo, moved to PR comment
  packages/browser-destinations/destinations/braze/breaking-changes-analysis.md
Due: browser-destinations

Revert "added blackhole url"
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

docs: add design spec for generate-metadata public schema replacement
  docs/superpowers/specs/2026-05-07-generate-metadata-design.md
Due: none

Potential fix for pull request finding
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
Due: destination-actions

docs: add implementation plan for generate-metadata public schema replacement
  docs/superpowers/plans/2026-05-07-generate-metadata-replacement.md
Due: none

refactor: replace control-plane interfaces with public metadata types
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

refactor: add serializeAuthField helper, delete old getOptions helpers
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

fix: narrow PublicDestinationMetadata.mode to cloud|device|warehouse union
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

refactor: add serializeActionField, delete old buildActionFields
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

feat: add serializeAction helper
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

feat: implement generatePublicMetadata, delete generateDestinationPayload
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

refactor: wire command run() to generatePublicMetadata, remove unused imports
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

test: rewrite generate-metadata-payload tests for new public schema
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
Due: none

include non str traits
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

chore: regenerate amplitude metadata.json with public schema format
  packages/destination-actions/src/destinations/amplitude/metadata.json
Due: destination-actions

fixing some issues and tests
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/functions.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/generated-types.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/index.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/types.ts
  packages/destination-actions/src/destinations/braze/utils.ts
Due: destination-actions

test branze mergeUser action in stage again
  packages/destination-actions/src/destinations/braze/index.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/functions.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/generated-types.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/index.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/types.ts
  packages/destination-actions/src/destinations/braze/userAlias.ts
Due: destination-actions

adding batching
  packages/destination-actions/src/destinations/braze/mergeUsers/functions.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/index.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/types.ts
Due: destination-actions

adding batch size field
  packages/destination-actions/src/destinations/braze/mergeUsers/generated-types.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/index.ts
Due: destination-actions
