Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

adding JourneysV1 helpers
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
Due: core

new file convention for e2e tests
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/amplitude/identifyUser/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/journeysV1.e2e.ts
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/iterable/trackEvent/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/iterable/updateUser/__e2e__/fixtures.e2e.ts
Due: destination-actions

adding retl initial tests
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/journeysV1.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/retl.e2e.ts
Due: core, destination-actions

types
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
Due: core

refactor: extract shared builder in e2e helpers, remove unused action field
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/journeysV1.e2e.ts
Due: core, destination-actions

refactor: move AudienceEventBase to e2e-types.ts
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
Due: core

rename fixture file
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/engage.e2e.ts
Due: destination-actions

STRATCONN-6780 - [Pinterest] - new events
  packages/destination-actions/src/destinations/pinterest-conversions/constants.ts
  packages/destination-actions/src/destinations/pinterest-conversions/pinterest-capi-custom-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/generated-types.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

tweaks to default mappings
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

fix default mappings and install_time type
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/generated-types.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

build app_info externally and omit if empty
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

restore full body assertion for hashed data test
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/index.test.ts
Due: destination-actions

add data_format toggle to switch between legacy and structured fields
  packages/destination-actions/src/destinations/pinterest-conversions/pinterest-capi-custom-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/generated-types.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

extract custom_data_2 and contents as separate structured fields
  packages/destination-actions/src/destinations/pinterest-conversions/pinterest-capi-custom-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/generated-types.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

move contents_field to pinterest-capi-custom-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/pinterest-capi-custom-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

rename to latest, rename field factories to getX pattern
  packages/destination-actions/src/destinations/pinterest-conversions/pinterest-capi-custom-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

rename toggle label to Use Latest Fields with simpler description
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

types
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/generated-types.ts
Due: destination-actions

more unit tests
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/index.test.ts
Due: destination-actions

Copilot review changes
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

copilot fix
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

add Pinterest API payload types and address Copilot feedback
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
  packages/destination-actions/src/destinations/pinterest-conversions/types.ts
Due: destination-actions

[Survicate] Replace Segment Cloud Mode endpoints
  packages/destination-actions/src/destinations/survicate/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate/identifyGroup/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate/identifyGroup/index.ts
  packages/destination-actions/src/destinations/survicate/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate/identifyUser/index.ts
  packages/destination-actions/src/destinations/survicate/index.ts
  packages/destination-actions/src/destinations/survicate/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate/trackEvent/index.ts
Due: destination-actions

add JSDoc to segment_traits/identifiers_by_field and include generated types
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

test: assert segment_traits/identifiers_by_field not sent to Memora API
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: destination-actions

addressing Copilot comments
  packages/destination-actions/src/destinations/pinterest-conversions/index.ts
  packages/destination-actions/src/destinations/pinterest-conversions/pinterest-capi-custom-data.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/generated-types.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

add Pinterest e2e tests, fix createE2EEvent for page/identify types
  packages/core/src/e2e-helpers.ts
  packages/destination-actions/src/destinations/amplitude/identifyUser/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/iterable/updateUser/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/pinterest-conversions/__e2e__/index.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__e2e__/fixtures.e2e.ts
Due: core, destination-actions

fix e2e fixture expectations for validation errors and timestamp
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__e2e__/fixtures.e2e.ts
Due: destination-actions

pinterest tests passing
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/__e2e__/fixtures.e2e.ts
Due: destination-actions

adding teardown for google enhanced conversions
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__e2e__/index.ts
Due: core, destination-actions

updating e2e for iterable audiences
  packages/destination-actions/src/destinations/iterable-audiences/__e2e__/index.ts
Due: destination-actions

fix(facebook-custom-audiences): guard against empty normalizePhone() result in getData()
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

refactor: move segment_traits/identifiers_by_field to memora-internal only
  packages/destination-actions/src/destinations/memora-internal/index.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

test: move hidden-fields outbound test to memora-internal
  packages/destination-actions/src/destinations/memora-internal/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: destination-actions

test: assert nock interceptor was called and response received
  packages/destination-actions/src/destinations/memora-internal/__tests__/index.test.ts
Due: destination-actions

fix: align audienceMembership and rawData with schema-filtered payloads in executeBatch
  packages/core/src/__tests__/audience-membership.test.ts
  packages/core/src/destination-kit/action.ts
Due: core

fix(core): filter audienceMembership to match schema-filtered payloads in executeBatch
  packages/core/src/destination-kit/action.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/upsert.test.ts
Due: core, destination-actions

Add app key to userAgent
  packages/destination-actions/src/destinations/airship/index.ts
Due: destination-actions

support sending json attributes
  packages/destination-actions/src/destinations/airship/__tests__/utilities.test.ts
  packages/destination-actions/src/destinations/airship/utilities.ts
Due: destination-actions

move validation to under the flag
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions
