Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

code
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

actions complete
  packages/browser-destinations/destinations/mixpanel-web-actions/src/alias/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/alias/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/alias/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/constants.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/setting-fields.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/types.ts
Due: browser-destinations

Adding unit tests
  packages/browser-destinations/destinations/mixpanel-web-actions/src/alias/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/fields.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/functions.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/group/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/track/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/trackPageView/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/types.ts
Due: browser-destinations

tested locally
  packages/browser-destinations/destinations/mixpanel-web-actions/src/functions.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/init-script.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/track/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/track/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/trackPageView/generated-types.ts
Due: browser-destinations

saving progress
  packages/browser-destinations/destinations/mixpanel-web/README.md
  packages/browser-destinations/destinations/mixpanel-web/package.json
  packages/browser-destinations/destinations/mixpanel-web/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/alias/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/alias/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/alias/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/constants.ts
  packages/browser-destinations/destinations/mixpanel-web/src/fields.ts
  packages/browser-destinations/destinations/mixpanel-web/src/functions.ts
  packages/browser-destinations/destinations/mixpanel-web/src/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/group/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/group/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/group/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/identify/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/identify/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/init-script.ts
  packages/browser-destinations/destinations/mixpanel-web/src/setting-fields.ts
  packages/browser-destinations/destinations/mixpanel-web/src/track/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/track/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/track/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/types.ts
  packages/browser-destinations/destinations/mixpanel-web/tsconfig.json
Due: browser-destinations

removing broken unnecessary test
  packages/browser-destinations/destinations/mixpanel-web/src/__tests__/index.test.ts
Due: browser-destinations

increasing web max bundle size
  packages/browser-destinations/package.json
Due: browser-destinations

updating slug name
  packages/browser-destinations/destinations/mixpanel-web/README.md
  packages/browser-destinations/destinations/mixpanel-web/package.json
  packages/browser-destinations/destinations/mixpanel-web/src/index.ts
Due: browser-destinations

STRATCONN-6300 - [Mixpanel] - New web destination (#3401)
  packages/browser-destinations/destinations/mixpanel-web/README.md
  packages/browser-destinations/destinations/mixpanel-web/package.json
  packages/browser-destinations/destinations/mixpanel-web/src/alias/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/alias/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/alias/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/constants.ts
  packages/browser-destinations/destinations/mixpanel-web/src/fields.ts
  packages/browser-destinations/destinations/mixpanel-web/src/functions.ts
  packages/browser-destinations/destinations/mixpanel-web/src/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/group/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/group/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/group/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/identify/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/identify/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/init-script.ts
  packages/browser-destinations/destinations/mixpanel-web/src/setting-fields.ts
  packages/browser-destinations/destinations/mixpanel-web/src/track/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/track/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/track/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/types.ts
  packages/browser-destinations/destinations/mixpanel-web/tsconfig.json
  packages/browser-destinations/package.json
Due: browser-destinations

registering mixpanel web
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: destinations-manifest

registering mixpanel web (#3404)
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: destinations-manifest

register memora
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

add unit test
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/__tests__/index.test.ts
Due: browser-destinations

code
  packages/destination-actions/src/destinations/aws-kinesis/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
  packages/destination-actions/src/lib/AWS/sts.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

added url in auth settings
  packages/destination-actions/src/destinations/memora/generated-types.ts
  packages/destination-actions/src/destinations/memora/index.ts
  packages/destination-actions/src/destinations/memora/profileSync/index.ts
  packages/destination-actions/src/destinations/memora/traitsSync/index.ts
Due: destination-actions

update generated key
  packages/destination-actions/src/destinations/survicate/trackEvent/generated-types.ts
Due: destination-actions

updating as per Google instructions
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion2.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/index.ts
Due: destination-actions

code
  packages/destination-actions/src/destinations/aws-kinesis/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/lib/AWS/sts.ts
Due: destination-actions

adding dynamic
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
Due: destination-actions

moving sts funcs
  packages/destination-actions/src/destinations/aws-kinesis/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

unit tests passing
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/utils.ts
Due: browser-destinations

git ignore
  .gitignore
Due: none

added dynamic fields
  packages/destination-actions/src/destinations/memora/index.ts
  packages/destination-actions/src/destinations/memora/profileSync/generated-types.ts
  packages/destination-actions/src/destinations/memora/profileSync/index.ts
  packages/destination-actions/src/destinations/memora/traitsSync/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/traitsSync/generated-types.ts
  packages/destination-actions/src/destinations/memora/traitsSync/index.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

Revert "moving sts funcs"
  packages/destination-actions/src/destinations/aws-kinesis/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

env variables
  packages/destination-actions/src/lib/AWS/sts.ts
Due: destination-actions

logs
  packages/destination-actions/src/lib/AWS/sts.ts
Due: destination-actions

hardcoding credentials
  packages/destination-actions/src/lib/AWS/sts.ts
Due: destination-actions

removing dynamic
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
Due: destination-actions
