Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

final checks before deploy
  packages/browser-destinations/destinations/tiktok-pixel/src/constants.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/fields/common_fields.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/fields.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/travel_fields.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/vehicle_fields.ts
Due: browser-destinations

fixing up presets
  packages/destination-actions/src/destinations/tiktok-app-events/__tests__/presets.test.ts
  packages/destination-actions/src/destinations/tiktok-app-events/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/fields/common_fields.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/types.ts
Due: destination-actions

removing preset test file
  packages/destination-actions/src/destinations/tiktok-app-events/__tests__/presets.test.ts
Due: destination-actions

Revert "Reduce timeouts"
  packages/destination-actions/src/destinations/kafka/utils.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

[Facebook Custom Audiences] Improve error handling for empty values after normalisation (#3442)
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/fb-operations.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-operations.ts
  packages/destination-actions/src/lib/hashing-utils.ts
Due: destination-actions

increase timeout value (#3439)
  packages/destination-actions/src/destinations/customerio/index.ts
  packages/destination-actions/src/destinations/customerio/test-helper.ts
Due: destination-actions

removing unused setting (#3441)
  packages/destination-actions/src/destinations/twilio-messaging/generated-types.ts
  packages/destination-actions/src/destinations/twilio-messaging/index.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/dynamic-fields.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/index.test.ts
Due: destination-actions

[TikTok App Events] - presets change (#3444)
  packages/destination-actions/src/destinations/tiktok-app-events/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/fields/common_fields.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/types.ts
Due: destination-actions

mixpanel web deploy
  packages/browser-destinations/destinations/mixpanel-web/package.json
Due: browser-destinations

mixpanel web deploy (#3446)
  packages/browser-destinations/destinations/mixpanel-web/package.json
Due: browser-destinations

STRATCONN-6081 - [Tiktok pixel] - new params (#3317)
  packages/browser-destinations/destinations/tiktok-pixel/src/constants.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/fields/common_fields.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/identify/generated-types.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/identify/index.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/fields.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/generated-types.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/index.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/travel_fields.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/utils.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/reportWebEvent/vehicle_fields.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/types.ts
  packages/browser-destinations/destinations/tiktok-pixel/src/utils.ts
Due: browser-destinations

fixing presets for tiktok app events
  packages/destination-actions/src/destinations/tiktok-app-events/index.ts
Due: destination-actions

adding selection of standard events
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/fields/common_fields.ts
Due: destination-actions

fixing presets for tiktok app events (#3447)
  packages/destination-actions/src/destinations/tiktok-app-events/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/fields/common_fields.ts
Due: destination-actions

STRATCONN-6302 make the remaining fields also secret in browser and cloud mode destination
  packages/browser-destinations/destinations/replaybird/src/index.ts
  packages/browser-destinations/destinations/ripe/src/index.ts
  packages/browser-destinations/destinations/userpilot/src/index.ts
  packages/destination-actions/src/destinations/mixpanel/index.ts
  packages/destination-actions/src/destinations/movable-ink/index.ts
  packages/destination-actions/src/destinations/nudge/index.ts
  packages/destination-actions/src/destinations/outfunnel/index.ts
  packages/destination-actions/src/destinations/playerzero-cloud/index.ts
  packages/destination-actions/src/destinations/rehook/index.ts
  packages/destination-actions/src/destinations/revend/index.ts
  packages/destination-actions/src/destinations/ripe/index.ts
  packages/destination-actions/src/destinations/roadwayai/index.ts
  packages/destination-actions/src/destinations/spiffy/index.ts
  packages/destination-actions/src/destinations/sprig/index.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/index.ts
  packages/destination-actions/src/destinations/survicate/index.ts
  packages/destination-actions/src/destinations/taguchi/index.ts
  packages/destination-actions/src/destinations/talon-one/index.ts
  packages/destination-actions/src/destinations/tiktok-conversions-sandbox/index.ts
  packages/destination-actions/src/destinations/tiktok-offline-conversions-sandbox/index.ts
  packages/destination-actions/src/destinations/toplyne/index.ts
  packages/destination-actions/src/destinations/trackey/index.ts
  packages/destination-actions/src/destinations/trubrics/index.ts
  packages/destination-actions/src/destinations/twilio/index.ts
  packages/destination-actions/src/destinations/usermaven/index.ts
  packages/destination-actions/src/destinations/usermotion/index.ts
  packages/destination-actions/src/destinations/userpilot/index.ts
  packages/destination-actions/src/destinations/voucherify/index.ts
  packages/destination-actions/src/destinations/voyage/index.ts
  packages/destination-actions/src/destinations/vwo/index.ts
  packages/destination-actions/src/destinations/webhook-audiences/index.ts
  packages/destination-actions/src/destinations/xtremepush/index.ts
  packages/destination-actions/src/destinations/yonoma/index.ts
Due: destination-actions, browser-destinations

STRATCONN-6302 make api key secret in schematic destination also
  packages/destination-actions/src/destinations/schematic/index.ts
Due: destination-actions

adding more validation
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/utils.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/validate.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/types.ts
Due: browser-destinations

updates
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/index.ts
Due: browser-destinations

Add support to schedule message sends
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/index.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/constants.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/fields.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/types.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/utils.ts
Due: destination-actions

staging test for twilio messenger scheduling
  packages/destination-actions/src/destinations/twilio-messaging/generated-types.ts
  packages/destination-actions/src/destinations/twilio-messaging/index.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/dynamic-fields.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/index.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/constants.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/fields.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/types.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/utils.ts
Due: destination-actions

Add support to schedule message sends (#3450)
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/index.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/constants.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/fields.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/types.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/utils.ts
Due: destination-actions

twilio messaging
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/constants.ts
Due: destination-actions

[MAIN] [STRATCONN-6302] : Make the fields secret in cloud mode and browser mode destinations (#3425)
  packages/browser-destinations/destinations/1flow/src/index.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/iterate/src/index.ts
  packages/browser-destinations/destinations/pendo-web-actions/src/index.ts
  packages/destination-actions/src/destinations/aampe/index.ts
  packages/destination-actions/src/destinations/actable-predictive/index.ts
  packages/destination-actions/src/destinations/adjust/index.ts
  packages/destination-actions/src/destinations/algolia-insights/index.ts
  packages/destination-actions/src/destinations/ambee/index.ts
  packages/destination-actions/src/destinations/amplitude/index.ts
  packages/destination-actions/src/destinations/app-fit/index.ts
  packages/destination-actions/src/destinations/attentive/index.ts
  packages/destination-actions/src/destinations/avo/index.ts
  packages/destination-actions/src/destinations/blend-ai/index.ts
  packages/destination-actions/src/destinations/canny-functions/index.ts
  packages/destination-actions/src/destinations/clay/index.ts
  packages/destination-actions/src/destinations/clevertap/index.ts
  packages/destination-actions/src/destinations/cordial/index.ts
  packages/destination-actions/src/destinations/dawn/index.ts
  packages/destination-actions/src/destinations/drip/index.ts
  packages/destination-actions/src/destinations/dub/index.ts
  packages/destination-actions/src/destinations/encharge/index.ts
  packages/destination-actions/src/destinations/friendbuy/index.ts
  packages/destination-actions/src/destinations/gainsight-px-cloud-action/index.ts
  packages/destination-actions/src/destinations/gleap/index.ts
  packages/destination-actions/src/destinations/google-analytics-4/index.ts
  packages/destination-actions/src/destinations/hyperengage/index.ts
  packages/destination-actions/src/destinations/iterable-lists/index.ts
  packages/destination-actions/src/destinations/iterable/index.ts
  packages/destination-actions/src/destinations/june/index.ts
  packages/destination-actions/src/destinations/kevel/index.ts
  packages/destination-actions/src/destinations/loops/index.ts
  packages/destination-actions/src/destinations/magellan-ai/index.ts
  packages/destination-actions/src/destinations/mantle/index.ts
Due: destination-actions, browser-destinations

Support amc destinations
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/function.ts
  packages/destination-actions/src/destinations/amazon-amc/generated-types.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/index.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Due: destination-actions

fixing unit tests and checking if amc fields are empty
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
Due: destination-actions

starting zapier destination
  packages/destination-actions/src/destinations/zapier/__tests__/index.test.ts
  packages/destination-actions/src/destinations/zapier/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/zapier/generated-types.ts
  packages/destination-actions/src/destinations/zapier/index.ts
  packages/destination-actions/src/destinations/zapier/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/zapier/send/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/zapier/send/constants.ts
  packages/destination-actions/src/destinations/zapier/send/generated-types.ts
  packages/destination-actions/src/destinations/zapier/send/index.ts
Due: destination-actions

poking to can deploy to stage
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/constants.ts
Due: destination-actions

refactoring Vitor PR
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/constants.ts
  packages/destination-actions/src/destinations/amazon-amc/function.ts
  packages/destination-actions/src/destinations/amazon-amc/generated-types.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/index.ts
  packages/destination-actions/src/destinations/amazon-amc/types.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Due: destination-actions

fixing an import
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
Due: destination-actions

unit tests added
  packages/destination-actions/src/destinations/zapier/index.ts
  packages/destination-actions/src/destinations/zapier/send/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/zapier/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/zapier/send/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/zapier/send/generated-types.ts
  packages/destination-actions/src/destinations/zapier/send/index.ts
Due: destination-actions

removing unnecessary tests
  packages/destination-actions/src/destinations/zapier/__tests__/index.test.ts
  packages/destination-actions/src/destinations/zapier/__tests__/snapshot.test.ts
Due: destination-actions

Add subscription group support to Braze user profile
  packages/destination-actions/src/destinations/braze/updateUserProfile/generated-types.ts
  packages/destination-actions/src/destinations/braze/updateUserProfile/index.ts
  packages/destination-actions/src/destinations/braze/updateUserProfile2/generated-types.ts
  packages/destination-actions/src/destinations/braze/updateUserProfile2/index.ts
  packages/destination-actions/src/destinations/braze/utils.ts
Due: destination-actions

refactoring to action
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

adding perform method
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions
