Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

reddit capi staging test
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/index.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
Due: destination-actions

reddit capi e2e tests
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/index.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-batch-events.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-single-event.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/action.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/fields.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/metadata.json
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/constants.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/types-v3.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/utils-v3.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/versioning-info.ts
Due: destination-actions

re-adding reddit e2e tests
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__e2e__/fixtures.e2e.ts
Due: destination-actions

STRATCONN-7012 - [Snap Conversions API] - Add e2e tests for action_source normalization
  packages/destination-actions/src/destinations/snap-conversions-api/__e2e__/index.ts
  packages/destination-actions/src/destinations/snap-conversions-api/reportConversionEvent/__e2e__/fixtures.e2e.ts
Due: destination-actions

[Braze Cohorts] Prefix noop stat with braze_cohorts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/index.ts
Due: destination-actions

docs: tighten deep review items in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: drop Director approval item from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: dedupe deep review and approvals items in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix(sfmc): handle errors without a response in catch blocks (ACTV-1059)
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/errorHandling.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

Release Canary
  packages/browser-destinations/destinations/braze-cloud-plugins/package.json
  packages/browser-destinations/destinations/braze/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: destination-actions, browser-destinations, destinations-manifest

STRATCONN-6612 added the partner account id
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

Release Canary
  packages/destination-actions/package.json
Due: destination-actions

SalesWings: report the result of each event of a batch
  packages/destination-actions/src/destinations/saleswings/__tests__/multistatus.test.ts
  packages/destination-actions/src/destinations/saleswings/common.ts
Due: destination-actions

STRATCONN-7084 - [Reddit Conversions API] - Add e2e tests for Base64 hashed identifiers
  packages/destination-actions/src/destinations/reddit-conversions-api/__e2e__/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__e2e__/fixtures.e2e.ts
Due: destination-actions

updating preset to WEB
  packages/browser-destinations/destinations/adobe-target/metadata.json
  packages/destination-actions/src/destinations/snap-conversions-api/index.ts
Due: destination-actions, browser-destinations

updating metadata for snap
  packages/destination-actions/src/destinations/snap-conversions-api/metadata.json
Due: destination-actions

updating presets to point to new web value
  packages/destination-actions/src/destinations/snap-conversions-api/index.ts
  packages/destination-actions/src/destinations/snap-conversions-api/metadata.json
Due: destination-actions

commenting out the audienceDisplayName field
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
Due: destination-actions

Test default value
  packages/destination-actions/src/destinations/s3/metadata.json
  packages/destination-actions/src/destinations/s3/syncToS3/fields.ts
Due: destination-actions

ci: request AI reviewers on every PR (LAB-4162)
  .github/workflows/request-ai-reviewers.yml
Due: none

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
