Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

feat: add createE2EEvent helper for fixture event generation
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/iterable/trackEvent/__e2e__/fixtures.ts
  packages/destination-actions/src/destinations/iterable/updateUser/__e2e__/fixtures.ts
Due: core, destination-actions

refactor: separate e2e types from helper functions
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
Due: core

fix: omit email/userId from mapping instead of setting undefined
  packages/destination-actions/src/destinations/iterable/trackEvent/__e2e__/fixtures.ts
Due: destination-actions

CUSTINT-24021: migrate segment.io connector to use OIDC
  packages/destination-actions/src/destinations/emarsys/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/emarsys/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/emarsys/addToContactList/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/emarsys/addToContactList/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/emarsys/auth.ts
  packages/destination-actions/src/destinations/emarsys/emarsys-helper.ts
  packages/destination-actions/src/destinations/emarsys/generated-types.ts
  packages/destination-actions/src/destinations/emarsys/index.ts
  packages/destination-actions/src/destinations/emarsys/removeFromContactList/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/emarsys/removeFromContactList/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/emarsys/triggerEngagementEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/emarsys/triggerEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/emarsys/triggerEvent/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/emarsys/upsertContact/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/emarsys/upsertContact/__tests__/snapshot.test.ts
Due: destination-actions

feat: add e2e fixtures for Amplitude logEventV2 and identifyUser
  packages/destination-actions/src/destinations/amplitude/__e2e__/index.ts
  packages/destination-actions/src/destinations/amplitude/identifyUser/__e2e__/fixtures.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/__e2e__/fixtures.ts
Due: destination-actions

feat: add createE2EEngageAudienceEvent helper
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
Due: core

refactor: improve createE2EEngageAudienceEvent
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
Due: core

feat: add generic K to audience event types
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
Due: core

refactor: rename generic K to ComputationKey for clarity
  packages/core/src/e2e-helpers.ts
  packages/core/src/e2e-types.ts
Due: core

feat: add audience fixture types and Amplitude Cohorts e2e fixtures
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/__e2e__/index.ts
Due: core, destination-actions

feat: add subscribe and mapping fields to E2EAudienceFixture
  packages/core/src/e2e-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/__e2e__/index.ts
Due: core, destination-actions

feat: add E2ETeardownAudienceStep type
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
Due: core

refactor: move audience fixtures to syncAudience/__e2e__/fixtures.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/__e2e__/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.ts
Due: destination-actions

feat: add description field to audience step types
  packages/core/src/e2e-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.ts
Due: core, destination-actions

feat: add E2EExecutionMode type for single/batch step mode
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
Due: core

refactor: use full SegmentEvent in audience sync steps
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.ts
Due: core, destination-actions

fix: use E2EEngageAudienceEvent type in audience sync steps
  packages/core/src/e2e-types.ts
Due: core

feat: add $externalAudienceId dynamic value marker
  packages/core/src/e2e-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.ts
Due: core, destination-actions

refactor: simplify audience testing to config + regular fixtures
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/__e2e__/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.ts
Due: core, destination-actions

docs: add JSDoc comments to E2EAudienceConfig fields
  packages/core/src/e2e-types.ts
Due: core

feat: split E2EFixture into discriminated union with mode field
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.ts
  packages/destination-actions/src/destinations/amplitude/identifyUser/__e2e__/fixtures.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/__e2e__/fixtures.ts
  packages/destination-actions/src/destinations/iterable/trackEvent/__e2e__/fixtures.ts
  packages/destination-actions/src/destinations/iterable/updateUser/__e2e__/fixtures.ts
Due: core, destination-actions

adding latest amplitude cohorts
  packages/destination-actions/src/destinations/amplitude-cohorts/__e2e__/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/constants.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/getIds.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/types.ts
Due: destination-actions

fix: restore amplitude-cohorts e2e fixtures
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.ts
Due: destination-actions

fix: restore amplitude-cohorts e2e config
  packages/destination-actions/src/destinations/amplitude-cohorts/__e2e__/index.ts
Due: destination-actions

feat: add verboseFailureHint to fixture types
  packages/core/src/e2e-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.ts
Due: core, destination-actions

feat: add jsonContains to E2EExpectation types
  packages/core/src/e2e-types.ts
Due: core

refactor: replace responseType with 3 execution modes + BaseFixture
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.ts
Due: core, destination-actions

feat: add jsonContains assertion to batch fixture
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__e2e__/fixtures.ts
Due: destination-actions

Push default version
  packages/destination-actions/src/destinations/linkedin-audiences/versioning-info.ts
Due: destination-actions

made changes
  .claude/commands/generate-destination.md
  .claude/commands/refined-actions.md
Due: none

added segment_traits_by_field and segment_identifiers_by_field in upsertProfile Memora Sync
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

feat: add e2e fixtures for Iterable Audiences destination
  packages/destination-actions/src/destinations/iterable-audiences/__e2e__/index.ts
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/__e2e__/fixtures.ts
Due: destination-actions

feat: add sent/body assertions to Iterable Audiences batch fixture
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/__e2e__/fixtures.ts
Due: destination-actions

fix: fix Iterable Audiences batch assertion and disable getAudience
  packages/destination-actions/src/destinations/iterable-audiences/__e2e__/index.ts
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/__e2e__/fixtures.ts
Due: destination-actions

iterable fixture
  packages/destination-actions/src/destinations/iterable-audiences/__e2e__/index.ts
Due: destination-actions

feat: add e2e fixtures for Google Enhanced Conversions userList
  packages/core/src/e2e-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__e2e__/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/fixtures.ts
Due: core, destination-actions

feat: add batch test for Google Enhanced Conversions userList
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/fixtures.ts
Due: destination-actions

feat: assert sent/body objects in Google userList batch multistatus
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/__e2e__/fixtures.ts
Due: destination-actions

adding google enhanced conversions example test
  packages/destination-actions/src/destinations/google-enhanced-conversions/__e2e__/index.ts
Due: destination-actions

adding comment to e2e test
  packages/destination-actions/src/destinations/google-enhanced-conversions/__e2e__/index.ts
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
