Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

STRATCONN-7072 - [First Party DV360] - extract DV360Error type
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - remove dead hook error helpers and fix device ID error message
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - fix prettier formatting
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/types.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - share create/connect audience flow between Engage and RETL hook
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/__tests__/hook.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/fields.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - remove createNewAudience layer and mark App ID optional
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/fields.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - tighten reconnect lookup and hook error messages
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - clarify reconnect wording and drop App ID for contact info audiences
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - explain why RETL Audience Type is not marked required
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/fields.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - add audience-functions unit tests
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/audience-functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/__tests__/hook.test.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - use CREATE_AUDIENCE_FAILED for existing audience type mismatch
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/audience-functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
Due: destination-actions

Adds parse and render breakdown to @liquid transformBatch benchmark
  packages/core/src/mapping-kit/__tests__/liquid-performance.test.ts
Due: core

remove validation
  packages/destination-actions/src/destinations/braze-cohorts/metadata.json
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/generated-types.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/index.ts
Due: destination-actions

Release Canary
  packages/browser-destinations/destinations/adobe-target/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: destination-actions, browser-destinations, destinations-manifest

Finish consolidating Change Release Safety and remove remaining duplication
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

Scope PR to the PR template; drop plan checkboxes that repeat the plan sections
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

STRATCONN-7072 - [First Party DV360] - add reason and status tags to audience error stats
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/audience-functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

PR template: keep feature-flag details in one place, the Feature flag / gate checkbox
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

PR template: keep testing in one section, the Test Plan
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

braze cohorts validation test
  packages/destination-actions/src/destinations/braze-cohorts/metadata.json
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/generated-types.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/index.ts
Due: destination-actions

Release Canary
  packages/destination-actions/package.json
Due: destination-actions

Remove the Test Plan section from the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Keep the Test Plan item in the Change Control Checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: dedupe PR template and link Change Release Safety guidelines
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

docs: remove regression testing checkbox from PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
Due: none

docs: merge Testing section into Test Plan in PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
Due: none

docs: restore +2 review requirement in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: mark feature flag section as Segmenter-only in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: partners coordinate feature flag rollout with Segment engineers
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: move approvals checklist to its own PR template section
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: condense Change Release Safety review guidance, drop internal doc link
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

STRATCONN-7072 - [First Party DV360] - add Create or Connect Audience option to Engage and RETL
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/audience-functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
  packages/destination-actions/src/destinations/first-party-dv360/properties.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/__tests__/hook.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/fields.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

docs: add Segmenter staging test checkbox to Test Plan
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: restore detailed Change Release Safety review guidance without internal details
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

docs: restore original Change Release Safety review text, drop internal-only items
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

STRATCONN-7072 - [First Party DV360] - clarify descriptions, comments and lookup error messages
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/audience-functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/__tests__/hook.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/fields.ts
Due: destination-actions

e2e testing for first party dv360
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/audience-functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
  packages/destination-actions/src/destinations/first-party-dv360/properties.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/__tests__/hook.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/fields.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/types.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

docs: drop flag checkbox that repeats Deployment and Rollback Plans
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

STRATCONN-7072 - [First Party DV360] - e2e tests for Create or Connect Audience; drop App ID reconnect check
  packages/core/src/e2e-types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/__e2e__/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/audience-functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/__e2e__/create_or_connect.e2e.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/fields.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/generated-types.ts
Due: core, destination-actions

STRATCONN-7072 - [First Party DV360] - stop comparing App ID when connecting by name
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/audience-functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/fields.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/generated-types.ts
Due: destination-actions

STRATCONN-7073 added the contineOnValidationError only for batch events not single event
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/__tests__/sendEvent.test.ts
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/index.ts
Due: destination-actions
