Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

Fixed cli packages
  nx.json
  package.json
  packages/cli/package.json
  yarn.lock
Due: none

Set NX analytics to false
  nx.json
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
Due: none

tweaks to fields
  packages/destination-actions/src/destinations/pinterest-conversions/constants.ts
  packages/destination-actions/src/destinations/pinterest-conversions/index.ts
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
Due: destination-actions

[Vibe Tracking Event] - address PR review feedback
  packages/destination-actions/src/destinations/vibe-conversions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vibe-conversions/index.ts
  packages/destination-actions/src/destinations/vibe-conversions/metadata.json
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/generated-types.ts
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/index.ts
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/types.ts
  packages/destination-actions/src/destinations/vibe-conversions/trackConversion/utils.ts
Due: destination-actions

ci: remove Create PR step from version-packages.yml
  .github/workflows/version-packages.yml
Due: none

ci: remove Create PR step from version-packages.yml (#3867)
  .github/workflows/version-packages.yml
Due: none

S3 syncToS3: add per-column normalization + optional hashing
  packages/destination-actions/src/destinations/s3/syncToS3/__e2e__/hashing.e2e.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__tests__/index.test.ts
  packages/destination-actions/src/destinations/s3/syncToS3/constants.ts
  packages/destination-actions/src/destinations/s3/syncToS3/fields.ts
  packages/destination-actions/src/destinations/s3/syncToS3/functions.ts
  packages/destination-actions/src/destinations/s3/syncToS3/generated-types.ts
  packages/destination-actions/src/destinations/s3/syncToS3/types.ts
Due: destination-actions

S3 syncToS3: add per-column normalization + optional hashing
  packages/destination-actions/src/destinations/s3/syncToS3/__tests__/index.test.ts
  packages/destination-actions/src/destinations/s3/syncToS3/constants.ts
  packages/destination-actions/src/destinations/s3/syncToS3/fields.ts
  packages/destination-actions/src/destinations/s3/syncToS3/functions.ts
  packages/destination-actions/src/destinations/s3/syncToS3/generated-types.ts
  packages/destination-actions/src/destinations/s3/syncToS3/types.ts
Due: destination-actions

feat(reddit-conversions-api): v3 payload support behind feature flag
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/fields.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/metadata.json
  packages/destination-actions/src/destinations/reddit-conversions-api/shared.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v2.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/versioning-info.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

copilot comment addressed
  packages/destination-actions/src/destinations/s3/syncToS3/fields.ts
  packages/destination-actions/src/destinations/s3/syncToS3/generated-types.ts
Due: destination-actions

S3 syncToS3: clarify normalize field description (re-hash guarantee)
  packages/destination-actions/src/destinations/s3/syncToS3/fields.ts
  packages/destination-actions/src/destinations/s3/syncToS3/generated-types.ts
Due: destination-actions

[Rokt] Prefix audience event source_message_id to avoid collision
  packages/destination-actions/src/destinations/rokt-capi/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/rokt-capi/send/functions.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-ACTION-PLAN.md
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-API-REFERENCE.md
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-CLEANUP-PLAN.md
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-FIELD-CHANGES.txt
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-MIGRATION.md
  packages/destination-actions/src/destinations/reddit-conversions-api/V3-TEST-SCENARIOS.md
  yarn.lock.bak
Due: destination-actions

Add VoiceOps name mapping fields
  packages/destination-actions/src/destinations/voiceops/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/generated-types.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/index.ts
Due: destination-actions

Address VoiceOps name split feedback
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/index.ts
Due: destination-actions

added memora internal metadata
  packages/destination-actions/src/destinations/memora-internal/metadata.json
Due: destination-actions

Commit field change
  packages/destination-actions/src/destinations/webhook/metadata.json
  packages/destination-actions/src/destinations/webhook/send/index.ts
Due: destination-actions

Added AsyncAction support to actions core
  packages/core/src/__tests__/batching.test.ts
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/create-test-integration.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
  packages/core/src/index.ts
Due: core

fix(reddit-conversions-api): make action_source optional to avoid breaking existing actions
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/fields.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/metadata.json
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/generated-types.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3.ts
Due: destination-actions

adding test destination skill
  .claude/commands/test-destination-e2e.md
Due: none

ci: remove third-party GitHub Actions blocked by org policy
  .github/workflows/ci.yml
Due: none

Updated to API contract
  packages/core/src/destination-kit/action.ts
Due: core

ci: don't hard-fail the Nx SHA step if the GitHub API call errors
  .github/workflows/ci.yml
  packages/destination-actions/src/destinations/acoustic/metadata.json
Due: destination-actions

Added subscription_type field
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/fields.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: core, destination-actions

Added Async Action to SFMC
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/fields.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

Updated SFMC result counting logic
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
Due: destination-actions

added segment_traits_by_field and segment_identifiers_by_field in ups… (#3822)
  packages/destination-actions/src/destinations/memora-internal/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora-internal/index.ts
  packages/destination-actions/src/destinations/memora-internal/metadata.json
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
Due: destination-actions

ci: upgrade Playwright to fix browser-tests-core on Ubuntu 24.04
  package.json
  packages/core/src/__tests__/audience-membership.test.ts
  yarn.lock
Due: core

ci: harden Nx SHA script against shell injection; normalize yarn.lock registry
  .github/workflows/ci.yml
  .husky/pre-commit
  scripts/normalize-yarn-lock-registry.sh
  yarn.lock
Due: none

ci: address remaining Copilot review feedback
  .github/workflows/ci.yml
Due: none

Downgrade Playwright
  package.json
  yarn.lock
Due: none

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
