Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

push event slug changes
  packages/core/src/destination-kit/event-emitter-types.ts
Due: core

feat(reddit-conversions-api): upgrade API to v3.0 behind feature flag
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/index.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/breaking-changes-analysis.md
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/versioning-info.ts
Due: destination-actions

fix(reddit-conversions-api): correct canary version to v3 and complete changelog analysis
  packages/destination-actions/src/destinations/reddit-conversions-api/breaking-changes-analysis.md
  packages/destination-actions/src/destinations/reddit-conversions-api/versioning-info.ts
Due: destination-actions

update metadat.json
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
Due: destination-actions

test(reddit-conversions-api): cover performBatch version selection
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/index.test.ts
Due: destination-actions

refactor(ms-bing-ads-audiences): inline createAudience error handling, address review
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/index.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/utils.ts
Due: destination-actions

test(ms-bing-ads-audiences): add direct unit tests for readResponseBody
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/utils.test.ts
Due: destination-actions

fix(ms-bing-ads-audiences): address Copilot review nits
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/index.ts
Due: destination-actions

minus braze web changes
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/versioning-info.ts
Due: browser-destinations

Revert "minus braze web changes"
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/versioning-info.ts
Due: browser-destinations

Reapply "minus braze web changes"
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/versioning-info.ts
Due: browser-destinations

minus braze web changes
  packages/destination-actions/src/destinations/facebook-conversions-api/metadata.json
Due: destination-actions

Revert "Reapply "minus braze web changes""
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/versioning-info.ts
Due: browser-destinations

STRATCONN-6593 added SECOPS related changes to webhook actions and extensible webhook destination in action destination repo
  packages/destination-actions/src/destinations/webhook-extensible/send/index.ts
  packages/destination-actions/src/destinations/webhook-extensible/ssrf-utils.ts
  packages/destination-actions/src/destinations/webhook/send/index.ts
  packages/destination-actions/src/destinations/webhook/ssrf-utils.ts
Due: destination-actions

refactor(ms-bing-ads-audiences): parse Bing fault body, refine error status categories
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/index.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/utils.ts
Due: destination-actions

Reapply "Reapply "minus braze web changes""
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/versioning-info.ts
Due: browser-destinations

Revert "Reapply "Reapply "minus braze web changes"""
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/versioning-info.ts
Due: browser-destinations

Reapply "Reapply "Reapply "minus braze web changes"""
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/versioning-info.ts
Due: browser-destinations

Revert "Reapply "Reapply "Reapply "minus braze web changes""""
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/versioning-info.ts
Due: browser-destinations

fix(ms-bing-ads-audiences): sync latest createAudience error handling to staging
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/index.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/utils.ts
Due: destination-actions

chore: address Copilot review comments on browser build workflow
  .github/workflows/build-browser-destinations.yml
Due: none

Apply suggestions from code review
  .github/workflows/build-browser-destinations.yml
Due: none

fix: correct indentation of setup-node uses key in browser build workflow
  .github/workflows/build-browser-destinations.yml
Due: none

chore: align browser build workflow runner and action pins with repo convention
  .github/workflows/build-browser-destinations.yml
Due: none

feat: add duplicate msclkidPluginStage for stage testing
  packages/browser-destinations/destinations/ms-bing-capi/metadata.json
  packages/browser-destinations/destinations/ms-bing-capi/src/index.ts
  packages/browser-destinations/destinations/ms-bing-capi/src/msclkidPluginStage/generated-types.ts
  packages/browser-destinations/destinations/ms-bing-capi/src/msclkidPluginStage/index.ts
Due: browser-destinations

update metadata
  packages/destination-actions/src/destinations/acoustic/metadata.json
  packages/destination-actions/src/destinations/ms-bing-capi/metadata.json
Due: destination-actions

build with artifactory pull through cache
  .github/actions/artifactory-oidc/action.yml
  .github/workflows/ci.yml
  .github/workflows/ext.yml
Due: none

Quora Conversions API destination: design doc
  packages/destination-actions/src/destinations/quora-conversions-api/DESIGN.md
Due: destination-actions

Revert "update metadata"
  packages/destination-actions/src/destinations/acoustic/metadata.json
  packages/destination-actions/src/destinations/ms-bing-capi/metadata.json
Due: destination-actions

Revert "feat: add duplicate msclkidPluginStage for stage testing"
  packages/browser-destinations/destinations/ms-bing-capi/metadata.json
  packages/browser-destinations/destinations/ms-bing-capi/src/index.ts
  packages/browser-destinations/destinations/ms-bing-capi/src/msclkidPluginStage/generated-types.ts
  packages/browser-destinations/destinations/ms-bing-capi/src/msclkidPluginStage/index.ts
Due: browser-destinations

throw when hashing configured but feature flag is off
  packages/destination-actions/src/destinations/s3/syncToS3/__tests__/index.test.ts
  packages/destination-actions/src/destinations/s3/syncToS3/functions.ts
Due: destination-actions

sync s3 destination from s3-shah256-support
  packages/destination-actions/src/destinations/s3/syncToS3/__tests__/index.test.ts
  packages/destination-actions/src/destinations/s3/syncToS3/functions.ts
Due: destination-actions

STRATCONN-6707 reverted the temporary change done in getListid function
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

Add field formats and notes to DESIGN
  packages/destination-actions/src/destinations/quora-conversions-api/DESIGN.md
Due: destination-actions

feat: add Vibe (Actions) destination with Track Conversion Event
  packages/destination-actions/src/destinations/index.ts
  packages/destination-actions/src/destinations/vibe-actions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vibe-actions/generated-types.ts
  packages/destination-actions/src/destinations/vibe-actions/index.ts
  packages/destination-actions/src/destinations/vibe-actions/metadata.json
  packages/destination-actions/src/destinations/vibe-actions/trackConversionEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vibe-actions/trackConversionEvent/generated-types.ts
  packages/destination-actions/src/destinations/vibe-actions/trackConversionEvent/index.ts
Due: destination-actions

address co pilot
  .github/actions/artifactory-oidc/action.yml
  .github/workflows/ci.yml
  .github/workflows/ext.yml
Due: none

[Facebook Custom Audiences] - correct error type (#3832)
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions
