Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

STRATCONN-7073 add the testcase as per deep review
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/__tests__/sendEvent.test.ts
Due: destination-actions

first party dv360 testing in stage
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/audience-functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
  packages/destination-actions/src/destinations/first-party-dv360/properties.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/__tests__/hook.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/fields.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/types.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

Release Canary
  packages/destination-actions/package.json
Due: destination-actions

STRATCONN-7073 - [Amazon EventBridge] - fix retry classification for throttling errors
  packages/destination-actions/src/destinations/amazon-eventbridge/send/__tests__/errors.test.ts
  packages/destination-actions/src/destinations/amazon-eventbridge/send/constants.ts
  packages/destination-actions/src/destinations/amazon-eventbridge/send/functions.ts
  packages/destination-actions/src/destinations/amazon-eventbridge/send/index.ts
Due: destination-actions

refactor(avo-v2): label the gateway scope setting Gateway Inspection Scope
  packages/destination-actions/src/destinations/avo-v2/generated-types.ts
  packages/destination-actions/src/destinations/avo-v2/index.ts
  packages/destination-actions/src/destinations/avo-v2/metadata.json
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/gateway.test.ts
Due: destination-actions

Release Canary
  packages/browser-destinations/destinations/braze-cloud-plugins/package.json
  packages/browser-destinations/destinations/braze/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: destination-actions, browser-destinations, destinations-manifest

feat(avo-v2): drop Origin App Version; the version is the event's own
  packages/destination-actions/src/destinations/avo-v2/generated-types.ts
  packages/destination-actions/src/destinations/avo-v2/index.ts
  packages/destination-actions/src/destinations/avo-v2/metadata.json
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/gateway-vectors.json
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/gateway.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/generated-types.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/index.ts
Due: destination-actions

[STRATCONN-7050] [Adobe Target Web] Add optional self-hosted at.js library URL (#4056)
  packages/browser-destinations/destinations/adobe-target/metadata.json
  packages/browser-destinations/destinations/adobe-target/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/adobe-target/src/generated-types.ts
  packages/browser-destinations/destinations/adobe-target/src/index.ts
Due: browser-destinations

Release
  packages/browser-destinations/destinations/adobe-target/package.json
  packages/destinations-manifest/package.json
Due: browser-destinations, destinations-manifest

Release (#4071)
  packages/browser-destinations/destinations/adobe-target/package.json
  packages/destinations-manifest/package.json
Due: browser-destinations, destinations-manifest

STRATCONN-7072 - [First Party DV360] - throw DV360 audience errors with status 400 so the message is shown
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/audience-functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
Due: destination-actions

feat(e2e): local component-test framework + Mixpanel pilot (no core changes)
  packages/destination-actions/src/destinations/mixpanel/__e2e__/index.ts
  packages/destination-actions/src/destinations/mixpanel/__test__/e2e.test.ts
  packages/destination-actions/src/destinations/mixpanel/trackEvent/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/lib/e2e/README.md
  packages/destination-actions/src/lib/e2e/e2e-runner.ts
  packages/destination-actions/src/lib/e2e/helpers.ts
  packages/destination-actions/src/lib/e2e/index.ts
  packages/destination-actions/src/lib/e2e/types.ts
Due: destination-actions

test(e2e): add live E2E fixtures for actions-webhook (no secrets)
  packages/destination-actions/src/destinations/webhook/__e2e__/index.ts
  packages/destination-actions/src/destinations/webhook/__test__/e2e.test.ts
  packages/destination-actions/src/destinations/webhook/send/__e2e__/fixtures.e2e.ts
Due: destination-actions

fix(avo-v2): read gateway fields from the mapping, not rawData; shorter help text
  packages/destination-actions/src/destinations/avo-v2/generated-types.ts
  packages/destination-actions/src/destinations/avo-v2/index.ts
  packages/destination-actions/src/destinations/avo-v2/metadata.json
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/gateway.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/warehouse-columns.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/generated-types.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/index.ts
Due: destination-actions

docs: dedupe PR template and link Change Release Safety guidelines (#4069)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

STRATCONN-7035: keep debounce options only when SDK Authentication is on
  packages/browser-destinations/destinations/braze/src/__tests__/debounce.test.ts
  packages/browser-destinations/destinations/braze/src/debounce/index.ts
Due: browser-destinations

Clarify S3 filename prefix and delimiter field descriptions
  packages/destination-actions/src/destinations/s3/metadata.json
  packages/destination-actions/src/destinations/s3/syncToS3/fields.ts
  packages/destination-actions/src/destinations/s3/syncToS3/generated-types.ts
Due: destination-actions

Release Canary - STRATCONN-7035 Braze Web SDK auth: rebuild on the #3985 revert, gate debounce on the setting
  packages/browser-destinations/destinations/braze/src/__tests__/debounce.test.ts
  packages/browser-destinations/destinations/braze/src/__tests__/sdkAuth.test.ts
  packages/browser-destinations/destinations/braze/src/braze-types.ts
  packages/browser-destinations/destinations/braze/src/debounce/index.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/updateUserProfile/index.ts
Due: browser-destinations

[Voiceops] Add call metadata reconciliation action (#4022)
  packages/destination-actions/src/destinations/voiceops/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/constants.ts
  packages/destination-actions/src/destinations/voiceops/generated-types.ts
  packages/destination-actions/src/destinations/voiceops/index.ts
  packages/destination-actions/src/destinations/voiceops/metadata.json
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/updateCallMetadata/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/updateCallMetadata/generated-types.ts
  packages/destination-actions/src/destinations/voiceops/updateCallMetadata/index.ts
Due: destination-actions

Audience Display Name
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/fields.ts
Due: destination-actions

first party dv360 more testing
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/audience-functions.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/audience-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/fields.ts
Due: destination-actions

[ STRATCONN-7037 : MS Bing CAPI ] : Fixed the whole batch gets rejected issue by adding continueOnValidationError flag at root level (#4052)
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/__tests__/sendEvent.test.ts
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/constants.ts
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/index.ts
Due: destination-actions

Release
  packages/destination-actions/package.json
Due: destination-actions

Release (#4074)
  packages/destination-actions/package.json
Due: destination-actions

ci: require 2 approvals on every PR unless sme-approval label is applied
  .github/workflows/actions-core-review-check.yml
  scripts/github-action/check-core-reviews.js
Due: none

ci: rename actions-core-review-check to review-check
  .github/workflows/review-check.yml
Due: none

ci: add ai-review-check requiring a deep review-toolkit review and Copilot review
  .github/workflows/ai-review-check.yml
  scripts/github-action/check-ai-review.js
Due: none

STRATCONN-7035: address deep review findings
  packages/browser-destinations/destinations/braze/src/__tests__/debounce.test.ts
  packages/browser-destinations/destinations/braze/src/__tests__/sdkAuth.test.ts
  packages/browser-destinations/destinations/braze/src/debounce/index.ts
  packages/browser-destinations/destinations/braze/src/index.ts
Due: browser-destinations

Release Canary - STRATCONN-7035 Braze Web SDK auth: deep review fixes
  packages/browser-destinations/destinations/braze/src/__tests__/debounce.test.ts
  packages/browser-destinations/destinations/braze/src/__tests__/sdkAuth.test.ts
  packages/browser-destinations/destinations/braze/src/debounce/index.ts
  packages/browser-destinations/destinations/braze/src/index.ts
Due: browser-destinations

Clarify S3 filename prefix and delimiter field descriptions (#4073)
  packages/destination-actions/src/destinations/s3/metadata.json
  packages/destination-actions/src/destinations/s3/syncToS3/fields.ts
  packages/destination-actions/src/destinations/s3/syncToS3/generated-types.ts
Due: destination-actions

[Braze Cohorts] Add noop stat, shared alias completeness helper, and missing alias_label test
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/index.ts
Due: destination-actions

STRATCONN-7012 - [Snap Conversions API] - Normalize action_source to WEB / MOBILE_APP / OFFLINE
  packages/destination-actions/src/destinations/snap-conversions-api/_tests_/index.test.ts
  packages/destination-actions/src/destinations/snap-conversions-api/metadata.json
  packages/destination-actions/src/destinations/snap-conversions-api/reportConversionEvent/snap-capi-input-fields-v3.ts
  packages/destination-actions/src/destinations/snap-conversions-api/reportConversionEvent/snap-capi-v3.ts
Due: destination-actions

STRATCONN-7084 - [Reddit Conversions API] - Handle Base64 SHA-256 hashes, lowercase hex, invalid email
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/index.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
Due: destination-actions

STRATCONN-7084 - [Reddit Conversions API] - Do not convert Base64 external_id
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
Due: destination-actions

STRATCONN-7012 - [Snap Conversions API] - Remove stale action_source comment
  packages/destination-actions/src/destinations/snap-conversions-api/reportConversionEvent/snap-capi-v3.ts
Due: destination-actions

snap CAPI test stage
  packages/destination-actions/src/destinations/snap-conversions-api/_tests_/index.test.ts
  packages/destination-actions/src/destinations/snap-conversions-api/metadata.json
  packages/destination-actions/src/destinations/snap-conversions-api/reportConversionEvent/snap-capi-input-fields-v3.ts
  packages/destination-actions/src/destinations/snap-conversions-api/reportConversionEvent/snap-capi-v3.ts
Due: destination-actions

snap capi e2e testing
  packages/destination-actions/src/destinations/snap-conversions-api/_tests_/index.test.ts
  packages/destination-actions/src/destinations/snap-conversions-api/metadata.json
  packages/destination-actions/src/destinations/snap-conversions-api/reportConversionEvent/snap-capi-input-fields-v3.ts
  packages/destination-actions/src/destinations/snap-conversions-api/reportConversionEvent/snap-capi-v3.ts
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
