Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

Release Canary
  packages/destination-actions/package.json
Due: destination-actions

Hubspot: omit idProperty when the identifier is hs_object_id (#3957)
  packages/destination-actions/src/destinations/hubspot/upsertObject/__tests__/update-by-hs-object-id.test.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/client.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/constants.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/functions/hubspot-association-functions.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/functions/hubspot-record-functions.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/types.ts
Due: destination-actions

Add more error handling for edge cases
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: destination-actions

Mixpanel Web (actions): add Source Name setting to tag events with segment_source_name (#3902)
  packages/browser-destinations/destinations/mixpanel-web/metadata.json
  packages/browser-destinations/destinations/mixpanel-web/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/alias/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/group/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/setting-fields.ts
  packages/browser-destinations/destinations/mixpanel-web/src/track/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web/src/types.ts
Due: browser-destinations

correcting a bug with token fallback
  packages/destination-actions/src/destinations/mixpanel/common/utils.ts
Due: destination-actions

Removed debug logs
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: destination-actions

STRATCONN-6743: add unit tests for getImportApiCredential token fallback
  packages/destination-actions/src/destinations/mixpanel/common/__test__/utils.test.ts
Due: destination-actions

Added network error handling
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: destination-actions

fixing pre-existing mapping bug
  packages/destination-actions/src/destinations/reddit-conversions-api/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/metadata.json
Due: destination-actions

[Async Batch] Update SFMC Data Extension Error Handling (#3967)
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: destination-actions

STRATCONN-6637 [Hubspot] Fix duplicate ids in associated record batch requests
  packages/destination-actions/src/destinations/hubspot/upsertObject/__tests__/multi-label-associations.test.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/functions/hubspot-association-functions.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/functions/validation-functions.ts
Due: destination-actions

Added check for network errors
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: destination-actions

Release
  .buildkite/old-pipeline.yml
  .buildkite/pipeline.yml
  packages/browser-destinations/destinations/mixpanel-web/package.json
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/1786943686447922912.ndjson
  packages/destinations-manifest/package.json
Due: destination-actions, browser-destinations, destinations-manifest

Release
  packages/browser-destinations/destinations/mixpanel-web/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: destination-actions, browser-destinations, destinations-manifest

Release (#3970)
  packages/browser-destinations/destinations/mixpanel-web/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: destination-actions, browser-destinations, destinations-manifest

fix(google-enhanced-conversions): resolve partial failures against the request that failed
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

Marketo Static Lists: async Add to List action (POC, Phase 1)
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/__tests__/index.async.test.ts
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/generated-types.ts
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/index.async.ts
  packages/destination-actions/src/destinations/marketo-static-lists/constants.ts
  packages/destination-actions/src/destinations/marketo-static-lists/functions.ts
  packages/destination-actions/src/destinations/marketo-static-lists/index.ts
Due: destination-actions

Marketo Static Lists: async Add to List poll branch (POC, Phase 2)
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/__tests__/index.async.test.ts
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/index.async.ts
Due: destination-actions

Add guardrails for inconsistent result API.
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: destination-actions

Add guardrails for inconsistent result API.
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: destination-actions

Marketo Static Lists: dual-register asyncAddToList for staging deploy
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/fields.ts
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/index.async.ts
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/index.ts
  packages/destination-actions/src/destinations/marketo-static-lists/index.ts
  packages/destination-actions/src/destinations/marketo-static-lists/metadata.json
Due: destination-actions

Migrate HubSpot OAuth token refresh to the 2026-03 API
  packages/destination-actions/src/destinations/hubspot/__tests__/index.test.ts
  packages/destination-actions/src/destinations/hubspot/versioning-info.ts
Due: destination-actions

[STAGING ONLY] snap-conversions: force event_time seconds + flag observability
  packages/destination-actions/src/destinations/snap-conversions-api/_tests_/index.test.ts
  packages/destination-actions/src/destinations/snap-conversions-api/reportConversionEvent/snap-capi-v3.ts
Due: destination-actions

STRATCONN-6892: filter event_metadata by tracking_type per Reddit CAPI docs
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/utils-v3.ts
Due: destination-actions

Regenerate metadata payload for marketo-static-lists (fix CI metadata drift)
  packages/destination-actions/src/destinations/marketo-static-lists/metadata.json
Due: destination-actions

Potential fix for pull request finding
  packages/destination-actions/src/destinations/mixpanel/common/utils.ts
Due: destination-actions

STRATCONN-4121 - [Customerio] - fix isIsoDate long-fraction rejection without touching convertValidTimestamp
  packages/destination-actions/src/destinations/customerio/__tests__/createUpdatePerson.test.ts
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
Due: destination-actions

more reddit capi testing in stage
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/v3-utils.test.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/index.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/metadata.json
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/utils.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/v3/utils-v3.ts
Due: destination-actions

customer io stage testing
  packages/destination-actions/src/destinations/customerio/__tests__/createUpdatePerson.test.ts
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
Due: destination-actions

cache auth token by auth key
  packages/destination-actions/src/destinations/friendbuy/__tests__/cloudUtil.test.ts
  packages/destination-actions/src/destinations/friendbuy/cloudUtil.ts
Due: destination-actions

Update async endpoints
  packages/core/package.json
  packages/core/src/__tests__/request-client.test.ts
  packages/core/src/index.ts
  packages/core/src/request-client.ts
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: core, destination-actions

Marketo Static Lists: add async Add to List action (POC)
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/__tests__/index.async.test.ts
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/fields.ts
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/generated-types.ts
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/index.async.ts
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/index.ts
  packages/destination-actions/src/destinations/marketo-static-lists/constants.ts
  packages/destination-actions/src/destinations/marketo-static-lists/functions.ts
  packages/destination-actions/src/destinations/marketo-static-lists/index.ts
  packages/destination-actions/src/destinations/marketo-static-lists/metadata.json
Due: destination-actions

Marketo Static Lists: expose enable_batching and subscription_type in async Add to List
  packages/destination-actions/src/destinations/marketo-static-lists/asyncAddToList/fields.ts
  packages/destination-actions/src/destinations/marketo-static-lists/metadata.json
Due: destination-actions

Release Canary
  packages/core/package.json
  packages/destination-actions/package.json
Due: core, destination-actions

Update async endpoints
  packages/core/src/__tests__/request-client.test.ts
  packages/core/src/index.ts
  packages/core/src/request-client.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
Due: core, destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
