Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

skip joe-ayoub-segment for internal PR reviews
  scripts/github-action/get-reviewers.js
Due: none

fixing as per Google instructions
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion2.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/index.ts
Due: destination-actions

STRATCONN-0000 - Assign pr reviewer stratconn (#3405)
  scripts/github-action/get-reviewers.js
Due: none

tweaking function a little
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

changing mapping order
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

Adding send action for kinesis destination (#3397)
  packages/actions-shared/src/aws-config/index.ts
  packages/actions-shared/src/index.ts
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/aws-kinesis/__test__/utils.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
  packages/destination-actions/src/lib/AWS/utils.ts
  yarn.lock
Due: actions-shared, destination-actions

update key name + add default mapping (#3400)
  packages/destination-actions/src/destinations/survicate/generated-types.ts
  packages/destination-actions/src/destinations/survicate/identifyGroup/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate/identifyGroup/generated-types.ts
  packages/destination-actions/src/destinations/survicate/identifyGroup/index.ts
  packages/destination-actions/src/destinations/survicate/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate/identifyUser/generated-types.ts
  packages/destination-actions/src/destinations/survicate/identifyUser/index.ts
  packages/destination-actions/src/destinations/survicate/index.ts
  packages/destination-actions/src/destinations/survicate/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/survicate/trackEvent/index.ts
Due: destination-actions

removing hardcoding
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/lib/AWS/sts.ts
Due: destination-actions

merging mz-kinesis-temp
  packages/destination-actions/src/destinations/aws-kinesis/send/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
  packages/destination-actions/src/lib/AWS/sts.ts
Due: destination-actions

saving progress
  packages/actions-shared/src/amplitude/types.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/__tests__/index.test.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/functions.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/generated-types.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/index.ts
Due: actions-shared, browser-destinations

unit tests for front end code
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/__tests__/index.test.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/functions.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/index.ts
Due: browser-destinations

more progresss
  packages/actions-shared/src/amplitude/constants.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/__tests__/index.test.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/generated-types.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/index.ts
  packages/destination-actions/src/destinations/amplitude/autocaptueAttributions.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/generated-types.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
Due: actions-shared, destination-actions, browser-destinations

server side code for logEventV2
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
Due: destination-actions

minor tweak
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
Due: destination-actions

progress
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/__tests__/index.test.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/index.ts
Due: browser-destinations

starting server side unit tests
  packages/actions-shared/src/amplitude/types.ts
  packages/destination-actions/src/destinations/amplitude/__tests__/autocapture-attribution.test.ts
Due: actions-shared, destination-actions

Revert "Adding send action for kinesis destination (#3397)"
  packages/actions-shared/src/aws-config/index.ts
  packages/actions-shared/src/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/__test__/index.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/__test__/utils.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
  packages/destination-actions/src/lib/AWS/utils.ts
  yarn.lock
Due: actions-shared, destination-actions

code
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
  packages/destination-actions/src/lib/AWS/sts.ts
Due: destination-actions

local code
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

testing changes
  packages/actions-shared/src/aws-config/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
  packages/destination-actions/src/lib/AWS/sts.ts
  packages/destination-actions/src/lib/AWS/utils.ts
Due: actions-shared, destination-actions

PR comments
  packages/actions-shared/src/aws-config/index.ts
  packages/actions-shared/src/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/lib/AWS/utils.ts
Due: actions-shared, destination-actions

PR comment: fixing relative path
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

Publish Canary
  packages/actions-shared/package.json
  packages/browser-destinations/destinations/friendbuy/package.json
  packages/browser-destinations/destinations/intercom/package.json
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destinations-manifest/package.json
Due: actions-shared, destination-actions, browser-destinations, destinations-manifest

code
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

fixing model
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
Due: destination-actions

Upgrade default version for google ads API
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

Kinesis destination bug fix (#3409)
  packages/actions-shared/src/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
  packages/destination-actions/src/lib/AWS/sts.ts
  packages/destination-actions/src/lib/AWS/utils.ts
Due: actions-shared, destination-actions

more progress
  packages/core/src/segment-event.ts
  packages/destination-actions/src/destinations/amplitude/__tests__/autocapture-attribution.test.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/generated-types.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
Due: core, destination-actions

unit test working
  packages/destination-actions/src/destinations/amplitude/__tests__/autocapture-attribution.test.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
Due: destination-actions

Exposing enable_batching field for GEC actions
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion2/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadConversionAdjustment/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadConversionAdjustment2/index.ts
Due: destination-actions

test action
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadConversionAdjustment/index.ts
Due: destination-actions

renaming details for alias action
  packages/browser-destinations/destinations/mixpanel-web/src/alias/index.ts
Due: browser-destinations

adding optional fields to our segment integration
  package.json
  packages/destination-actions/src/destinations/topsort/impression/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/topsort/impression/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/topsort/impression/__tests__/index.test.ts
  packages/destination-actions/src/destinations/topsort/impression/generated-types.ts
  packages/destination-actions/src/destinations/topsort/impression/index.ts
  packages/destination-actions/src/destinations/topsort/index.ts
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
