Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Small Refactor for Webhook Audiences (#3395)
  packages/destination-actions/src/destinations/webhook-audiences/__test__/index.test.ts
  packages/destination-actions/src/destinations/webhook-audiences/generated-types.ts
  packages/destination-actions/src/destinations/webhook-audiences/index.ts
Due: destination-actions

[SFTP destination] Adds support for fast upload from buffer (#3387)
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/sftp/__tests__/client.test.ts
  packages/destination-actions/src/destinations/sftp/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/sftp/__tests__/sftp-wrapper.test.ts
  packages/destination-actions/src/destinations/sftp/client.ts
  packages/destination-actions/src/destinations/sftp/constants.ts
  packages/destination-actions/src/destinations/sftp/fields.ts
  packages/destination-actions/src/destinations/sftp/functions.ts
  packages/destination-actions/src/destinations/sftp/generated-types.ts
  packages/destination-actions/src/destinations/sftp/index.ts
  packages/destination-actions/src/destinations/sftp/sftp-wrapper.ts
  packages/destination-actions/src/destinations/sftp/syncEvents/__tests__/index.test.ts
  packages/destination-actions/src/destinations/sftp/syncEvents/index.ts
  packages/destination-actions/src/destinations/sftp/syncModelToSFTP/index.ts
Due: core, destination-actions

Adding a gazillion presets
  packages/destination-actions/src/destinations/tiktok-app-events/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/presets.ts
Due: destination-actions

preset and required fields
  packages/destination-actions/src/destinations/tiktok-app-events/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-app-events/presets.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/constants.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/fields/common_fields.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/types.ts
Due: destination-actions

update key name + add default mapping
  packages/destination-actions/src/destinations/survicate/generated-types.ts
  packages/destination-actions/src/destinations/survicate/identifyGroup/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate/identifyGroup/generated-types.ts
  packages/destination-actions/src/destinations/survicate/identifyGroup/index.ts
  packages/destination-actions/src/destinations/survicate/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate/identifyUser/generated-types.ts
  packages/destination-actions/src/destinations/survicate/identifyUser/index.ts
  packages/destination-actions/src/destinations/survicate/index.ts
  packages/destination-actions/src/destinations/survicate/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/survicate/trackEvent/index.ts
Due: destination-actions

first working session
  packages/browser-destinations/destinations/mixpanel-web-actions/README.md
  packages/browser-destinations/destinations/mixpanel-web-actions/package.json
  packages/browser-destinations/destinations/mixpanel-web-actions/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/initialize.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/tsconfig.json
Due: browser-destinations

meeting with Jae
  packages/destination-actions/src/destinations/tiktok-app-events/constants.ts
  packages/destination-actions/src/destinations/tiktok-app-events/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/fields/common_fields.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/generated-types.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/types.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/utils.ts
Due: destination-actions

Revert "Merge pull request #2 from customerio/dx-516"
  .github/workflows/ci.yml
Due: none

Updating batch size for async action
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

Joe meeting with Mohammed
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

update key
  packages/destination-actions/src/destinations/survicate/generated-types.ts
  packages/destination-actions/src/destinations/survicate/identifyGroup/generated-types.ts
  packages/destination-actions/src/destinations/survicate/identifyGroup/index.ts
  packages/destination-actions/src/destinations/survicate/identifyUser/index.ts
  packages/destination-actions/src/destinations/survicate/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/survicate/trackEvent/index.ts
Due: destination-actions

Add Actions and settings for Redshift (#3357)
  packages/warehouse-destinations/src/destinations/redshift/generated-types.ts
  packages/warehouse-destinations/src/destinations/redshift/index.ts
  packages/warehouse-destinations/src/destinations/redshift/sendCustomEvent/audience-default-fields.ts
  packages/warehouse-destinations/src/destinations/redshift/sendCustomEvent/generated-types.ts
  packages/warehouse-destinations/src/destinations/redshift/sendCustomEvent/index.ts
  packages/warehouse-destinations/src/destinations/redshift/sendCustomEvent/journeys-default-fields.ts
Due: none

saving progress
  packages/destination-actions/src/destinations/tiktok-app-events/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-app-events/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/presets.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/constants.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/fields/common_fields.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/types.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/utils.ts
Due: destination-actions

Publish Canary
  packages/browser-destinations/destinations/1flow/package.json
  packages/browser-destinations/destinations/braze-cloud-plugins/package.json
  packages/browser-destinations/destinations/braze/package.json
  packages/browser-destinations/destinations/iterate/package.json
  packages/browser-destinations/destinations/pendo-web-actions/package.json
  packages/browser-destinations/destinations/replaybird/package.json
  packages/browser-destinations/destinations/ripe/package.json
  packages/browser-destinations/destinations/userpilot/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
  yarn.lock
Due: destination-actions, browser-destinations, destinations-manifest

Updating batch_bytes
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

setting min/max batch size
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

Jae working session
  packages/destination-actions/src/destinations/tiktok-app-events/generated-types.ts
  packages/destination-actions/src/destinations/tiktok-app-events/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/presets.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/fields/common_fields.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/generated-types.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/utils.ts
Due: destination-actions

first unit test
  packages/destination-actions/src/destinations/tiktok-app-events/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-app-events/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/utils.ts
Due: destination-actions

stuck on hashing idfa test which doesnt make sense
  packages/destination-actions/src/destinations/tiktok-app-events/__tests__/index.test.ts
Due: destination-actions

STRATCONN-6296 - support more currencies reddit capi (#3391)
  packages/destination-actions/src/destinations/reddit-conversions-api/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/customEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/reddit-conversions-api/fields.ts
  packages/destination-actions/src/destinations/reddit-conversions-api/standardEvent/__tests__/__snapshots__/snapshot.test.ts.snap
Due: destination-actions

local changes
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

Publish Canary
  package.json
  packages/warehouse-destinations/package.json
Due: none

adding tests
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/utils.test.ts
  packages/destination-actions/src/lib/AWS/sts.ts
Due: destination-actions

removign comments + local code
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/index.test.ts
  packages/destination-actions/src/lib/AWS/sts.ts
Due: destination-actions

unit tests working
  packages/destination-actions/src/destinations/tiktok-app-events/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-app-events/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/fields/common_fields.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/formatter.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/types.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/utils.ts
  packages/destination-actions/src/lib/hashing-utils.ts
Due: destination-actions

removing console log
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/utils.ts
Due: destination-actions

unit test for hashing ad ids
  packages/destination-actions/src/destinations/tiktok-app-events/__tests__/formatter.test.ts
Due: destination-actions

STRATCONN-6272 - [TikTok App Events] - new cloud destination (#3370)
  packages/destination-actions/src/destinations/tiktok-app-events/__tests__/formatter.test.ts
  packages/destination-actions/src/destinations/tiktok-app-events/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-app-events/generated-types.ts
  packages/destination-actions/src/destinations/tiktok-app-events/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/constants.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/fields/common_fields.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/formatter.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/generated-types.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/index.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/types.ts
  packages/destination-actions/src/destinations/tiktok-app-events/reportAppEvent/utils.ts
Due: destination-actions

registering tiktok app events destination
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

registering tiktok app events destination (#3403)
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

updating key value pair object in advance for instructions from google team
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion2.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/index.ts
Due: destination-actions

scaffolded all Actions
  packages/browser-destinations/destinations/mixpanel-web-actions/src/group/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/group/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/group/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/identify/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/identify/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/initialize.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/track/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/track/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/track/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/trackPageView/__tests__/index.test.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/trackPageView/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/trackPageView/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/types.ts
Due: browser-destinations

initialize function
  packages/browser-destinations/destinations/mixpanel-web-actions/src/constants.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/types.ts
Due: browser-destinations

initial commit
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

working on actions
  packages/browser-destinations/destinations/mixpanel-web-actions/src/fields.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/functions.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/group/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/group/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/identify/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/identify/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/track/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/track/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/trackPageView/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/trackPageView/index.ts
  packages/browser-destinations/destinations/mixpanel-web-actions/src/types.ts
Due: browser-destinations
