Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Add Claude Code skills for destination development workflow
  .claude/commands/endpoint-mapping.md
  .claude/commands/generate-destination.md
  .claude/commands/refined-actions.md
  .claude/commands/spec-generator.md
Due: none

fixing build
  packages/core/src/destination-kit/action.ts
  packages/core/src/index.ts
  packages/destination-actions/package.json
Due: core, destination-actions

testing in stage
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

fixing memora test
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  yarn.lock
Due: destination-actions

amc test staging
  packages/destination-actions/src/destinations/amazon-amc/function.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/__tests__/flag-off.test.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/generated-types.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/index.ts
  packages/destination-actions/src/destinations/amazon-amc/types.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
  yarn.lock
Due: destination-actions

Add feature flag tests and breaking changes analysis for CM360 v5 upgrade
  packages/destination-actions/src/destinations/google-campaign-manager-360/breaking-changes-analysis.md
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionAdjustmentUpload/__tests__/index.test.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionUpload/__tests__/index.test.ts
Due: destination-actions

added other traits group support
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

add id,type in contact_trait dynamic field
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

removing flag from core
  packages/core/src/__tests__/audience-membership.test.ts
  packages/core/src/destination-kit/action.ts
Due: core

single dropdown for traits
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
  packages/destination-actions/src/destinations/memora/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

fix traitGroups response
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

fix: incorrect description for Display & Video 360 and SendGrid, fix test case (#3649)
  packages/destination-actions/src/destinations/display-video-360/__tests__/index.test.ts
  packages/destination-actions/src/destinations/display-video-360/addToAudience/generated-types.ts
  packages/destination-actions/src/destinations/display-video-360/properties.ts
  packages/destination-actions/src/destinations/display-video-360/removeFromAudience/generated-types.ts
  packages/destination-actions/src/destinations/sendgrid-audiences/syncAudience/fields.ts
  packages/destination-actions/src/destinations/sendgrid-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/__tests__/index.test.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

attempting to fix core audience handling
  packages/core/src/destination-kit/action.ts
Due: core

[Aampe] Add US endpoint (#3664)
  packages/destination-actions/src/destinations/aampe/constants.ts
  packages/destination-actions/src/destinations/aampe/index.ts
Due: destination-actions

[YouAppi] - register audience destination
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

[YouAppi] - register audience destination (#3669)
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

fixing lint issue with test
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
Due: destination-actions

added includeTraits
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

removing core flag
  packages/core/src/__tests__/audience-membership.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/flags.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.audienceMembership.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
Due: core, destination-actions

reverting google ec braze cohorts and linkedin audiences
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/__snapshots__/legacy-to-be-removed.test.ts.snap
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/legacy-to-be-removed.test.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.audienceMembership.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
Due: destination-actions

removing unnecessary check
  packages/core/src/destination-kit/action.ts
Due: core

fixing ampitude cohort test
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/getIds.test.ts
Due: destination-actions

stage test again facebook custom audiences and core change
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/getIds.test.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/__snapshots__/legacy-to-be-removed.test.ts.snap
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/legacy-to-be-removed.test.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.audienceMembership.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
Due: destination-actions

reverting changes to facebook custom audiences
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/audience-creation.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/canary.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/fb-operations.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-operations.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fbca-properties.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/generated-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/presets.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/delete.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/legacy.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/upsert.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/generated-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/hook-functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/types.ts
Due: destination-actions

STRATCONN-6584 - [AMC] - adding consent support (#3641)
  packages/destination-actions/src/destinations/amazon-amc/function.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/__tests__/flag-off.test.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/generated-types.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/index.ts
  packages/destination-actions/src/destinations/amazon-amc/types.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Due: destination-actions
