Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

adding unit test coverage
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
Due: destination-actions

linkedin audiences - audience membership update
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

minor tweak
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
Due: destination-actions

tier 1 batch 6
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/versioning-info.ts
  packages/destination-actions/src/destinations/rokt-audiences/constants.ts
  packages/destination-actions/src/destinations/rokt-audiences/versioning-info.ts
  packages/destination-actions/src/destinations/segment-profiles/properties.ts
  packages/destination-actions/src/destinations/segment-profiles/versioning-info.ts
  packages/destination-actions/src/destinations/talon-one/trackEventV2/index.ts
  packages/destination-actions/src/destinations/talon-one/updateCustomerProfileV3/index.ts
  packages/destination-actions/src/destinations/talon-one/updateCustomerSessionV2/index.ts
  packages/destination-actions/src/destinations/talon-one/versioning-info.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-rt.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
  packages/destination-actions/src/destinations/yahoo-audiences/versioning-info.ts
Due: destination-actions

Publish Canary
  .claude/commands/api-version-report.md
  packages/destination-actions/package.json
Due: destination-actions

fix(vwo): update account ID threshold for smartcode v3 and refactor code structure
  packages/browser-destinations/destinations/vwo/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/vwo/src/init-script.ts
Due: browser-destinations

STRATCONN-6612 committed the changes for actions-google-enhanced-conversion
  EVENT_TESTER_INTERNAL_LEAK.md
  packages/destination-actions/src/destinations/google-enhanced-conversions/DATAMANAGER_MIGRATION.md
  packages/destination-actions/src/destinations/google-enhanced-conversions/ROLLOUT.md
  packages/destination-actions/src/destinations/google-enhanced-conversions/TESTING_PLAN.md
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/types.ts
Due: destination-actions

tier 1 batch 7
  packages/destination-actions/src/destinations/amazon-conversions-api/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/utils.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/versioning-info.ts
  packages/destination-actions/src/destinations/avo/sendSchemaToInspector/index.ts
  packages/destination-actions/src/destinations/avo/versioning-info.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/index.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/sendEmail/SendEmailPerformer.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/versioning-info.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/versioning-info.ts
  packages/destination-actions/src/destinations/google-sheets/googleapis/index.ts
  packages/destination-actions/src/destinations/google-sheets/versioning-info.ts
  packages/destination-actions/src/destinations/taboola-actions/index.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/client.ts
  packages/destination-actions/src/destinations/taboola-actions/versioning-info.ts
  packages/destination-actions/src/destinations/tiktok-offline-conversions/index.ts
  packages/destination-actions/src/destinations/tiktok-offline-conversions/utils.ts
  packages/destination-actions/src/destinations/tiktok-offline-conversions/versioning-info.ts
Due: destination-actions

refactor: remove alphabetical field order flag and related logic
  packages/destination-actions/src/destinations/liveramp-audiences/__tests__/liveramp.test.ts
  packages/destination-actions/src/destinations/liveramp-audiences/__tests__/operations.test.ts
  packages/destination-actions/src/destinations/liveramp-audiences/audienceEnteredS3/index.ts
  packages/destination-actions/src/destinations/liveramp-audiences/audienceEnteredSftp/index.ts
  packages/destination-actions/src/destinations/liveramp-audiences/operations.ts
  packages/destination-actions/src/destinations/liveramp-audiences/properties.ts
Due: destination-actions

address copilot comments
  packages/destination-actions/src/destinations/facebook-custom-audiences/constants.ts
  packages/destination-actions/src/destinations/tiktok-offline-conversions/index.ts
Due: destination-actions

Address PR review: add types, populate body/sent, and wrap request in try/catch
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
Due: destination-actions

Update VWO init script version from 2.1 to 3.0
  packages/browser-destinations/destinations/vwo/src/init-script.ts
Due: browser-destinations

changed field names
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

added dynamic identifiers
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

Revert " STRATCONN-0000/added-copilot-as-default-reviewer (#3685)"
  scripts/github-action/get-reviewers.js
Due: none

feat(klaviyo): upgrade API to 2026-01-15 behind feature flag
  packages/destination-actions/src/destinations/klaviyo/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/breaking-changes-analysis.md
  packages/destination-actions/src/destinations/klaviyo/config.ts
  packages/destination-actions/src/destinations/klaviyo/functions.ts
  packages/destination-actions/src/destinations/klaviyo/index.ts
  packages/destination-actions/src/destinations/klaviyo/versioning-info.ts
Due: destination-actions

chore: add api-version-upgrade skill to repo
  .claude/skills/api-version-upgrade/SKILL.md
  .claude/skills/api-version-upgrade/evals/evals.json
  .claude/skills/api-version-upgrade/references/common-patterns.md
  .claude/skills/api-version-upgrade/references/feature-flags.md
  .claude/skills/api-version-upgrade/references/testing-guide.md
Due: none

check invalid identifiers
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

fix(klaviyo): fix import order and rename feature flag to match convention
  packages/destination-actions/src/destinations/klaviyo/functions.ts
Due: destination-actions

fix typescript issue
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
  yarn.lock
Due: destination-actions

deploy
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: destination-actions

feat(klaviyo): add real API validation harness for version upgrades
  .claude/skills/api-version-upgrade/SKILL.md
  .gitignore
  packages/destination-actions/src/destinations/klaviyo/__validation__/differ.ts
  packages/destination-actions/src/destinations/klaviyo/__validation__/fixtures.ts
  packages/destination-actions/src/destinations/klaviyo/__validation__/normalizer.ts
  packages/destination-actions/src/destinations/klaviyo/__validation__/validate.ts
  packages/destination-actions/src/destinations/klaviyo/__validation__/validation-report.md
Due: destination-actions

Remove test code
  packages/destination-actions/src/destinations/linkedin-conversions/index.ts
Due: destination-actions

Handle LinkedIn token propagation 401s with refresh and retry
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/constants.ts
  packages/destination-actions/src/destinations/linkedin-conversions/index.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
Due: core, destination-actions

Fix type annotations and add full onEvent integration test for LinkedIn token propagation
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
Due: destination-actions

feat(linkedin-conversions): upgrade API to 202603 behind feature flag
  packages/destination-actions/src/destinations/linkedin-conversions/constants.ts
  packages/destination-actions/src/destinations/linkedin-conversions/index.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/versioning-info.ts
Due: destination-actions

updated executePoll method to be accesible by integrations
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: core, destination-actions

using cloudeventv1 spec
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

Implemented pollStatus for async actions
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: core, destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
