Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

Reverting dataprocessing option field back to string array for backward compatibility
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/fields.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/generated-types.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/utils.ts
Due: destination-actions

scaffold new amplitude cohort integration
  packages/destination-actions/src/destinations/amplitude-cohorts/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/fields.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/versioning-info.ts
Due: destination-actions

STRATCONN-6010 - [GA4 Web] - label update
  packages/browser-destinations/destinations/google-analytics-4-web/src/index.ts
Due: browser-destinations

STRATCONN-6465 - [Appcues web] - new destination
  packages/browser-destinations/destinations/appcues-web/README.md
  packages/browser-destinations/destinations/appcues-web/package.json
  packages/browser-destinations/destinations/appcues-web/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/appcues-web/src/constants.ts
  packages/browser-destinations/destinations/appcues-web/src/functions.ts
  packages/browser-destinations/destinations/appcues-web/src/generated-types.ts
  packages/browser-destinations/destinations/appcues-web/src/group/__tests__/index.test.ts
  packages/browser-destinations/destinations/appcues-web/src/group/generated-types.ts
  packages/browser-destinations/destinations/appcues-web/src/group/index.ts
  packages/browser-destinations/destinations/appcues-web/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/appcues-web/src/identify/generated-types.ts
  packages/browser-destinations/destinations/appcues-web/src/identify/index.ts
  packages/browser-destinations/destinations/appcues-web/src/index.ts
  packages/browser-destinations/destinations/appcues-web/src/page/__tests__/index.test.ts
  packages/browser-destinations/destinations/appcues-web/src/page/generated-types.ts
  packages/browser-destinations/destinations/appcues-web/src/page/index.ts
  packages/browser-destinations/destinations/appcues-web/src/track/__tests__/index.test.ts
  packages/browser-destinations/destinations/appcues-web/src/track/generated-types.ts
  packages/browser-destinations/destinations/appcues-web/src/track/index.ts
  packages/browser-destinations/destinations/appcues-web/src/types.ts
  packages/browser-destinations/destinations/appcues-web/tsconfig.json
Due: browser-destinations

skipping calls to blackhole in stage
  packages/destination-actions/src/destinations/webhook/send/index.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

some bug fixes
  packages/destination-actions/src/destinations/dotdigital-audiences/generated-types.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/types.ts
Due: destination-actions

bug fixes dotdigital audiences
  packages/destination-actions/src/destinations/dotdigital-audiences/generated-types.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/types.ts
Due: destination-actions

updating field mappings
  packages/destination-actions/src/destinations/rokt-capi/send/fields.ts
Due: destination-actions

updating field mappings (#3569)
  packages/destination-actions/src/destinations/rokt-capi/send/fields.ts
Due: destination-actions

rokt field remapping
  packages/destination-actions/src/destinations/rokt-capi/send/fields.ts
Due: destination-actions

rokt field remapping (#3570)
  packages/destination-actions/src/destinations/rokt-capi/send/fields.ts
Due: destination-actions

ci006: add proof filename with command substitution marker
  poc/CI006_SAFE_$(printf CI006_MARKER>&2)_FILE.ts
Due: none

update comment
  packages/destination-actions/src/destinations/kafka/send/index.ts
Due: destination-actions

empty commit
  packages/destination-actions/src/destinations/webhook/send/index.ts
Due: destination-actions

Bypass faulty tests
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
Due: destination-actions

Revert "Bypass faulty tests"
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
Due: destination-actions

Update packages/browser-destinations/destinations/appcues-web/src/identify/index.ts
  packages/browser-destinations/destinations/appcues-web/src/identify/index.ts
Due: browser-destinations

Update packages/browser-destinations/destinations/appcues-web/src/index.ts
  packages/browser-destinations/destinations/appcues-web/src/index.ts
Due: browser-destinations

Update packages/browser-destinations/destinations/appcues-web/src/group/index.ts
  packages/browser-destinations/destinations/appcues-web/src/group/index.ts
Due: browser-destinations

update deps
  packages/actions-shared/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/destination-actions/package.json
Due: core, actions-shared, destination-actions

fix unit tests
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/rokt-capi/send/functions.ts
Due: destination-actions

Bump semver@6.3.0
  yarn.lock
Due: none

Bump aws kinesis sdk version
  package.json
  packages/destination-actions/package.json
  yarn.lock
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
