Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

STRATCONN-6600 - [Dv360] - new action to handle add + remove audience membership (#3696)
  packages/destination-actions/src/destinations/display-video-360/__tests__/syncAudience.test.ts
  packages/destination-actions/src/destinations/display-video-360/index.ts
  packages/destination-actions/src/destinations/display-video-360/shared.ts
  packages/destination-actions/src/destinations/display-video-360/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/display-video-360/syncAudience/index.ts
Due: destination-actions

more tests
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/__tests__/index.test.ts
Due: destination-actions

minor refactor to reduce compute
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
Due: destination-actions

remocing type and destructure from perform/batch
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/types.ts
Due: destination-actions

STRATCONN-6484 - [Youappi] - bugfix (#3766)
  packages/destination-actions/src/destinations/youappi-audiences/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/youappi-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/youappi-audiences/sync/generated-types.ts
  packages/destination-actions/src/destinations/youappi-audiences/sync/index.ts
Due: destination-actions

STRATCONN-6802 - [Facebook Custom Audiences] - journeys bugfix (#3781)
  packages/destination-actions/src/destinations/facebook-custom-audiences/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/journeys.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/types.ts
Due: destination-actions

feat(linkedin-audiences): upgrade API to 202604 with feature flag (#3754)
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/versioning-info.ts
Due: destination-actions

[TikTok Audiences] - new syncAudience action (#3732)
  packages/destination-actions/src/destinations/tiktok-audiences/functions.ts
  packages/destination-actions/src/destinations/tiktok-audiences/index.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/types.ts
Due: destination-actions

fix(recombee): Multiply price and profit by amount
  packages/destination-actions/src/destinations/recombee/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addCartAddition/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addCartAddition/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addCartAddition/index.ts
  packages/destination-actions/src/destinations/recombee/addPurchase/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addPurchase/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addPurchase/index.ts
Due: destination-actions

fix(recombee): Add anchor timestamp, unify field definitions
  packages/destination-actions/src/destinations/recombee/addBookmark/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addBookmark/index.ts
  packages/destination-actions/src/destinations/recombee/addCartAddition/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addCartAddition/index.ts
  packages/destination-actions/src/destinations/recombee/addDetailView/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addDetailView/index.ts
  packages/destination-actions/src/destinations/recombee/addPurchase/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addPurchase/index.ts
  packages/destination-actions/src/destinations/recombee/addRating/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addRating/index.ts
  packages/destination-actions/src/destinations/recombee/commonFields.ts
  packages/destination-actions/src/destinations/recombee/deleteBookmark/generated-types.ts
  packages/destination-actions/src/destinations/recombee/deleteBookmark/index.ts
  packages/destination-actions/src/destinations/recombee/deleteCartAddition/generated-types.ts
  packages/destination-actions/src/destinations/recombee/deleteCartAddition/index.ts
  packages/destination-actions/src/destinations/recombee/setViewPortion/generated-types.ts
  packages/destination-actions/src/destinations/recombee/setViewPortion/index.ts
  packages/destination-actions/src/destinations/recombee/setViewPortionFromWatchTime/generated-types.ts
  packages/destination-actions/src/destinations/recombee/setViewPortionFromWatchTime/index.ts
Due: destination-actions

chore: standardized moengage-web sdk names WEB-239
  packages/browser-destinations/destinations/moengage-web/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/functions.ts
  packages/browser-destinations/destinations/moengage-web/src/generated-types.ts
  packages/browser-destinations/destinations/moengage-web/src/identifyUser/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/identifyUser/index.ts
  packages/browser-destinations/destinations/moengage-web/src/index.ts
  packages/browser-destinations/destinations/moengage-web/src/trackEvent/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/trackEvent/index.ts
  packages/browser-destinations/destinations/moengage-web/src/types.ts
Due: browser-destinations

saving again
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/types.ts
Due: destination-actions

fix(linkedin-conversions): fix TS2322 build error in batchConversionAdd
  packages/destination-actions/src/destinations/linkedin-conversions/api/index.ts
Due: destination-actions

fix: validate slug is non-empty before generating metadata.json
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

fix: address code review findings
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

fix: address Copilot review comments
  codecov.yml
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
  packages/cli/src/lib/destinations.ts
Due: none

Address PR review: move external_id check before phone mutation and update description
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/functions.ts
  packages/destination-actions/src/destinations/klaviyo/properties.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfileFromList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfileFromList/generated-types.ts
Due: destination-actions

Rename SDK version constants to avoid API version ambiguity, derive test names from constants
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/versioning-info.ts
Due: browser-destinations

[Google Enhanced Conversions] - Journeysv2 support
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/constants.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: core, destination-actions

tweak
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

changes
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/constants.ts
Due: destination-actions

changes
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

code OK by Claude
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

add orchestrate skill
  .claude/commands/orchestrate.md
Due: none

[MAIN] [STRATCONN] Added validation on external_id of character 255 (#3777)
  packages/destination-actions/src/destinations/klaviyo/__tests__/multistatus.test.ts
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/config.ts
  packages/destination-actions/src/destinations/klaviyo/functions.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/orderCompleted/index.ts
  packages/destination-actions/src/destinations/klaviyo/properties.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfile/index.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfileFromList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfileFromList/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfileFromList/index.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/index.ts
Due: destination-actions

feat: replace generate:metadata-payload with public schema output (#3773)
  .github/workflows/required-field-check.yml
  .prettierignore
  codecov.yml
  package.json
  packages/cli/package.json
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
  packages/cli/src/lib/destinations.ts
  packages/destination-actions/src/destinations/amplitude/metadata.json
  scripts/assert-metadata-payload.sh
Due: destination-actions

Changes from code review
  packages/destination-actions/src/destinations/recombee/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addBookmark/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addBookmark/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addBookmark/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addBookmark/index.ts
  packages/destination-actions/src/destinations/recombee/addCartAddition/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addCartAddition/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addCartAddition/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addCartAddition/index.ts
  packages/destination-actions/src/destinations/recombee/addDetailView/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addDetailView/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addDetailView/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addDetailView/index.ts
  packages/destination-actions/src/destinations/recombee/addPurchase/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addPurchase/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addPurchase/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addPurchase/index.ts
  packages/destination-actions/src/destinations/recombee/addRating/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/addRating/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/addRating/generated-types.ts
  packages/destination-actions/src/destinations/recombee/addRating/index.ts
  packages/destination-actions/src/destinations/recombee/commonFields.ts
  packages/destination-actions/src/destinations/recombee/deleteBookmark/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/deleteBookmark/generated-types.ts
  packages/destination-actions/src/destinations/recombee/deleteBookmark/index.ts
  packages/destination-actions/src/destinations/recombee/deleteCartAddition/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/deleteCartAddition/generated-types.ts
  packages/destination-actions/src/destinations/recombee/deleteCartAddition/index.ts
  packages/destination-actions/src/destinations/recombee/recombeeApiClient.ts
  packages/destination-actions/src/destinations/recombee/setViewPortion/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/setViewPortion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/setViewPortion/generated-types.ts
  packages/destination-actions/src/destinations/recombee/setViewPortion/index.ts
  packages/destination-actions/src/destinations/recombee/setViewPortionFromWatchTime/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/recombee/setViewPortionFromWatchTime/__tests__/index.test.ts
  packages/destination-actions/src/destinations/recombee/setViewPortionFromWatchTime/generated-types.ts
  packages/destination-actions/src/destinations/recombee/setViewPortionFromWatchTime/index.ts
Due: destination-actions

adding tests
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

lint change
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

Google Enhanced Conversions - journeys stage test
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

Bumping core and testing google enhanced conversions in stage
  packages/actions-shared/package.json
  packages/browser-destination-runtime/package.json
  packages/browser-destinations/destinations/braze/package.json
  packages/browser-destinations/destinations/bucket/package.json
  packages/browser-destinations/destinations/cj/package.json
  packages/browser-destinations/destinations/commandbar/package.json
  packages/browser-destinations/destinations/friendbuy/package.json
  packages/browser-destinations/destinations/fullstory/package.json
  packages/browser-destinations/destinations/google-analytics-4-web/package.json
  packages/browser-destinations/destinations/heap/package.json
  packages/browser-destinations/destinations/hubble-web/package.json
  packages/browser-destinations/destinations/hubspot-web/package.json
  packages/browser-destinations/destinations/intercom/package.json
  packages/browser-destinations/destinations/iterate/package.json
  packages/browser-destinations/destinations/koala/package.json
  packages/browser-destinations/destinations/logrocket/package.json
  packages/browser-destinations/destinations/playerzero-web/package.json
  packages/browser-destinations/destinations/rupt/package.json
  packages/browser-destinations/destinations/screeb/package.json
  packages/browser-destinations/destinations/sprig-web/package.json
  packages/browser-destinations/destinations/stackadapt/package.json
  packages/browser-destinations/destinations/tiktok-pixel/package.json
  packages/browser-destinations/destinations/userpilot/package.json
  packages/browser-destinations/destinations/vwo/package.json
  packages/browser-destinations/destinations/wisepops/package.json
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/warehouse-destinations/package.json
  yarn.lock
Due: core, actions-shared, destination-actions, browser-destinations

Add on-demand workflow to build and upload browser destination bundles
  .github/workflows/build-browser-destinations.yml
Due: none

Fix security and correctness issues in browser destinations workflow
  .github/workflows/build-browser-destinations.yml
Due: none

Remove job-level environment gate — deployment approval belongs in the backend service
  .github/workflows/build-browser-destinations.yml
Due: none

feat: add --mode flag and unregistered destination discovery to generate:metadata-payload
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

feat: add warehouse destination support to generate:metadata-payload
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

feat: add metadata.json for warehouse destinations (4 files)
  packages/warehouse-destinations/src/destinations/bigquery/metadata.json
  packages/warehouse-destinations/src/destinations/databricks/metadata.json
  packages/warehouse-destinations/src/destinations/redshift/metadata.json
  packages/warehouse-destinations/src/destinations/snowflake/metadata.json
Due: none

feat: add mode-specific metadata-payload generation scripts
  package.json
Due: none

docs(liveramp-audiences): clarify that uploaded files are gzipped
  packages/destination-actions/src/destinations/liveramp-audiences/audienceEnteredS3/generated-types.ts
  packages/destination-actions/src/destinations/liveramp-audiences/audienceEnteredS3/index.ts
  packages/destination-actions/src/destinations/liveramp-audiences/audienceEnteredSftp/generated-types.ts
  packages/destination-actions/src/destinations/liveramp-audiences/audienceEnteredSftp/index.ts
Due: destination-actions
