Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

remove logs
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

Add ctwa_clid in user data of fb conversions apis
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fields.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent2/generated-types.ts
Due: destination-actions

add env variable for memora base_url
  packages/destination-actions/src/destinations/memora/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/memora/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/constants.ts
  packages/destination-actions/src/destinations/memora/generated-types.ts
  packages/destination-actions/src/destinations/memora/index.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
  packages/destination-actions/src/destinations/memora/versioning-info.ts
Due: destination-actions

Publish Canary
  package.json
  packages/destination-actions/package.json
Due: destination-actions

Update packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/schema-functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/schema-functions.ts
Due: destination-actions

[Posthog] Add `$ip` property
  packages/destination-actions/src/destinations/posthog/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/posthog/event/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/posthog/event/__tests__/index.test.ts
  packages/destination-actions/src/destinations/posthog/event/generated-types.ts
  packages/destination-actions/src/destinations/posthog/event/index.ts
  packages/destination-actions/src/destinations/posthog/identify/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/posthog/identify/generated-types.ts
  packages/destination-actions/src/destinations/posthog/identify/index.ts
Due: destination-actions

Improve Avo v2 validation safety and regex compatibility.
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/EventValidator.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/avo.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/index.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/event-validator-functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/types.ts
  yarn.lock
Due: destination-actions

adding multistatus for cloudeventspec v2 response
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

using cloudeventv1 spec
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

add memora env for base_url
  packages/destination-actions/src/destinations/memora/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/constants.ts
  packages/destination-actions/src/destinations/memora/index.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
  packages/destination-actions/src/destinations/memora/versioning-info.ts
Due: destination-actions

updated executePoll method to be accesible by integrations
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: core, destination-actions

STRATCONN-6246 added the OAUTH changes for taxonomy API as well
  packages/destination-actions/src/destinations/yahoo-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
  yarn.lock
Due: destination-actions

STRATCONN-6246 added console for deploy to staging
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: destination-actions

STRATCONN-6489 - [Iterable] - new Audience destination
  packages/destination-actions/src/destinations/iterable-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/iterable-audiences/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/iterable-audiences/constants.ts
  packages/destination-actions/src/destinations/iterable-audiences/functions.ts
  packages/destination-actions/src/destinations/iterable-audiences/generated-types.ts
  packages/destination-actions/src/destinations/iterable-audiences/index.ts
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/fields.ts
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/iterable-audiences/syncAudience/types.ts
  packages/destination-actions/src/destinations/iterable-audiences/types.ts
Due: destination-actions

adding partner_agent
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/types.ts
Due: browser-destinations

adding hashing for PII
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/hashing.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
Due: browser-destinations

updating tests
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/formatFBEvent.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/formatUserData.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/init.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
Due: browser-destinations

adding more tests
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/init.test.ts
Due: browser-destinations

update memora stage url
  packages/destination-actions/src/destinations/memora/constants.ts
Due: destination-actions

minor updates
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/init.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
Due: browser-destinations

adding types
  packages/destination-actions/src/destinations/amplitude-cohorts/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/fields.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/types.ts
Due: destination-actions

Fix security vulnerabilities by upgrading dependencies
  packages/ajv-human-errors/package.json
  packages/core/package.json
  packages/destination-actions/package.json
  yarn.lock
Due: core, destination-actions, ajv-human-errors

STRATCONN-6246 removed the console log from yahoo audience
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: destination-actions

Fix AWS STS client mocking for upgraded SDK version
  packages/destination-actions/src/lib/AWS/__test__/index.test.ts
Due: destination-actions

STRATCONN-6518 - [Iterbla] - updateOnly support
  packages/destination-actions/src/destinations/iterable/updateUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable/updateUser/generated-types.ts
  packages/destination-actions/src/destinations/iterable/updateUser/index.ts
Due: destination-actions

iterable updateOnly support
  packages/destination-actions/src/destinations/iterable/updateUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable/updateUser/generated-types.ts
  packages/destination-actions/src/destinations/iterable/updateUser/index.ts
Due: destination-actions

STRATCONN-6284 changed the label and description of data extension field in SFMC
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-properties.ts
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
