Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

reddit pixel update bugbash
  packages/browser-destinations/destinations/reddit-pixel/metadata.json
  packages/browser-destinations/destinations/reddit-pixel/src/index.ts
Due: browser-destinations

STRATCONN-6582 Added batching logic for getCategoryList in the salesforce marketing cloud (#3807)
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/getCategoryList.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-properties.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/versioning-info.ts
Due: destination-actions

testing reddit presets metadata bugbash
  packages/browser-destinations/destinations/reddit-pixel/metadata.json
  packages/browser-destinations/destinations/reddit-pixel/src/index.ts
Due: browser-destinations

[Salesforce Marketing Cloud] Fix inaccurate threat-model comment in subdomain test
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/subdomainValidation.test.ts
Due: destination-actions

[Salesforce Marketing Cloud] Clarify subdomain-validation comment matches regex
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

[Salesforce Marketing Cloud] Add refresh-token subdomain-injection test
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/subdomainValidation.test.ts
Due: destination-actions

STRATCONN-6806 - [Braze] - default sync mode to 'add' when missing
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/index.test.ts
Due: destination-actions

Revert "STRATCONN-6806 - [Braze] - inject default sync mode into ecommerce beta presets"
  packages/destination-actions/src/destinations/braze/index.ts
  packages/destination-actions/src/destinations/braze/metadata.json
Due: destination-actions

Added unit tests
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-eventbridge/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/__tests__/braze.test.ts
  packages/destination-actions/src/destinations/braze/createAlias2/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/identifyUser2/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/trackEvent2/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/trackPurchase2/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/updateUserProfile2/__tests__/index.test.ts
  packages/destination-actions/src/destinations/customerio/__tests__/trackEvent.test.ts
  packages/destination-actions/src/destinations/display-video-360/__tests__/addToAudience.test.ts
  packages/destination-actions/src/destinations/display-video-360/__tests__/syncAudience.test.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/hook.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/addToAudContactInfo/_tests_/index.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/journeys-presets.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/__tests__/lists.test.ts
  packages/destination-actions/src/destinations/launchdarkly-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/marketo-static-lists/addToList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/optimizely-advanced-audience-targeting/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/reddit-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/dataExtensionV2.test.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/updateSegment/__tests__/index.test.ts
Due: destination-actions

bugbash, changing audience sync mode
  packages/destination-actions/src/destinations/pendo-audiences/index.ts
  packages/destination-actions/src/destinations/pendo-audiences/metadata.json
Due: destination-actions

Added unit tests for Journeys Step(#3918)
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-eventbridge/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze-cohorts/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/__tests__/braze.test.ts
  packages/destination-actions/src/destinations/braze/createAlias2/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/identifyUser2/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/trackEvent2/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/trackPurchase2/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/updateUserProfile2/__tests__/index.test.ts
  packages/destination-actions/src/destinations/customerio/__tests__/trackEvent.test.ts
  packages/destination-actions/src/destinations/display-video-360/__tests__/addToAudience.test.ts
  packages/destination-actions/src/destinations/display-video-360/__tests__/syncAudience.test.ts
  packages/destination-actions/src/destinations/dynamic-yield-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/hook.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/addToAudContactInfo/_tests_/index.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/journeys-presets.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/__tests__/lists.test.ts
  packages/destination-actions/src/destinations/launchdarkly-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/marketo-static-lists/addToList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/optimizely-advanced-audience-targeting/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/reddit-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/dataExtensionV2.test.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/updateSegment/__tests__/index.test.ts
Due: destination-actions

Updated messages on test cases
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom2.test.ts
Due: destination-actions

[aws-kinesis] bug-bash TC44 step 1: revert disabledInputMethods to reset CP
  packages/destination-actions/src/destinations/aws-kinesis/metadata.json
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
Due: destination-actions

[aws-kinesis] bug-bash TC44 step 2: add disabledInputMethods to partitionKey
  packages/destination-actions/src/destinations/aws-kinesis/metadata.json
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
Due: destination-actions

[twilio-messaging] bug-bash TC33/TC34 reset: restore to main baseline before re-test
  packages/destination-actions/src/destinations/twilio-messaging/metadata.json
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/index.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/constants.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/fields.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/generated-types.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/index.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/utils.ts
Due: destination-actions

[twilio-messaging] bug-bash TC33: add new conditionally-required field
  packages/destination-actions/src/destinations/twilio-messaging/metadata.json
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/fields.ts
Due: destination-actions

[twilio-messaging] bug-bash TC34: change existing conditional field's condition
  packages/destination-actions/src/destinations/twilio-messaging/metadata.json
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/fields.ts
Due: destination-actions

[webhook][hubspot-web] bug-bash: reset to main baseline before re-test
  packages/browser-destinations/destinations/hubspot-web/metadata.json
  packages/browser-destinations/destinations/hubspot-web/package.json
  packages/browser-destinations/destinations/hubspot-web/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/hubspot-web/src/generated-types.ts
  packages/browser-destinations/destinations/hubspot-web/src/index.ts
  packages/destination-actions/src/destinations/webhook/__test__/webhook.test.ts
  packages/destination-actions/src/destinations/webhook/generated-types.ts
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
  packages/destination-actions/src/destinations/webhook/send/index.ts
Due: destination-actions, browser-destinations

Bug bash: add category:'identifier' fields to sampleAction
  packages/destination-actions/src/destinations/google-enhanced-conversions/metadata.json
  packages/destination-actions/src/destinations/google-enhanced-conversions/sampleAction/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/sampleAction/index.ts
Due: destination-actions

Bug bash: add optional settings field to hubspot-web browser destination
  packages/browser-destinations/destinations/hubspot-web/metadata.json
  packages/browser-destinations/destinations/hubspot-web/src/generated-types.ts
  packages/browser-destinations/destinations/hubspot-web/src/index.ts
Due: browser-destinations

Remove temp files
  TEMP/.m1
  TEMP/.m2
  TEMP/metadata-diff-meaningful.txt
  TEMP/metadata-diff.txt
  TEMP/metadata1
  TEMP/metadata2
Due: none

Bug bash: add throwaway testwarehouse2 destination for registration test
  packages/warehouse-destinations/src/destinations/testwarehouse2/generated-types.ts
  packages/warehouse-destinations/src/destinations/testwarehouse2/index.ts
  packages/warehouse-destinations/src/destinations/testwarehouse2/metadata.json
  packages/warehouse-destinations/src/destinations/testwarehouse2/sendCustomEvent/generated-types.ts
  packages/warehouse-destinations/src/destinations/testwarehouse2/sendCustomEvent/index.ts
Due: none

Bug bash: scaffold throwaway browser destination for registration test
  packages/browser-destinations/destinations/bugbash-test-registration/metadata.json
  packages/browser-destinations/destinations/bugbash-test-registration/package.json
  packages/browser-destinations/destinations/bugbash-test-registration/src/generated-types.ts
  packages/browser-destinations/destinations/bugbash-test-registration/src/index.ts
  packages/browser-destinations/destinations/bugbash-test-registration/src/testEvent/generated-types.ts
  packages/browser-destinations/destinations/bugbash-test-registration/src/testEvent/index.ts
  packages/browser-destinations/destinations/bugbash-test-registration/tsconfig.json
Due: browser-destinations

bug bash changes
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

Bug bash: add a real setting to bugbash-test-registration
  packages/browser-destinations/destinations/bugbash-test-registration/metadata.json
  packages/browser-destinations/destinations/bugbash-test-registration/src/generated-types.ts
  packages/browser-destinations/destinations/bugbash-test-registration/src/index.ts
Due: browser-destinations

Bug bash: add action fields to bugbash-test-registration's testEvent
  packages/browser-destinations/destinations/bugbash-test-registration/metadata.json
  packages/browser-destinations/destinations/bugbash-test-registration/src/testEvent/generated-types.ts
  packages/browser-destinations/destinations/bugbash-test-registration/src/testEvent/index.ts
Due: browser-destinations

[webhook] bug-bash Row 62 (scratch): remove all actions to verify inferPlatforms
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

adding new test destinations
  packages/destination-actions/src/destinations/mdkhan-destination/__tests__/index.test.ts
  packages/destination-actions/src/destinations/mdkhan-destination/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/mdkhan-destination/generated-types.ts
  packages/destination-actions/src/destinations/mdkhan-destination/index.ts
  packages/destination-actions/src/destinations/mdkhan-destination/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/mdkhan-destination/send/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/mdkhan-destination/send/generated-types.ts
  packages/destination-actions/src/destinations/mdkhan-destination/send/index.ts
  packages/destination-actions/src/destinations/mdkhan-destination/versioning-info.ts
Due: destination-actions

[Amplitude Cohorts] URL-encode owner email in auth test
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
Due: destination-actions

adding metadata.json file
  packages/destination-actions/src/destinations/mdkhan-destination/metadata.json
Due: destination-actions

[hubspot-web] bug-bash Row 81 (scratch): set oauth2 scheme on browser destination
  packages/browser-destinations/destinations/hubspot-web/metadata.json
  packages/browser-destinations/destinations/hubspot-web/src/index.ts
Due: browser-destinations

reddit pixel changing pretext - bugbash
  packages/browser-destinations/destinations/reddit-pixel/metadata.json
  packages/browser-destinations/destinations/reddit-pixel/src/index.ts
Due: browser-destinations

[Amplitude Cohorts] Add prefix_audience_names setting
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/constants.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/generated-types.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/metadata.json
Due: destination-actions

[Amplitude Cohorts] Actionable missing-email error + whitespace test
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
Due: destination-actions

bug bash: adding platform web action
  packages/destination-actions/src/destinations/mdkhan-destination/index.ts
  packages/destination-actions/src/destinations/mdkhan-destination/send/index.ts
  packages/destination-actions/src/destinations/webhook/bugBash/index.ts
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

adding dummy action to segment-profiles
  packages/destination-actions/src/destinations/segment-profiles/index.ts
  packages/destination-actions/src/destinations/segment-profiles/metadata.json
  packages/destination-actions/src/destinations/segment-profiles/segment-properties.ts
  packages/destination-actions/src/destinations/segment-profiles/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/segment-profiles/send/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/segment-profiles/send/generated-types.ts
  packages/destination-actions/src/destinations/segment-profiles/send/index.ts
Due: destination-actions

bug bash: add depends on field
  packages/browser-destinations/destinations/google-analytics-4-web/metadata.json
  packages/browser-destinations/destinations/google-analytics-4-web/src/generated-types.ts
  packages/browser-destinations/destinations/google-analytics-4-web/src/index.ts
Due: browser-destinations

[facebook-custom-audiences] bug-bash Row 43 (scratch): add dynamicFields to name object field
  packages/destination-actions/src/destinations/facebook-custom-audiences/metadata.json
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
