Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

adding multistatus for cloudeventspec v2 response
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

fix hyperengage test
  packages/destination-actions/src/destinations/hyperengage/__tests__/validateInput.test.ts
Due: destination-actions

Logger added in yahoo audiences to track taxonomy
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: destination-actions

Logger added in yahoo audiences to track taxonomy
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Due: destination-actions

Squashed commit of the following:
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: destination-actions

add aws-sqs destination
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/aws-sqs/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-sqs/generated-types.ts
  packages/destination-actions/src/destinations/aws-sqs/index.ts
  packages/destination-actions/src/destinations/aws-sqs/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-sqs/send/generated-types.ts
  packages/destination-actions/src/destinations/aws-sqs/send/index.ts
  packages/destination-actions/src/destinations/aws-sqs/utils.ts
  yarn.lock
Due: destination-actions

Use printf instead of echo for safer JSON piping to jq
  .github/workflows/required-field-check.yml
Due: none

Address Copilot review: pipefail, jq -e, and paginate PR files
  .github/workflows/required-field-check.yml
Due: none

deepreview fixes
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

added types
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
Due: destination-actions

Remove unnecessary token refresh on propagation error
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
Due: core, destination-actions

added dynamic identifiers (#3704)
  packages/destination-actions/src/destinations/hyperengage/__tests__/validateInput.test.ts
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

feat: add the missing presets to pipedrive destination defined in actions prop
  packages/destination-actions/src/destinations/pipedrive/index.ts
Due: destination-actions

Fix command injection in required-field-check workflow (#3642)
  .github/workflows/required-field-check.yml
Due: none

Fix docstring and test name to reflect no-refresh behavior
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/errors.ts
Due: core

Rename RefreshTokenAndRetryError to TokenPropagationRetryError
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/index.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
Due: core, destination-actions

docs(mapping-kit): update README to match current implementation
  packages/core/src/mapping-kit/README.md
Due: core

docs(mapping-kit): clarify @if blank coercion behavior for 0 and false
  packages/core/src/mapping-kit/README.md
Due: core

Add spy assertion to verify no token refresh on propagation error
  packages/core/src/__tests__/destination-kit.test.ts
Due: core

docs(mapping-kit): update README to match current implementation (#3714)
  packages/core/src/mapping-kit/README.md
Due: core

Logger added in destination kit
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: core, destination-actions

Fix stale enum comment for TOKEN_PROPAGATION_RETRY
  packages/core/src/errors.ts
Due: core

Address PR review: fix status footgun, pin retry contract, expand test coverage
  packages/core/src/destination-kit/index.ts
  packages/core/src/errors.ts
  packages/core/src/retry.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
Due: core, destination-actions

feat(linkedin-audiences): upgrade API to 202603 behind feature flag
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/breaking-changes-analysis.md
  packages/destination-actions/src/destinations/linkedin-audiences/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/versioning-info.ts
Due: destination-actions

feat(claude): add api-version-upgrade skill
  claude/skills/api-version-upgrade/SKILL.md
  claude/skills/api-version-upgrade/references/common-patterns.md
  claude/skills/api-version-upgrade/references/feature-flags.md
  claude/skills/api-version-upgrade/references/testing-guide.md
Due: none

feat(linkedin-conversions): upgrade API to 202603 behind feature flag
  packages/destination-actions/src/destinations/linkedin-conversions/constants.ts
  packages/destination-actions/src/destinations/linkedin-conversions/index.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/versioning-info.ts
Due: destination-actions

[ENG-51172] initial call_completed destination
  packages/destination-actions/src/destinations/voiceops/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/constants.ts
  packages/destination-actions/src/destinations/voiceops/generated-types.ts
  packages/destination-actions/src/destinations/voiceops/index.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/generated-types.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/index.ts
Due: destination-actions

[ENG-51172] clean up
  packages/destination-actions/src/destinations/voiceops/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/index.ts
Due: destination-actions

Changed logger to console log
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: destination-actions

refactor(yahoo-audiences): remove logger from update_taxonomy function and replace with console logging
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: core, destination-actions

adding lint comments
  packages/browser-destinations/destinations/moengage-web/src/functions.ts
Due: browser-destinations

attempting to fix loadig issue
  packages/browser-destinations/destinations/moengage-web/src/index.ts
Due: browser-destinations
