Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Revert "reduce request timeouts"
  packages/destination-actions/src/destinations/kafka/constants.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

fix name
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

Update packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: destination-actions

ready to deploy for testing
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/index.ts
Due: browser-destinations

fiddling around with field mappings
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
Due: browser-destinations

STRATCONN-5986 - [Facebook Pixel] - major refactor to fix advanced matching (#3514)
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/constants.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/generated-types.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/init-script.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/depends-on.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/utils.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/validate.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/types.ts
Due: browser-destinations

STRATCONN-6300 - [Mixpanel Web] - more bugfixes (#3512)
  packages/browser-destinations/destinations/mixpanel-web/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/track/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/trackPageView/index.ts
Due: browser-destinations

updating types and a minor change to default mapping
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
Due: browser-destinations

updating types and a minor change to default mapping (#3515)
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
Due: browser-destinations

scafolding new company action
  packages/destination-actions/src/destinations/qualified/index.ts
  packages/destination-actions/src/destinations/qualified/updateCompany/__tests__/index.test.ts
  packages/destination-actions/src/destinations/qualified/updateCompany/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/qualified/updateCompany/generated-types.ts
  packages/destination-actions/src/destinations/qualified/updateCompany/index.ts
  packages/destination-actions/src/destinations/qualified/upsertLead/dynamic-functions.ts
  packages/destination-actions/src/destinations/qualified/upsertLead/generated-types.ts
  packages/destination-actions/src/destinations/qualified/upsertLead/index.ts
  packages/destination-actions/src/destinations/qualified/upsertLead/types.ts
Due: destination-actions

updated types and unit tests
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/generated-types.ts
Due: destination-actions

added some more unit tests
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.test.ts
Due: destination-actions

tier-1/batch-1: refactor API versioning to use versioning-info module (#3489)
  packages/destination-actions/src/destinations/amplitude/regional-endpoints.ts
  packages/destination-actions/src/destinations/amplitude/versioning-info.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/constants.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/versioning-info.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/postConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/versioning-info.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/apiEvent/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/contact/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/versioning-info.ts
  packages/destination-actions/src/destinations/tiktok-conversions/reportWebEvent/utils.ts
  packages/destination-actions/src/destinations/tiktok-conversions/versioning-info.ts
Due: destination-actions

STRATCONN-6468 - memora_destination (#3509)
  packages/destination-actions/src/destinations/index.ts
  packages/destination-actions/src/destinations/memora/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/memora/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/generated-types.ts
  packages/destination-actions/src/destinations/memora/index.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

some more minor changes
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/types.ts
Due: browser-destinations

types
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
Due: browser-destinations

STRATCONN-6246 added changes for new OAUTH authorizations
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Due: destination-actions

fixing depends on
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/depends-on.ts
Due: browser-destinations

fixed memora listing
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

Publish Canary
  packages/browser-destinations/destinations/facebook-conversions-api-web/package.json
  packages/browser-destinations/destinations/google-ec-plugins/package.json
  packages/browser-destinations/destinations/mixpanel-web/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
  yarn.lock
Due: destination-actions, browser-destinations, destinations-manifest

Update packages/destination-actions/src/destinations/braze/ecommerce/fields.ts
  packages/destination-actions/src/destinations/braze/ecommerce/fields.ts
Due: destination-actions

Update packages/destination-actions/src/destinations/braze/trackPurchase/index.ts
  packages/destination-actions/src/destinations/braze/trackPurchase/index.ts
Due: destination-actions

Update packages/destination-actions/src/destinations/braze/trackPurchase2/index.ts
  packages/destination-actions/src/destinations/braze/trackPurchase2/index.ts
Due: destination-actions

updating unit tests as per review
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/index.test.ts
Due: destination-actions

STRATCONN-6246 added the console for yahoo realtime API
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Due: destination-actions

feat(Jimo): handle Groupe event
  packages/browser-destinations/destinations/jimo/src/index.ts
  packages/browser-destinations/destinations/jimo/src/sendGroupData/__tests__/index.test.ts
  packages/browser-destinations/destinations/jimo/src/sendGroupData/generated-types.ts
  packages/browser-destinations/destinations/jimo/src/sendGroupData/index.ts
Due: browser-destinations

STRATCONN-6246 added the audience claimin the generate jwt secret code
  packages/destination-actions/src/destinations/yahoo-audiences/utils-rt.ts
Due: destination-actions

split contact identifiers and other contact traits
  packages/destination-actions/src/destinations/memora/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

STRATCONN-6246 changed the console log statements
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Due: destination-actions

STRATCONN-6246 added the console statments
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
Due: destination-actions

Set defaultObjectUI to 'keyvalue' for subscription groups
  packages/destination-actions/src/destinations/braze/updateUserProfile/index.ts
  packages/destination-actions/src/destinations/braze/updateUserProfile2/index.ts
Due: destination-actions

STRATCONN-6246 fixed the failing testcases for yahoo audiences
  packages/destination-actions/src/destinations/yahoo-audiences/__tests__/index.test.ts
Due: destination-actions

Add tests for subscription_groups in Braze user profile actions
  packages/destination-actions/src/destinations/braze/updateUserProfile/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/braze/updateUserProfile2/__tests__/snapshot.test.ts
Due: destination-actions

add multistatus TTD, update tests :q
  packages/destination-actions/src/destinations/the-trade-desk-crm/functions.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/syncAudience/__tests__/index.test.ts
Due: destination-actions
