Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

Release Canary
  packages/browser-destinations/destinations/rupt/package.json
  packages/destination-actions/package.json
Due: destination-actions, browser-destinations

feat(engage-messaging-sendgrid): remove defunct destination
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/__tests__/apiLookups.test.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/__tests__/send-email.test.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/generated-types.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/index.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/metadata.json
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/previewApiLookup/apiLookups.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/previewApiLookup/generated-types.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/previewApiLookup/index.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/sendEmail/SendEmailPerformer.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/sendEmail/UnlayerResponse.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/sendEmail/generated-types.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/sendEmail/index.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/sendEmail/insertEmailPreviewText.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/sendEmail/isRestrictedDomain.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/versioning-info.ts
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

feat(heap-cloud): add new Heap Cloud (server-side) destination
  packages/destination-actions/src/destinations/heap-cloud/__tests__/index.test.ts
  packages/destination-actions/src/destinations/heap-cloud/generated-types.ts
  packages/destination-actions/src/destinations/heap-cloud/index.ts
  packages/destination-actions/src/destinations/heap-cloud/metadata.json
  packages/destination-actions/src/destinations/heap-cloud/sendEvent/constants.ts
  packages/destination-actions/src/destinations/heap-cloud/sendEvent/functions.ts
  packages/destination-actions/src/destinations/heap-cloud/sendEvent/generated-types.ts
  packages/destination-actions/src/destinations/heap-cloud/sendEvent/index.ts
  packages/destination-actions/src/destinations/heap-cloud/sendEvent/types.ts
Due: destination-actions

adding pinterest metadata
  packages/destination-actions/src/destinations/pinterest-conversions/metadata.json
Due: destination-actions

Release Canary
  packages/destination-actions/package.json
Due: destination-actions

Added SFMC changes
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.async.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/fields.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/generated-types.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.async.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

no-op actions-core change
  packages/core/src/index.ts
Due: core

Update: metadata.json
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
  packages/destination-actions/src/destinations/amplitude/metadata.json
Due: destination-actions

Revert "Update: metadata.json"
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
  packages/destination-actions/src/destinations/amplitude/metadata.json
Due: destination-actions

no op
  packages/core/src/index.ts
Due: core

Reapply "Update: metadata.json"
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
  packages/destination-actions/src/destinations/amplitude/metadata.json
Due: destination-actions

Revert "Reapply "Update: metadata.json""
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
  packages/destination-actions/src/destinations/amplitude/metadata.json
Due: destination-actions

Remove accidentally committed .buildkite pipeline files
  .buildkite/old-pipeline.yml
  .buildkite/pipeline.yml
  .gitignore
Due: none

Reapply "Reapply "Update: metadata.json""
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
  packages/destination-actions/src/destinations/amplitude/metadata.json
Due: destination-actions

metadata-payload
  packages/destination-actions/src/destinations/pinterest-conversions/metadata.json
Due: destination-actions

Revert "Reapply "Reapply "Update: metadata.json"""
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
  packages/destination-actions/src/destinations/amplitude/metadata.json
Due: destination-actions

Update: metadata.json
  packages/destination-actions/src/destinations/amplitude/index.ts
Due: destination-actions

Update: metadata.json
  packages/destination-actions/src/destinations/amplitude/generated-types.ts
  packages/destination-actions/src/destinations/amplitude/index.ts
  packages/destination-actions/src/destinations/amplitude/metadata.json
Due: destination-actions

[STRATCONN-6789] Copy linkedin-conversions to staging for testing
  packages/destination-actions/src/destinations/linkedin-conversions/api/index.ts
  packages/destination-actions/src/destinations/linkedin-conversions/metadata.json
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/index.ts
Due: destination-actions

Revert "Update: metadata.json"
  packages/destination-actions/src/destinations/amplitude/generated-types.ts
  packages/destination-actions/src/destinations/amplitude/index.ts
  packages/destination-actions/src/destinations/amplitude/metadata.json
Due: destination-actions

Reapply "Update: metadata.json"
  packages/destination-actions/src/destinations/amplitude/generated-types.ts
  packages/destination-actions/src/destinations/amplitude/index.ts
  packages/destination-actions/src/destinations/amplitude/metadata.json
Due: destination-actions

feat(facebook-conversions-api): add ctwa_clid mapping under user_data
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/functions.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/metadata.json
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/fields.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent2/generated-types.ts
Due: destination-actions

Copy iterable updateUser changes to staging for testing (STRATCONN-6751)
  packages/destination-actions/src/destinations/iterable/updateUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable/updateUser/generated-types.ts
  packages/destination-actions/src/destinations/iterable/updateUser/index.ts
  packages/destination-actions/src/destinations/iterable/utils.ts
Due: destination-actions

fix(hubspot-web): add id=hs-script-loader to prevent duplicate script injection
  packages/browser-destinations/destinations/hubspot-web/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/hubspot-web/src/index.ts
Due: browser-destinations

[STRATCONN-6540] Copy iterable updateSubscriptions to staging for testing
  packages/destination-actions/src/destinations/iterable/index.ts
  packages/destination-actions/src/destinations/iterable/metadata.json
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/constants.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/dynamic-fields.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/functions.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/generated-types.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/index.ts
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/types.ts
  packages/destination-actions/src/destinations/iterable/utils.ts
Due: destination-actions

Revert "Reapply "Update: metadata.json""
  packages/destination-actions/src/destinations/amplitude/generated-types.ts
  packages/destination-actions/src/destinations/amplitude/index.ts
  packages/destination-actions/src/destinations/amplitude/metadata.json
Due: destination-actions

STRATCONN-6957 added the v25 for the canary api version
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/canary-v25.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/versioning-info.ts
Due: destination-actions

Remove ctwa_clid field from Facebook Conversions API user_data
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/functions.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/fields.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent2/generated-types.ts
Due: destination-actions

SFMC - Refactor asyncDataExtension fields
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/fields.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
Due: destination-actions

SFMC - Refactor asyncDataExtension fields (#3944)
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/fields.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
Due: destination-actions

Publish: screeb-web websiteId description update to stage
  packages/browser-destinations/destinations/screeb/metadata.json
  packages/browser-destinations/destinations/screeb/src/generated-types.ts
  packages/browser-destinations/destinations/screeb/src/index.ts
Due: browser-destinations

fix: run browser artifact detect job on ubuntu-latest-large (#3937)
  .github/workflows/publish-browser-destinations.yml
Due: none

STRATCONN-6922 - [Mixpanel Web] harden session replay config + add masking controls
  packages/browser-destinations/destinations/mixpanel-web/metadata.json
  packages/browser-destinations/destinations/mixpanel-web/src/generated-types.ts
  packages/browser-destinations/destinations/mixpanel-web/src/index.ts
  packages/browser-destinations/destinations/mixpanel-web/src/setting-fields.ts
  packages/browser-destinations/destinations/mixpanel-web/src/types.ts
Due: browser-destinations

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
