Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Merge feat/metadata-payload-cli-enhancements into feat/metadata-payload-browser
  packages/browser-destinations/destinations/1flow/metadata.json
  packages/browser-destinations/destinations/adobe-target/metadata.json
  packages/browser-destinations/destinations/appcues-web/metadata.json
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/bucket/metadata.json
  packages/browser-destinations/destinations/cdpresolution/metadata.json
  packages/browser-destinations/destinations/cj/metadata.json
  packages/browser-destinations/destinations/commandbar/metadata.json
  packages/browser-destinations/destinations/contentstack-web/metadata.json
  packages/browser-destinations/destinations/evolv-ai/metadata.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/metadata.json
  packages/browser-destinations/destinations/friendbuy/metadata.json
  packages/browser-destinations/destinations/fullsession/metadata.json
  packages/browser-destinations/destinations/fullstory/metadata.json
  packages/browser-destinations/destinations/google-analytics-4-web/metadata.json
  packages/browser-destinations/destinations/google-campaign-manager/metadata.json
  packages/browser-destinations/destinations/heap/metadata.json
  packages/browser-destinations/destinations/hubble-web/metadata.json
  packages/browser-destinations/destinations/hubspot-web/metadata.json
  packages/browser-destinations/destinations/intercom/metadata.json
  packages/browser-destinations/destinations/iterate/metadata.json
  packages/browser-destinations/destinations/jimo/metadata.json
  packages/browser-destinations/destinations/koala/metadata.json
  packages/browser-destinations/destinations/logrocket/metadata.json
  packages/browser-destinations/destinations/mixpanel-web/metadata.json
  packages/browser-destinations/destinations/moengage-web/metadata.json
  packages/browser-destinations/destinations/pendo-web-actions/metadata.json
  packages/browser-destinations/destinations/playerzero-web/metadata.json
  packages/browser-destinations/destinations/reddit-pixel/metadata.json
  packages/browser-destinations/destinations/replaybird/metadata.json
  packages/browser-destinations/destinations/rupt/metadata.json
  packages/browser-destinations/destinations/screeb/metadata.json
  packages/browser-destinations/destinations/segment-utilities-web/metadata.json
  packages/browser-destinations/destinations/sprig-web/metadata.json
  packages/browser-destinations/destinations/stackadapt/metadata.json
  packages/browser-destinations/destinations/survicate/metadata.json
  packages/browser-destinations/destinations/tiktok-pixel/metadata.json
  packages/browser-destinations/destinations/userpilot/metadata.json
  packages/browser-destinations/destinations/vwo/metadata.json
  packages/browser-destinations/destinations/wisepops/metadata.json
Due: browser-destinations

feat: enhance metadata-payload output with syncMode, hooks, and audienceConfig details
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

fix: address PR review comments for generate:metadata-payload
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

fix: address deep review findings for generate:metadata-payload
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

tested all flows locally
  packages/cli/src/lib/server.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

adding unit tests
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList-journeys-audiences.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
Due: destination-actions

feat(klaviyo): add email regex validation to addProfileToList action
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/index.ts
  packages/destination-actions/src/destinations/klaviyo/functions.ts
Due: destination-actions

fix: address copilot review - avoid PII in error message, fix wording
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/index.ts
Due: destination-actions

feat: add --path flag, lint-staged hook, and CI validation for metadata.json
  .github/workflows/ci.yml
  package.json
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
  scripts/assert-metadata-payload.sh
  scripts/update-metadata-payload.sh
Due: none

fix: address PR review comments for --path empty set, CI assert, and warehouse tests
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
  scripts/assert-metadata-payload.sh
Due: none

feat: regenerate metadata.json for browser destinations (40 files)
  packages/browser-destinations/destinations/1flow/metadata.json
  packages/browser-destinations/destinations/adobe-target/metadata.json
  packages/browser-destinations/destinations/appcues-web/metadata.json
  packages/browser-destinations/destinations/braze/metadata.json
  packages/browser-destinations/destinations/bucket/metadata.json
  packages/browser-destinations/destinations/cdpresolution/metadata.json
  packages/browser-destinations/destinations/cj/metadata.json
  packages/browser-destinations/destinations/commandbar/metadata.json
  packages/browser-destinations/destinations/contentstack-web/metadata.json
  packages/browser-destinations/destinations/evolv-ai/metadata.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/metadata.json
  packages/browser-destinations/destinations/friendbuy/metadata.json
  packages/browser-destinations/destinations/fullsession/metadata.json
  packages/browser-destinations/destinations/fullstory/metadata.json
  packages/browser-destinations/destinations/google-analytics-4-web/metadata.json
  packages/browser-destinations/destinations/google-campaign-manager/metadata.json
  packages/browser-destinations/destinations/heap/metadata.json
  packages/browser-destinations/destinations/hubble-web/metadata.json
  packages/browser-destinations/destinations/hubspot-web/metadata.json
  packages/browser-destinations/destinations/intercom/metadata.json
  packages/browser-destinations/destinations/iterate/metadata.json
  packages/browser-destinations/destinations/jimo/metadata.json
  packages/browser-destinations/destinations/koala/metadata.json
  packages/browser-destinations/destinations/logrocket/metadata.json
  packages/browser-destinations/destinations/mixpanel-web/metadata.json
  packages/browser-destinations/destinations/moengage-web/metadata.json
  packages/browser-destinations/destinations/pendo-web-actions/metadata.json
  packages/browser-destinations/destinations/playerzero-web/metadata.json
  packages/browser-destinations/destinations/reddit-pixel/metadata.json
  packages/browser-destinations/destinations/replaybird/metadata.json
  packages/browser-destinations/destinations/rupt/metadata.json
  packages/browser-destinations/destinations/screeb/metadata.json
  packages/browser-destinations/destinations/segment-utilities-web/metadata.json
  packages/browser-destinations/destinations/sprig-web/metadata.json
  packages/browser-destinations/destinations/stackadapt/metadata.json
  packages/browser-destinations/destinations/survicate/metadata.json
  packages/browser-destinations/destinations/tiktok-pixel/metadata.json
  packages/browser-destinations/destinations/userpilot/metadata.json
  packages/browser-destinations/destinations/vwo/metadata.json
  packages/browser-destinations/destinations/wisepops/metadata.json
Due: browser-destinations

addressing copilot comments
  packages/cli/src/lib/server.ts
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: core, destination-actions

fix: resolve browser destinations loaded from node_modules
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

feat: run prettier on generated metadata.json files
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

update script
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

Facebook AppendValue support for custom and purchase events
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/constants.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/fields.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/types.ts
Due: destination-actions

adding additional validation
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
Due: destination-actions

adding beta labels for new fields
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/fields.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/types.ts
Due: destination-actions

Adding ctwa_clid field to user_data
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search2/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/fields.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent/generated-types.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent2/generated-types.ts
Due: destination-actions

unit tests
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/functions.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/types.ts
Due: destination-actions

Twilio Messaging - stringify non string payload values
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/index.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/utils.ts
Due: destination-actions

adding flag
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/__tests__/index.test.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/constants.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/index.ts
  packages/destination-actions/src/destinations/twilio-messaging/sendMessage/utils.ts
Due: destination-actions

Potential fix for pull request finding
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/fields.ts
Due: destination-actions

Potential fix for pull request finding
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
Due: destination-actions

Potential fix for pull request finding
  packages/destination-actions/src/destinations/facebook-conversions-api/custom2/generated-types.ts
Due: destination-actions

Potential fix for pull request finding
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/generated-types.ts
Due: destination-actions

Potential fix for pull request finding
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/generated-types.ts
Due: destination-actions

Potential fix for pull request finding
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/generated-types.ts
Due: destination-actions

Potential fix for pull request finding
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/types.ts
Due: destination-actions

copilot feedback changes
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/types.ts
Due: destination-actions

adding multistatusResponse support
  packages/destination-actions/src/destinations/braze/mergeUsers/functions.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/index.ts
Due: destination-actions

adding multistatus unit tests
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/index.test.ts
Due: destination-actions

fix: preserve conditional required objects in metadata auth fields
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

add orchestrate skill
  .claude/commands/orchestrate.md
Due: none

add orchestrate skill (#3795)
  .claude/commands/orchestrate.md
Due: none

fix: merge browser settings into cloud auth fields in manifest
  packages/cli/src/lib/destinations.ts
Due: none

feat: add browser filesystem discovery for plugin destinations
  packages/cli/src/commands/generate/metadata-payload.ts
Due: none

feat: add MNTN Audiences destination
  packages/destination-actions/src/destinations/actions-mntn-audiences/__tests__/addToAudience.test.ts
  packages/destination-actions/src/destinations/actions-mntn-audiences/__tests__/destination.test.ts
  packages/destination-actions/src/destinations/actions-mntn-audiences/__tests__/removeFromAudience.test.ts
  packages/destination-actions/src/destinations/actions-mntn-audiences/addToAudience/generated-types.ts
  packages/destination-actions/src/destinations/actions-mntn-audiences/addToAudience/index.ts
  packages/destination-actions/src/destinations/actions-mntn-audiences/generated-types.ts
  packages/destination-actions/src/destinations/actions-mntn-audiences/index.ts
  packages/destination-actions/src/destinations/actions-mntn-audiences/presets.ts
  packages/destination-actions/src/destinations/actions-mntn-audiences/removeFromAudience/generated-types.ts
  packages/destination-actions/src/destinations/actions-mntn-audiences/removeFromAudience/index.ts
Due: destination-actions
