Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

update docs
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
  packages/destination-actions/src/destinations/sendgrid/sendEmail/fields.ts
Due: destination-actions

add doc link data extension description
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-properties.ts
Due: destination-actions

remove incorrect description
  packages/destination-actions/src/destinations/pinterest-conversions/reportConversionEvent/index.ts
  packages/destination-actions/src/destinations/sendgrid/sendEmail/fields.ts
Due: destination-actions

Potential fix for pull request finding
  packages/destination-actions/src/destinations/sendgrid/sendEmail/fields.ts
Due: destination-actions

update metadata.json
  packages/destination-actions/src/destinations/pinterest-conversions/metadata.json
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/metadata.json
  packages/destination-actions/src/destinations/sendgrid/metadata.json
Due: destination-actions

Address Comments
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
  scripts/assert-metadata-payload.sh
Due: none

Marketo Private scaffold
  docs/analysis-centralizing-audience-membership.md
  packages/destination-actions/src/destinations/marketo-private/__tests__/index.test.ts
  packages/destination-actions/src/destinations/marketo-private/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/marketo-private/generated-types.ts
  packages/destination-actions/src/destinations/marketo-private/index.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/__tests__/index.test.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/generated-types.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/index.ts
  packages/destination-actions/src/destinations/marketo-private/versioning-info.ts
Due: destination-actions

progress
  packages/destination-actions/src/destinations/marketo-private/__tests__/index.test.ts
  packages/destination-actions/src/destinations/marketo-private/generated-types.ts
  packages/destination-actions/src/destinations/marketo-private/index.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/__tests__/index.test.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/constants.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/functions.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/generated-types.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/index.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/types.ts
Due: destination-actions

feat(topsort): support offsite click and impression tracking
  packages/destination-actions/src/destinations/topsort/click/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/topsort/click/__tests__/index.test.ts
  packages/destination-actions/src/destinations/topsort/click/generated-types.ts
  packages/destination-actions/src/destinations/topsort/click/index.ts
  packages/destination-actions/src/destinations/topsort/impression/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/topsort/impression/__tests__/index.test.ts
  packages/destination-actions/src/destinations/topsort/impression/generated-types.ts
  packages/destination-actions/src/destinations/topsort/impression/index.ts
  packages/destination-actions/src/destinations/topsort/pageviews/__tests__/__snapshots__/snapshot.test.ts.snap
Due: destination-actions

initial draft
  packages/destination-actions/src/destinations/marketo-private/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/marketo-private/__tests__/index.test.ts
  packages/destination-actions/src/destinations/marketo-private/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/marketo-private/constants.ts
  packages/destination-actions/src/destinations/marketo-private/functions.ts
  packages/destination-actions/src/destinations/marketo-private/generated-types.ts
  packages/destination-actions/src/destinations/marketo-private/index.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/marketo-private/sendForm/__tests__/index.test.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/constants.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/functions.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/generated-types.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/index.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/types.ts
  packages/destination-actions/src/destinations/marketo-private/types.ts
  packages/destination-actions/src/destinations/marketo-private/versioning-info.ts
Due: destination-actions

[Facebook Custom Audiences] - correct error type
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

FB custom audiences change to make build pass
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

removing docs file which was accidentally added
  docs/actions_tester.md
  docs/analysis-centralizing-audience-membership.md
  docs/authentication.md
  docs/create.md
  docs/doc-template-new.md
  docs/doc-template-update.md
  docs/error-handling.md
  docs/multistatus.md
  docs/pr-guidelines/pr-checks.md
  docs/pr-guidelines/pull-request-guidance.md
  docs/testing.md
Due: none

removing accidentally added docs file
  docs/actions_tester.md
  docs/authentication.md
  docs/create.md
  docs/doc-template-new.md
  docs/doc-template-update.md
  docs/error-handling.md
  docs/multistatus.md
  docs/pr-guidelines/pr-checks.md
  docs/pr-guidelines/pull-request-guidance.md
  docs/testing.md
Due: none

FBCA - fix build - bad error type
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

tightening fbca journeys handling
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

feat: enhance generate:metadata-payload with mode filtering, path targeting, and CI/lint-staged integration (#3788)
  .github/workflows/ci.yml
  package.json
  packages/cli/src/__tests__/generate-metadata-payload.test.ts
  packages/cli/src/commands/generate/metadata-payload.ts
  packages/cli/src/lib/destinations.ts
  scripts/assert-metadata-payload.sh
  scripts/update-metadata-payload.sh
Due: none

fix(hubspot-web): add id=hs-script-loader to prevent duplicate script injection
  packages/browser-destinations/destinations/hubspot-web/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/hubspot-web/src/index.ts
Due: browser-destinations

test(hubspot-web): assert exactly one hs-script-loader script with correct src
  packages/browser-destinations/destinations/hubspot-web/src/__tests__/index.test.ts
Due: browser-destinations

updating code from e2e-framework-plus-tests branch
  packages/cli/src/lib/server.ts
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/__helpers__/userList-audiences-helpers.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList-engage.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList-journeys-audiences.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList-journeysV1.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList-journeysV2.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: core, destination-actions

updating code from e2e-framework-plus-tests branch
  packages/cli/src/lib/server.ts
Due: none

refactor(topsort): camelCase dspMetadata field and coerce values to strings
  packages/destination-actions/src/destinations/topsort/click/__tests__/index.test.ts
  packages/destination-actions/src/destinations/topsort/click/generated-types.ts
  packages/destination-actions/src/destinations/topsort/click/index.ts
  packages/destination-actions/src/destinations/topsort/functions.ts
  packages/destination-actions/src/destinations/topsort/impression/__tests__/index.test.ts
  packages/destination-actions/src/destinations/topsort/impression/generated-types.ts
  packages/destination-actions/src/destinations/topsort/impression/index.ts
Due: destination-actions

google-enhanced-conversions: add error stats for audience-membership changes
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

facebook-custom-audiences: remove dead getJourneysV1Memberships unit tests
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/journeys.test.ts
Due: destination-actions

facebook-custom-audiences: fix isJourney always-true after rename
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

google-enhanced-conversions: tag audience-membership error stats with feature_flag
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

google-enhanced-conversions: namespace new error stats with slug+action
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

updating from e2e-framework-plus-tests branch
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

chore(ajv-human-errors): add package support metadata
  packages/ajv-human-errors/package.json
Due: ajv-human-errors

fix: add homepage and bugs metadata to @segment/ajv-human-errors package.json
  packages/ajv-human-errors/package.json
Due: ajv-human-errors

test(hubspot-web): assert literal injected src via getAttribute
  packages/browser-destinations/destinations/hubspot-web/src/__tests__/index.test.ts
Due: browser-destinations

[ms-bing-ads-audiences] Add temporary debug logging of API responses
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/metadata.json
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

[ms-bing-ads-audiences] Address Copilot review feedback
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

refactor(marketo-private): use oauth2 scheme with platform-cached token
  packages/destination-actions/src/destinations/marketo-private/functions.ts
  packages/destination-actions/src/destinations/marketo-private/index.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/__tests__/index.test.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/constants.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/functions.ts
Due: destination-actions

chore: add npm bugs and homepage metadata
  packages/ajv-human-errors/package.json
Due: ajv-human-errors

marketo-private: copy destination into e2e branch for testing
  packages/destination-actions/src/destinations/marketo-private/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/marketo-private/__tests__/index.test.ts
  packages/destination-actions/src/destinations/marketo-private/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/marketo-private/constants.ts
  packages/destination-actions/src/destinations/marketo-private/functions.ts
  packages/destination-actions/src/destinations/marketo-private/generated-types.ts
  packages/destination-actions/src/destinations/marketo-private/index.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/marketo-private/sendForm/__tests__/index.test.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/constants.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/functions.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/generated-types.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/index.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/types.ts
  packages/destination-actions/src/destinations/marketo-private/types.ts
Due: destination-actions

marketo-private: add e2e config and sendForm fixtures
  .env.example
  packages/destination-actions/src/destinations/marketo-private/__e2e__/index.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/__e2e__/fixtures.e2e.ts
Due: destination-actions

[ms-bing-ads-audiences] Log response.content instead of response.data
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

marketo-private: use REST field names in e2e success fixture
  packages/destination-actions/src/destinations/marketo-private/sendForm/__e2e__/fixtures.e2e.ts
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
