Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

[ms-bing-ads-audiences] Correct debug-logging header comment
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

mixpanel: flag-gate /import auth (apiSecret vs projectToken) + add e2e tests
  packages/destination-actions/src/destinations/mixpanel/__e2e__/index.ts
  packages/destination-actions/src/destinations/mixpanel/common/utils.ts
  packages/destination-actions/src/destinations/mixpanel/generated-types.ts
  packages/destination-actions/src/destinations/mixpanel/groupIdentifyUser/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/mixpanel/identifyUser/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/mixpanel/incrementProperties/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/mixpanel/index.ts
  packages/destination-actions/src/destinations/mixpanel/trackEvent/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/mixpanel/trackEvent/index.ts
  packages/destination-actions/src/destinations/mixpanel/trackPurchase/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/mixpanel/trackPurchase/index.ts
Due: destination-actions

Remove .env.example
  .env.example
Due: none

Restore .env.example to original content
  .env.example
Due: none

[ms-bing-ads-audiences] Include request metadata in error debug log
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

marketo-private: seed oauth in e2e config so reactive token refresh persists
  packages/destination-actions/src/destinations/marketo-private/__e2e__/index.ts
Due: destination-actions

[ms-bing-ads-audiences] Harden debug logging (review feedback)
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

[ms-bing-ads-audiences] Log Microsoft tracking id
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

marketo-private: use one shared dynamic lead across sendForm e2e fixtures
  packages/destination-actions/src/destinations/marketo-private/sendForm/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/mixpanel/identifyUser/__e2e__/fixtures.e2e.ts
Due: destination-actions

[ms-bing-ads-audiences] Sanitize audienceId; make truncation cap strict
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

mixpanel: expand trackEvent/trackPurchase e2e field coverage + multistatus assertions
  packages/destination-actions/src/destinations/mixpanel/trackEvent/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/mixpanel/trackPurchase/__e2e__/fixtures.e2e.ts
Due: destination-actions

mixpanel: re-add apiSecret and flag-gate /import auth (apiSecret vs projectToken)
  packages/destination-actions/src/destinations/mixpanel/common/utils.ts
  packages/destination-actions/src/destinations/mixpanel/generated-types.ts
  packages/destination-actions/src/destinations/mixpanel/index.ts
  packages/destination-actions/src/destinations/mixpanel/trackEvent/index.ts
  packages/destination-actions/src/destinations/mixpanel/trackPurchase/index.ts
Due: destination-actions

mixpanel: fall back to project token for /import auth + cover credential selection
  packages/destination-actions/src/destinations/mixpanel/common/utils.ts
  packages/destination-actions/src/destinations/mixpanel/trackEvent/__tests__/index.test.ts
Due: destination-actions

mixpanel: sync /import auth fallback + credential tests from production branch
  packages/destination-actions/src/destinations/mixpanel/common/utils.ts
  packages/destination-actions/src/destinations/mixpanel/trackEvent/__tests__/index.test.ts
Due: destination-actions

mixpanel: assert /import Basic-auth credential in trackPurchase + multistatus tests
  packages/destination-actions/src/destinations/mixpanel/__test__/multistatus.test.ts
  packages/destination-actions/src/destinations/mixpanel/metadata.json
  packages/destination-actions/src/destinations/mixpanel/trackPurchase/__tests__/index.test.ts
Due: destination-actions

more tests
  packages/destination-actions/src/destinations/mixpanel/__test__/multistatus.test.ts
  packages/destination-actions/src/destinations/mixpanel/trackPurchase/__tests__/index.test.ts
Due: destination-actions

copilot feedback
  packages/destination-actions/src/destinations/mixpanel/trackEvent/index.ts
Due: destination-actions

[ms-bing-ads-audiences] Never truncate the tracking id
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

[ms-bing-ads-audiences] Only log successful responses; drop error logging
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/index.ts
Due: destination-actions

feat(): changing the domain name from vwo to wingify acrosse vwo folder
  packages/destination-actions/src/destinations/vwo/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vwo/generated-types.ts
  packages/destination-actions/src/destinations/vwo/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vwo/identifyUser/generated-types.ts
  packages/destination-actions/src/destinations/vwo/identifyUser/index.ts
  packages/destination-actions/src/destinations/vwo/index.ts
  packages/destination-actions/src/destinations/vwo/pageVisit/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vwo/pageVisit/generated-types.ts
  packages/destination-actions/src/destinations/vwo/pageVisit/index.ts
  packages/destination-actions/src/destinations/vwo/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vwo/syncAudience/index.ts
  packages/destination-actions/src/destinations/vwo/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/vwo/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/vwo/trackEvent/index.ts
  packages/destination-actions/src/destinations/vwo/types.ts
  packages/destination-actions/src/destinations/vwo/utility.ts
Due: destination-actions

feat(): addition of new folder for the domain name wingify
  packages/destination-actions/src/destinations/wingify/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/generated-types.ts
  packages/destination-actions/src/destinations/wingify/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/identifyUser/generated-types.ts
  packages/destination-actions/src/destinations/wingify/identifyUser/index.ts
  packages/destination-actions/src/destinations/wingify/index.ts
  packages/destination-actions/src/destinations/wingify/pageVisit/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/pageVisit/generated-types.ts
  packages/destination-actions/src/destinations/wingify/pageVisit/index.ts
  packages/destination-actions/src/destinations/wingify/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/wingify/syncAudience/index.ts
  packages/destination-actions/src/destinations/wingify/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/wingify/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/wingify/trackEvent/index.ts
  packages/destination-actions/src/destinations/wingify/types.ts
  packages/destination-actions/src/destinations/wingify/utility.ts
Due: destination-actions

feat: generate metadata.json for all warehouse destinations
  packages/warehouse-destinations/src/destinations/bigquery/metadata.json
  packages/warehouse-destinations/src/destinations/databricks/metadata.json
  packages/warehouse-destinations/src/destinations/redshift/metadata.json
  packages/warehouse-destinations/src/destinations/snowflake/metadata.json
Due: none

feat: generate metadata.json for all warehouse destinations (#3842)
  packages/warehouse-destinations/src/destinations/bigquery/metadata.json
  packages/warehouse-destinations/src/destinations/databricks/metadata.json
  packages/warehouse-destinations/src/destinations/redshift/metadata.json
  packages/warehouse-destinations/src/destinations/snowflake/metadata.json
Due: none

docs: add metadata generation documentation to create.md
  docs/create.md
Due: none

docs: address PR review comments on metadata generation docs
  docs/create.md
Due: none

docs: add metadata generation documentation (#3843)
  docs/create.md
Due: none

Copilot comments
  packages/destination-actions/src/destinations/marketo-private/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/marketo-private/sendForm/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/marketo-private/sendForm/functions.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/generated-types.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/index.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/types.ts
Due: destination-actions

refactor: remove @segment/action-emitters dependency and hardcode EventEmitterSlug type
  packages/core/package.json
  packages/core/src/destination-kit/event-emitter-types.ts
  packages/core/src/destination-kit/index.ts
Due: core

iterable: add updateUser newEmail e2e fixtures
  packages/destination-actions/src/destinations/iterable/updateUser/__e2e__/fixtures.e2e.ts
Due: destination-actions

pendo-audiences: fix sent/body in multistatus response items
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/perform-batch.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/functions.ts
Due: destination-actions

updating pendo-audiences to use native audience membership
  packages/destination-actions/src/destinations/iterable/updateSubscriptions/generated-types.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/engage-batch.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/engage-single.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/perform.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/fields.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/index.ts
Due: destination-actions

pendo-audiences: add e2e config and syncAudience fixtures
  packages/destination-actions/src/destinations/pendo-audiences/__e2e__/index.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__e2e__/fixtures.e2e.ts
Due: destination-actions

pendo-audiences: e2e batch-only fixture with per-operation success codes
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__e2e__/fixtures.e2e.ts
Due: destination-actions

adding retries to types
  packages/core/src/e2e-types.ts
Due: core
