Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

STRATCONN-6213 - [MoEngage] - Web destination initialize bug fix (#3679)
  packages/browser-destinations/destinations/moengage-web/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/moengage-web/src/functions.ts
  packages/browser-destinations/destinations/moengage-web/src/index.ts
  packages/browser-destinations/destinations/moengage-web/src/types.ts
Due: browser-destinations

refactor: remove unused AsyncActionResponseType and clean up polling logic
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
  packages/core/src/index.ts
Due: core

removing Ripe web destination
  packages/browser-destinations/destinations/ripe/package.json
  packages/browser-destinations/destinations/ripe/src/generated-types.ts
  packages/browser-destinations/destinations/ripe/src/group/__tests__/index.test.ts
  packages/browser-destinations/destinations/ripe/src/group/generated-types.ts
  packages/browser-destinations/destinations/ripe/src/group/index.ts
  packages/browser-destinations/destinations/ripe/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/ripe/src/identify/generated-types.ts
  packages/browser-destinations/destinations/ripe/src/identify/index.ts
  packages/browser-destinations/destinations/ripe/src/index.ts
  packages/browser-destinations/destinations/ripe/src/init-script.ts
  packages/browser-destinations/destinations/ripe/src/page/__tests__/index.test.ts
  packages/browser-destinations/destinations/ripe/src/page/generated-types.ts
  packages/browser-destinations/destinations/ripe/src/page/index.ts
  packages/browser-destinations/destinations/ripe/src/track/__tests__/index.test.ts
  packages/browser-destinations/destinations/ripe/src/track/generated-types.ts
  packages/browser-destinations/destinations/ripe/src/track/index.ts
  packages/browser-destinations/destinations/ripe/src/types.ts
  packages/browser-destinations/destinations/ripe/tsconfig.json
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: browser-destinations, destinations-manifest

removing Ripe web destination (#3729)
  packages/browser-destinations/destinations/ripe/package.json
  packages/browser-destinations/destinations/ripe/src/generated-types.ts
  packages/browser-destinations/destinations/ripe/src/group/__tests__/index.test.ts
  packages/browser-destinations/destinations/ripe/src/group/generated-types.ts
  packages/browser-destinations/destinations/ripe/src/group/index.ts
  packages/browser-destinations/destinations/ripe/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/ripe/src/identify/generated-types.ts
  packages/browser-destinations/destinations/ripe/src/identify/index.ts
  packages/browser-destinations/destinations/ripe/src/index.ts
  packages/browser-destinations/destinations/ripe/src/init-script.ts
  packages/browser-destinations/destinations/ripe/src/page/__tests__/index.test.ts
  packages/browser-destinations/destinations/ripe/src/page/generated-types.ts
  packages/browser-destinations/destinations/ripe/src/page/index.ts
  packages/browser-destinations/destinations/ripe/src/track/__tests__/index.test.ts
  packages/browser-destinations/destinations/ripe/src/track/generated-types.ts
  packages/browser-destinations/destinations/ripe/src/track/index.ts
  packages/browser-destinations/destinations/ripe/src/types.ts
  packages/browser-destinations/destinations/ripe/tsconfig.json
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: browser-destinations, destinations-manifest

[ENG-51172] clean up
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/index.ts
Due: destination-actions

braze new action testing staging
  packages/destination-actions/src/destinations/braze/index.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/generated-types.ts
  packages/destination-actions/src/destinations/braze/mergeUsers/index.ts
  packages/destination-actions/src/destinations/braze/utils.ts
Due: destination-actions

[ENG-51172] validate agentlegs
  packages/destination-actions/src/destinations/voiceops/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/index.ts
Due: destination-actions

STRATCONN-6767 - [GEC] Treat updated events as add in mirror sync mode
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

[TikTok Audiences] - new syncAudience action
  packages/core/src/flags.ts
  packages/destination-actions/src/destinations/tiktok-audiences/index.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
Due: core, destination-actions

progress
  packages/destination-actions/src/destinations/tiktok-audiences/functions.ts
  packages/destination-actions/src/destinations/tiktok-audiences/properties.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/types.ts
Due: destination-actions

savng progress
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
Due: destination-actions

progress
  packages/destination-actions/src/destinations/tiktok-audiences/properties.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
Due: destination-actions

Set minimum batch size to 10000
  packages/destination-actions/src/destinations/marketo-static-lists/addToList/index.ts
Due: destination-actions

Update retryable error codes and adjust error handling for payload validation
  packages/destination-actions/src/destinations/marketo-static-lists/functions.ts
Due: destination-actions

refactor: default to 406 for NOT_ACCEPTABLE for no retryable errors
  packages/destination-actions/src/destinations/marketo-static-lists/__tests__/multistatus.test.ts
  packages/destination-actions/src/destinations/marketo-static-lists/functions.ts
Due: destination-actions

defaults to 400 BAD_REQUEST
  packages/destination-actions/src/destinations/marketo-static-lists/__tests__/multistatus.test.ts
  packages/destination-actions/src/destinations/marketo-static-lists/functions.ts
Due: destination-actions

[WIP] Framework level changes to support polling by async actions
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
  packages/core/src/index.ts
Due: core

sd
  packages/destination-actions/src/destinations/tiktok-audiences/functions.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
Due: destination-actions

[ENG-51172] initial call_completed destination (#3717)
  packages/destination-actions/src/destinations/voiceops/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/constants.ts
  packages/destination-actions/src/destinations/voiceops/generated-types.ts
  packages/destination-actions/src/destinations/voiceops/index.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/generated-types.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/index.ts
Due: destination-actions

add e2e test generation skill
  .claude/commands/test-destination-e2e.md
Due: none

Update VWO init script version from 2.1 to 3.0 (#3703)
  packages/browser-destinations/destinations/vwo/src/init-script.ts
Due: browser-destinations

STRATCONN-6533: [LiveRamp] Flag Cleanup - Alphabetical Field Order and Enable Compression (#3702)
  packages/destination-actions/src/destinations/liveramp-audiences/__tests__/liveramp.test.ts
  packages/destination-actions/src/destinations/liveramp-audiences/__tests__/operations.test.ts
  packages/destination-actions/src/destinations/liveramp-audiences/audienceEnteredS3/index.ts
  packages/destination-actions/src/destinations/liveramp-audiences/audienceEnteredSftp/index.ts
  packages/destination-actions/src/destinations/liveramp-audiences/operations.ts
  packages/destination-actions/src/destinations/liveramp-audiences/properties.ts
Due: destination-actions

batch 7: refactor API versioning to use versioning-info module (#3701)
  packages/destination-actions/src/destinations/amazon-conversions-api/index.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/trackConversion/utils.ts
  packages/destination-actions/src/destinations/amazon-conversions-api/versioning-info.ts
  packages/destination-actions/src/destinations/avo/sendSchemaToInspector/index.ts
  packages/destination-actions/src/destinations/avo/versioning-info.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/index.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/sendEmail/SendEmailPerformer.ts
  packages/destination-actions/src/destinations/engage-messaging-sendgrid/versioning-info.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/versioning-info.ts
  packages/destination-actions/src/destinations/google-sheets/googleapis/index.ts
  packages/destination-actions/src/destinations/google-sheets/versioning-info.ts
  packages/destination-actions/src/destinations/taboola-actions/index.ts
  packages/destination-actions/src/destinations/taboola-actions/syncAudience/client.ts
  packages/destination-actions/src/destinations/taboola-actions/versioning-info.ts
  packages/destination-actions/src/destinations/tiktok-offline-conversions/index.ts
  packages/destination-actions/src/destinations/tiktok-offline-conversions/utils.ts
  packages/destination-actions/src/destinations/tiktok-offline-conversions/versioning-info.ts
Due: destination-actions

tier 1 batch 6 (#3700)
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/user-data.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/constants.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/types.ts
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/versioning-info.ts
  packages/destination-actions/src/destinations/rokt-audiences/constants.ts
  packages/destination-actions/src/destinations/rokt-audiences/versioning-info.ts
  packages/destination-actions/src/destinations/segment-profiles/properties.ts
  packages/destination-actions/src/destinations/segment-profiles/versioning-info.ts
  packages/destination-actions/src/destinations/talon-one/trackEventV2/index.ts
  packages/destination-actions/src/destinations/talon-one/updateCustomerProfileV3/index.ts
  packages/destination-actions/src/destinations/talon-one/updateCustomerSessionV2/index.ts
  packages/destination-actions/src/destinations/talon-one/versioning-info.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-rt.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
  packages/destination-actions/src/destinations/yahoo-audiences/versioning-info.ts
Due: destination-actions

- Renamed Add Contact to List to Add or Update Contact (#3653)
  packages/actions-shared/src/dotdigital/api/resources/dd-contact-api.ts
  packages/actions-shared/src/dotdigital/api/types.ts
  packages/destination-actions/src/destinations/dotdigital/addContactToList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/dotdigital/addContactToList/generated-types.ts
  packages/destination-actions/src/destinations/dotdigital/addContactToList/index.ts
  packages/destination-actions/src/destinations/dotdigital/enrolContact/index.ts
  packages/destination-actions/src/destinations/dotdigital/input-fields/contact-identifier.ts
  packages/destination-actions/src/destinations/dotdigital/input-fields/index.ts
  packages/destination-actions/src/destinations/dotdigital/input-fields/types.ts
  packages/destination-actions/src/destinations/dotdigital/removeContactFromList/index.ts
Due: actions-shared, destination-actions

tier-1/batch-5: refactor API versioning to use versioning-info module (#3475)
  packages/destination-actions/src/destinations/criteo-audiences/criteo-audiences.ts
  packages/destination-actions/src/destinations/criteo-audiences/versioning-info.ts
  packages/destination-actions/src/destinations/klaviyo/config.ts
  packages/destination-actions/src/destinations/klaviyo/versioning-info.ts
  packages/destination-actions/src/destinations/launchdarkly-audiences/constants.ts
  packages/destination-actions/src/destinations/launchdarkly-audiences/versioning-info.ts
  packages/destination-actions/src/destinations/moengage/identifyUser/index.ts
  packages/destination-actions/src/destinations/moengage/index.ts
  packages/destination-actions/src/destinations/moengage/trackEvent/index.ts
  packages/destination-actions/src/destinations/moengage/versioning-info.ts
  packages/destination-actions/src/destinations/optimizely-feature-experimentation-actions/index.ts
  packages/destination-actions/src/destinations/optimizely-feature-experimentation-actions/trackEvent/index.ts
  packages/destination-actions/src/destinations/optimizely-feature-experimentation-actions/versioning-info.ts
Due: destination-actions

Update packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
Due: destination-actions

Update packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent2.test.ts
Due: destination-actions

Update packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase2.test.ts
Due: destination-actions

Voiceops - fixing types
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/generated-types.ts
Due: destination-actions

Adding missing all data field
  packages/destination-actions/src/destinations/ms-bing-capi/sendEvent/index.ts
Due: destination-actions

fixing timezone snapshot issue for voiceops destination
  packages/destination-actions/src/destinations/voiceops/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/snapshot.test.ts
Due: destination-actions

Voiceops - fixing types and timezone test issue (#3737)
  packages/destination-actions/src/destinations/voiceops/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/generated-types.ts
Due: destination-actions

extra validation for purchase to reject empty currency values
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
Due: destination-actions

fb capi purchase currency test
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/functions.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-app-data.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-properties.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-user-data.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/shared/functions.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent2/index.ts
Due: destination-actions

fixing breaking test
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/functions.test.ts
Due: destination-actions

attempting to test fb capi again in stage
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/functions.test.ts
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
