Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

[bug-bash-hybrid] scratch: share one metadataId across cloud + browser halves (Row 77 obs2)
  packages/destination-actions/src/destinations/index.ts
  packages/destinations-manifest/src/index.ts
Due: destination-actions, destinations-manifest

[bug-bash-hybrid] scratch: make it a proper hybrid (cloud action + merged browser web action)
  packages/destination-actions/src/destinations/bug-bash-hybrid/index.ts
  packages/destination-actions/src/destinations/bug-bash-hybrid/metadata.json
  packages/destination-actions/src/destinations/bug-bash-hybrid/webAction/generated-types.ts
  packages/destination-actions/src/destinations/bug-bash-hybrid/webAction/index.ts
Due: destination-actions

Split event_config into flat fields to fix app UI depends_on
  packages/browser-destinations/destinations/facebook-conversions-api-web/metadata.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/index.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/content-ids.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/depends-on.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/formatFBEvent.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/init.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/depends-on.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
Due: browser-destinations

adding pretext bugbash #51
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/metadata.json
Due: destination-actions

updating to correct script file provided by FB
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/index.ts
Due: browser-destinations

Revert "adding pretext bugbash #51"
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/metadata.json
Due: destination-actions

Reapply "adding pretext bugbash #51"
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/metadata.json
Due: destination-actions

Normalize word-form gender values in FB Pixel Web
  packages/browser-destinations/destinations/facebook-conversions-api-web/metadata.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/formatUserData.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
Due: browser-destinations

updating types
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/generated-types.ts
Due: browser-destinations

minor bug fix
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/depends-on.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/depends-on.ts
Due: browser-destinations

Align FB Pixel field-event mappings with Meta docs
  packages/browser-destinations/destinations/facebook-conversions-api-web/metadata.json
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/depends-on.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/fields.ts
Due: browser-destinations

[facebook-custom-audiences] bug-bash TC40 (scratch): add hashedPII to igAccountIds
  packages/destination-actions/src/destinations/facebook-custom-audiences/metadata.json
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
Due: destination-actions

Trim string values inside contents items in FB Pixel Web
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/formatFBEvent.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
Due: browser-destinations

Revert "Reapply "Set authentication.scheme:'oauth2' on a destination that previously had a different/no scheme""
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

Sl1: Add a new required auth field
  packages/destination-actions/src/destinations/bug-bash-hybrid/metadata.json
  packages/destination-actions/src/destinations/webhook/generated-types.ts
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

[hubspot-web] bug-bash TC79 (scratch): add settings field to recreate authScheme diff
  packages/browser-destinations/destinations/hubspot-web/metadata.json
  packages/browser-destinations/destinations/hubspot-web/src/generated-types.ts
  packages/browser-destinations/destinations/hubspot-web/src/index.ts
Due: browser-destinations

Harden validate(): whitespace content_ids + custom_event_name required
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/__tests__/functions.test.ts
  packages/browser-destinations/destinations/facebook-conversions-api-web/src/send/functions.ts
Due: browser-destinations

adding preset without name
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/metadata.json
Due: destination-actions

Sl5: Flip an existing field required:true->false
  packages/destination-actions/src/destinations/webhook/generated-types.ts
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

remvoving userList action
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/metadata.json
Due: destination-actions

Sl4: Flip an existing field required:false->true
  packages/destination-actions/src/destinations/webhook/index.ts
Due: destination-actions

Sl4: Flip an existing field required:false->true
  packages/destination-actions/src/destinations/webhook/generated-types.ts
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

cleanup webhooks
  packages/destination-actions/src/destinations/webhook/generated-types.ts
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

Sl2: Add a new optional auth field
  packages/destination-actions/src/destinations/webhook/generated-types.ts
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

Revert "Sl2: Add a new optional auth field"
  packages/destination-actions/src/destinations/webhook/generated-types.ts
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

Sl18: Add an option literally named 'enabled' (any scheme)
  packages/destination-actions/src/destinations/webhook/generated-types.ts
  packages/destination-actions/src/destinations/webhook/index.ts
  packages/destination-actions/src/destinations/webhook/metadata.json
Due: destination-actions

Sl45: Add minimum/maximum on an existing numeric field
  packages/destination-actions/src/destinations/engage-messaging-twilio/metadata.json
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendMobilePush/index.ts
Due: destination-actions

ci: publish canary from packed artifact
  .github/workflows/publish.yml
Due: none

Revert "Sl45: Add minimum/maximum on an existing numeric field"
  packages/destination-actions/src/destinations/engage-messaging-twilio/metadata.json
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendMobilePush/index.ts
Due: destination-actions

additional validation
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

updating error messages
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

fix: normalize yarn registry URLs
  yarn.lock
Due: none

copilot comment fixes
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

[webhook] bug-bash TC32 (scratch): flip batch_size required false->true
  packages/destination-actions/src/destinations/webhook/metadata.json
  packages/destination-actions/src/destinations/webhook/send/index.ts
Due: destination-actions

[slack] bug-bash TC32 (scratch): flip channel required false->true on a clean destination
  packages/destination-actions/src/destinations/slack/metadata.json
  packages/destination-actions/src/destinations/slack/postToChannel/index.ts
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
