Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

comverting to password field
  packages/destination-actions/src/destinations/youappi-audiences/index.ts
Due: destination-actions

Fix test-data min/max handling and revert timezone workaround
  CLAUDE.md
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/lib/test-data.ts
Due: destination-actions

Show batch_size field only when enable_batching is true
  packages/destination-actions/src/destinations/klaviyo/properties.ts
Due: destination-actions

Updated meta.json contents (#3638)
  packages/destination-actions/src/destinations/liveramp-audiences/__tests__/awsClient.test.ts
  packages/destination-actions/src/destinations/liveramp-audiences/awsClient.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/__tests__/awsClient.test.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/awsClient.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/functions.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/the-trade-desk-crm/syncAudience/index.ts
Due: destination-actions

STRATCONN-6563 - [Klime] - adding presets for Klime (#3651)
  packages/destination-actions/src/destinations/klime/index.ts
Due: destination-actions

STRATCONN-6127 - [Pendo Audiences] - post partner meeting updates (#3646)
  packages/destination-actions/src/destinations/pendo-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/constants.ts
  packages/destination-actions/src/destinations/pendo-audiences/functions.ts
  packages/destination-actions/src/destinations/pendo-audiences/generated-types.ts
  packages/destination-actions/src/destinations/pendo-audiences/index.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/perform-batch.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/perform.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/fields.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/types.ts
  packages/destination-actions/src/destinations/pendo-audiences/types.ts
Due: destination-actions

STRATCONN-6484 - [Youappi] - new non native audience destination (#3610)
  packages/destination-actions/src/destinations/youappi-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/youappi-audiences/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/youappi-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/youappi-audiences/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/youappi-audiences/constants.ts
  packages/destination-actions/src/destinations/youappi-audiences/generated-types.ts
  packages/destination-actions/src/destinations/youappi-audiences/index.ts
  packages/destination-actions/src/destinations/youappi-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/youappi-audiences/sync/generated-types.ts
  packages/destination-actions/src/destinations/youappi-audiences/sync/index.ts
  packages/destination-actions/src/destinations/youappi-audiences/sync/types.ts
Due: destination-actions

update batch size for subscribe and unsubscribe profile actions
  packages/destination-actions/src/destinations/klaviyo/subscribeProfile/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/subscribeProfile/index.ts
  packages/destination-actions/src/destinations/klaviyo/unsubscribeProfile/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/unsubscribeProfile/index.ts
Due: destination-actions

retl support with mirror
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/constants.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/generated-types.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/index.ts
Due: destination-actions

Klaviyo: configurable batch size (#3650)
  CLAUDE.md
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/index.ts
  packages/destination-actions/src/destinations/klaviyo/properties.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfile/index.ts
  packages/destination-actions/src/destinations/klaviyo/removeProfileFromList/index.ts
  packages/destination-actions/src/destinations/klaviyo/subscribeProfile/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/subscribeProfile/index.ts
  packages/destination-actions/src/destinations/klaviyo/trackEvent/index.ts
  packages/destination-actions/src/destinations/klaviyo/unsubscribeProfile/generated-types.ts
  packages/destination-actions/src/destinations/klaviyo/unsubscribeProfile/index.ts
  packages/destination-actions/src/destinations/klaviyo/upsertProfile/index.ts
  packages/destination-actions/src/lib/test-data.ts
Due: destination-actions

removing tests
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
Due: destination-actions

fixing tests
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
Due: destination-actions

new mirror tests
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
Due: destination-actions

getting started on audience membership
  packages/core/src/__tests__/audience-membership.test.ts
  packages/core/src/audience-membership.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
  packages/core/src/index.ts
Due: core

adding retlMembership
  packages/core/src/audience-membership.ts
Due: core

fixing tests
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/functions.test.ts
Due: destination-actions

fixing tests
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/legacy.test.ts
Due: destination-actions

Sync generic Customer.io destination fixes upstream
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
  packages/core/src/errors.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/customerio/__tests__/index.test.ts
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/customerio/createUpdateDevice/index.ts
  packages/destination-actions/src/destinations/customerio/index.ts
  packages/destination-actions/src/destinations/customerio/mergePeople/index.ts
  packages/destination-actions/src/destinations/customerio/trackEvent/index.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
Due: core, destination-actions

updating payload objects with audience_membership
  packages/core/src/audience-membership.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
Due: core

moving logic
  packages/core/src/destination-kit/action.ts
Due: core

Parse Customer.io Track API batch multi-status responses
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
Due: destination-actions

Preserve decimal Customer.io timestamps
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
Due: destination-actions

Align Customer.io preset subscriptions with reserved events
  packages/destination-actions/src/destinations/customerio/__tests__/index.test.ts
  packages/destination-actions/src/destinations/customerio/createUpdateDevice/index.ts
  packages/destination-actions/src/destinations/customerio/index.ts
  packages/destination-actions/src/destinations/customerio/trackEvent/index.ts
Due: destination-actions

STRATCONN-6246 added OAUTH2.0 in taxonomy API in yahoo audiences
  packages/destination-actions/src/destinations/yahoo-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/types.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: destination-actions

Code refactored
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: destination-actions

[MAIN] [STRATCONN-6246] added OAUTH2.0 in taxonomy API in yahoo audiences (#3659)
  packages/destination-actions/src/destinations/yahoo-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yahoo-audiences/index.ts
  packages/destination-actions/src/destinations/yahoo-audiences/types.ts
  packages/destination-actions/src/destinations/yahoo-audiences/utils-tax.ts
Due: destination-actions

Salesforce Marketing Cloud: Unit tests for V2 functionality (#3600)
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/contactDataExtensionV2.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/dataExtensionV2.test.ts
Due: destination-actions

types
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/generated-types.ts
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
Due: destination-actions

updating getAudience
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/audience-creation.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/canary.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/functions.ts
Due: destination-actions

fixing nits
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/functions.ts
Due: destination-actions

fixing a couple of tests
  packages/destination-actions/src/destinations/facebook-custom-audiences/__tests__/audience-creation.test.ts
Due: destination-actions

fixing test authentication
  packages/destination-actions/src/destinations/amplitude-cohorts/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/index.ts
Due: destination-actions

moving membership out of payload
  packages/core/src/audience-membership.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
Due: core

update
  packages/core/src/destination-kit/action.ts
Due: core

updates
  packages/core/src/audience-membership.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/index.ts
Due: core, destination-actions

[Avo] Add regex pattern validation for Avo Inspector v2
  packages/destination-actions/src/destinations/avo-v2/generated-types.ts
  packages/destination-actions/src/destinations/avo-v2/index.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/EventValidator.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/avo.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/schema-functions.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/encryption-functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/event-validator-functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/schema-functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/types.ts
Due: destination-actions

update
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/types.ts
Due: core

migrated amplitude cohorts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/fields.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/functions.ts
  packages/destination-actions/src/destinations/amplitude-cohorts/syncAudience/generated-types.ts
Due: destination-actions

Restore session-based encryption for batch efficiency
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/schema-functions.ts
Due: destination-actions

Restore encryption-functions.ts to session-based original
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/encryption-functions.ts
Due: destination-actions
