Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

code
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

adding tests
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/utils.test.ts
Due: destination-actions

upsertProfile action
  packages/destination-actions/src/destinations/memora/upsertProfile/generated-types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

STRATCONN-6312 added filter for getcategory soap request in sfmc in staging
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

added dbt model
  monu_dbt_models1/.gitignore
  monu_dbt_models1/README.md
  monu_dbt_models1/analyses/.gitkeep
  monu_dbt_models1/dbt_project.yml
  monu_dbt_models1/macros/.gitkeep
  monu_dbt_models1/models/example/my_first_dbt_model.sql
  monu_dbt_models1/models/example/my_second_dbt_model.sql
  monu_dbt_models1/models/example/schema.yml
  monu_dbt_models1/models/test_model.sql
  monu_dbt_models1/seeds/.gitkeep
  monu_dbt_models1/snapshots/.gitkeep
  monu_dbt_models1/tests/.gitkeep
Due: none

Kinesis destination - Error handling and MultiStatus response (#3412)
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
Due: destination-actions

STRATCONN-6312 removed filter from get category soap api in staging
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

refactor
  packages/destination-actions/src/destinations/amplitude/autocaptueAttributions.ts
  packages/destination-actions/src/destinations/amplitude/autocapture-attribution.ts
  packages/destination-actions/src/destinations/amplitude/autocapture-fields.ts
  packages/destination-actions/src/destinations/amplitude/compact.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/generated-types.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
Due: destination-actions

refactor
  packages/destination-actions/src/destinations/amplitude/autocapture-fields.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/generated-types.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
Due: destination-actions

refactor
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/index.ts
Due: browser-destinations

moving some files around
  packages/actions-shared/src/amplitude/types.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/autocapture-attribution.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/autocapture-fields.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
Due: actions-shared, destination-actions

more refactoring
  packages/destination-actions/src/destinations/amplitude/__tests__/autocapture-attribution.test.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/generated-types.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/index.ts
Due: destination-actions

fixing integrations path
  packages/destination-actions/src/destinations/amplitude/__tests__/autocapture-attribution.test.ts
  packages/destination-actions/src/destinations/amplitude/logEventV2/autocapture-fields.ts
Due: destination-actions

referrer unit test
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/__tests__/index.test.ts
Due: browser-destinations

more front end unit tests
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/__tests__/index.test.ts
Due: browser-destinations

getting started
  packages/destination-actions/src/destinations/braze/ecommerceEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/functions.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/generated-types.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/index.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/types.ts
  packages/destination-actions/src/destinations/braze/index.ts
Due: destination-actions

gec all actions exposed
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadConversionAdjustment/index.ts
Due: destination-actions

Removed secret-scan file
  .github/workflows/secret-scan.yml
  CONTRIBUTING.md
  README.md
Due: none

[Main] [STRATCONN-6227] Update documentation and review guidelines to check for type:password (#3360)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  CONTRIBUTING.md
  README.md
Due: none

Add Actions and settings for bigquery (#3356)
  packages/warehouse-destinations/src/destinations/bigquery/generated-types.ts
  packages/warehouse-destinations/src/destinations/bigquery/index.ts
  packages/warehouse-destinations/src/destinations/bigquery/sendCustomEvent/audience-default-fields.ts
  packages/warehouse-destinations/src/destinations/bigquery/sendCustomEvent/generated-types.ts
  packages/warehouse-destinations/src/destinations/bigquery/sendCustomEvent/index.ts
  packages/warehouse-destinations/src/destinations/bigquery/sendCustomEvent/journeys-default-fields.ts
Due: none

working on types
  packages/destination-actions/src/destinations/braze/ecommerceEvent/types.ts
Due: destination-actions

adding fields file
  packages/destination-actions/src/destinations/braze/ecommerceEvent/fileds.ts
Due: destination-actions

importing fields
  packages/destination-actions/src/destinations/braze/ecommerceEvent/fields.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/index.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/types.ts
Due: destination-actions

generated types
  packages/destination-actions/src/destinations/braze/ecommerceEvent/generated-types.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/index.ts
Due: destination-actions

Added required secret check file
  .github/workflows/required-secret-check.yml
  packages/cli/src/commands/validate-secret-fields.ts
Due: none

remove changes from gitignore and package.json
  .gitignore
  package.json
Due: none

code review changes
  packages/destination-actions/src/destinations/topsort/click/generated-types.ts
  packages/destination-actions/src/destinations/topsort/functions.ts
  packages/destination-actions/src/destinations/topsort/impression/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/topsort/impression/generated-types.ts
  packages/destination-actions/src/destinations/topsort/impression/index.ts
  packages/destination-actions/src/destinations/topsort/index.ts
Due: destination-actions

add click optional fields
  packages/destination-actions/src/destinations/topsort/click/__tests__/__snapshots__/index.test.ts.snap
  packages/destination-actions/src/destinations/topsort/click/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/topsort/click/__tests__/index.test.ts
  packages/destination-actions/src/destinations/topsort/click/index.ts
Due: destination-actions

fix typo
  packages/destination-actions/src/destinations/topsort/click/__tests__/index.test.ts
Due: destination-actions

Adding support for AMC audiences
  packages/destination-actions/src/destinations/amazon-amc/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/function.ts
  packages/destination-actions/src/destinations/amazon-amc/generated-types.ts
  packages/destination-actions/src/destinations/amazon-amc/index.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/index.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Due: destination-actions

more progress
  packages/destination-actions/src/destinations/braze/ecommerceEvent/constants.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/fields.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/functions.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/generated-types.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/index.ts
  packages/destination-actions/src/destinations/braze/ecommerceEvent/types.ts
Due: destination-actions

types look ok
  packages/destination-actions/src/destinations/braze/ecommerceEvent/functions.ts
Due: destination-actions

STRATCONN-6312 added filter in SOAP api in get category request in sfmc
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

Modified on required secret check file
  .github/workflows/required-secret-check.yml
Due: none

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
