Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

[facebook-custom-audiences] bug-bash TC42 (scratch): add nested property to birth object field
  packages/destination-actions/src/destinations/facebook-custom-audiences/metadata.json
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
Due: destination-actions

Sl94: Register a browser or warehouse destination whose metadata.json has a non-empty authentication.scheme
  packages/browser-destinations/destinations/fake-destination-web/metadata.json
  packages/browser-destinations/destinations/fake-destination-web/package.json
  packages/browser-destinations/destinations/fake-destination-web/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/fake-destination-web/src/generated-types.ts
  packages/browser-destinations/destinations/fake-destination-web/src/index.ts
  packages/browser-destinations/destinations/fake-destination-web/src/trackEvent/generated-types.ts
  packages/browser-destinations/destinations/fake-destination-web/src/trackEvent/index.ts
  packages/browser-destinations/destinations/fake-destination-web/src/types.ts
  packages/browser-destinations/destinations/fake-destination-web/tsconfig.json
  packages/destinations-manifest/package.json
Due: browser-destinations, destinations-manifest

Revert "Merge branch 'staging' of ssh://github.com/segmentio/action-destinations into staging"
  packages/destination-actions/src/destinations/facebook-custom-audiences/metadata.json
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/fields.ts
Due: destination-actions

[heap] bug-bash TC42 (scratch): add object field with nested properties on a clean destination
  packages/destination-actions/src/destinations/heap/metadata.json
  packages/destination-actions/src/destinations/heap/trackEvent/index.ts
Due: destination-actions

creating throwaway audience destination
  packages/destination-actions/src/destinations/index.ts
  packages/destination-actions/src/destinations/throwaway-audiences/generated-types.ts
  packages/destination-actions/src/destinations/throwaway-audiences/index.ts
  packages/destination-actions/src/destinations/throwaway-audiences/metadata.json
  packages/destination-actions/src/destinations/throwaway-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/throwaway-audiences/syncAudience/index.ts
Due: destination-actions

[fullstory] bug-bash TC79 clean retest (scratch): add settings field on a fresh browser destination
  packages/browser-destinations/destinations/fullstory/metadata.json
  packages/browser-destinations/destinations/fullstory/src/generated-types.ts
  packages/browser-destinations/destinations/fullstory/src/index.ts
Due: browser-destinations

Revert "Sl45: Add minimum/maximum on an existing numeric field"
  packages/destination-actions/src/destinations/engage-messaging-twilio/metadata.json
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendMobilePush/index.ts
Due: destination-actions

[fullstory] bug-bash TC81 (scratch): set oauth2 scheme on a browser destination
  packages/browser-destinations/destinations/fullstory/metadata.json
  packages/browser-destinations/destinations/fullstory/src/index.ts
Due: browser-destinations

Reapply "Sl45: Add minimum/maximum on an existing numeric field"
  packages/destination-actions/src/destinations/engage-messaging-twilio/metadata.json
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendMobilePush/index.ts
Due: destination-actions

toOrganizationUrn: strip repeated prefixes and treat prefix-only id as missing
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

updateCompanyAudience: return send() directly instead of return await
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/index.ts
Due: destination-actions

simplifying error handline for company audience creation
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

linkedin audiences new action for stage test
  packages/destination-actions/src/destinations/linkedin-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-audiences/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/types.ts
Due: destination-actions

Release Canary
  packages/browser-destinations/destinations/fake-destination-web/package.json
  packages/browser-destinations/destinations/fullstory/package.json
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/webhook-audiences/metadata.json
  packages/destinations-manifest/package.json
Due: destination-actions, browser-destinations, destinations-manifest

Upgrade GEC Canary
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/versioning-info.ts
Due: destination-actions

Release Canary
  packages/destination-actions/package.json
Due: destination-actions

Upgrade GEC Canary (#3924)
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/versioning-info.ts
Due: destination-actions

Release
  packages/destination-actions/package.json
Due: destination-actions

Release (#3925)
  packages/destination-actions/package.json
Due: destination-actions

Upgrade Base Version to V22
  packages/destination-actions/src/destinations/google-enhanced-conversions/metadata.json
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion2/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion2/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/versioning-info.ts
Due: destination-actions

adding more e2e tests for google
  packages/destination-actions/src/destinations/google-enhanced-conversions/__e2e__/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/versioning-info.ts
Due: destination-actions

Upgrade Base Version to V22 (#3926)
  packages/destination-actions/src/destinations/google-enhanced-conversions/metadata.json
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion2/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion2/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/versioning-info.ts
Due: destination-actions

Release
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadConversionAdjustment/__e2e__/fixtures.e2e.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadConversionAdjustment2/__e2e__/fixtures.e2e.ts
Due: destination-actions

Release (#3928)
  packages/destination-actions/package.json
Due: destination-actions

[gwen] required-field safety probe (scratch): add conditionally-required auth field
  packages/destination-actions/src/destinations/gwen/generated-types.ts
  packages/destination-actions/src/destinations/gwen/index.ts
  packages/destination-actions/src/destinations/gwen/metadata.json
Due: destination-actions

Add on-demand workflow to build and upload browser destination bundles
  .github/workflows/build-browser-destinations.yml
Due: none

Fix security and correctness issues in browser destinations workflow
  .github/workflows/build-browser-destinations.yml
Due: none

Remove job-level environment gate — deployment approval belongs in the backend service
  .github/workflows/build-browser-destinations.yml
Due: none

Apply suggestions from code review
  .github/workflows/build-browser-destinations.yml
Due: none

chore: align browser build workflow runner and action pins with repo convention
  .github/workflows/build-browser-destinations.yml
Due: none

chore: address Copilot review comments on browser build workflow
  .github/workflows/build-browser-destinations.yml
Due: none

fix: correct indentation of setup-node uses key in browser build workflow
  .github/workflows/build-browser-destinations.yml
Due: none

chore: build browser artifacts during publish
  .github/workflows/build-browser-destinations.yml
  .github/workflows/publish.yml
Due: none

test: run browser artifact build on PR branch
  .github/workflows/publish.yml
  .github/workflows/test-browser-destinations-artifact.yml
Due: none

chore: move validated browser build to publish
  .github/workflows/publish.yml
  .github/workflows/test-browser-destinations-artifact.yml
Due: none

chore: gate browser artifact builds on changes
  .github/workflows/publish.yml
Due: none

fix: harden browser artifact change detection
  .github/workflows/publish.yml
Due: none

test: add staging browser artifact workflow
  .github/workflows/test-browser-destinations-artifact-staging.yml
Due: none

STRATCONN-6937 [Braze] Fix ecommerce batch error index mismatch and sent/body population
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
Due: destination-actions
