Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

making some progress
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/types.ts
Due: destination-actions

solve merge conflict
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/common-functions.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/constants.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/__tests__/index.test.ts
Due: destination-actions

update types
  packages/warehouse-destinations/src/destinations/databricks/index.ts
Due: none

log
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/common-fields.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/common-functions.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/constants.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/index.ts
Due: destination-actions

Publish Canary
  packages/warehouse-destinations/package.json
Due: none

remove forward proful
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/index.ts
Due: destination-actions

Setup Redshift Storage destination
  packages/warehouse-destinations/src/destinations/redshift/generated-types.ts
  packages/warehouse-destinations/src/destinations/redshift/index.ts
Due: none

Setup BigQuery Storage destination
  packages/warehouse-destinations/src/destinations/bigquery/generated-types.ts
  packages/warehouse-destinations/src/destinations/bigquery/index.ts
Due: none

Setup Redshift Storage destination (#3353)
  packages/warehouse-destinations/src/destinations/redshift/generated-types.ts
  packages/warehouse-destinations/src/destinations/redshift/index.ts
Due: none

Setup BigQuery Storage destination (#3354)
  packages/warehouse-destinations/src/destinations/bigquery/generated-types.ts
  packages/warehouse-destinations/src/destinations/bigquery/index.ts
Due: none

[Stackadapt Audiences] - remove redundant Action
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/common-constants.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/common-fields.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/common-functions.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/common-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/constants.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/fields.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/functions.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/index.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/index.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/index.ts
Due: destination-actions

saving progress
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/common-functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

update endpoints, remove workspaceKey
  packages/destination-actions/src/destinations/survicate-cloud-mode/generated-types.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyGroup/index.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyUser/index.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/index.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/trackEvent/index.ts
Due: destination-actions

Add Actions and settings for bigquery
  packages/warehouse-destinations/src/destinations/bigquery/generated-types.ts
  packages/warehouse-destinations/src/destinations/bigquery/index.ts
  packages/warehouse-destinations/src/destinations/bigquery/sendCustomEvent/audience-default-fields.ts
  packages/warehouse-destinations/src/destinations/bigquery/sendCustomEvent/generated-types.ts
  packages/warehouse-destinations/src/destinations/bigquery/sendCustomEvent/index.ts
  packages/warehouse-destinations/src/destinations/bigquery/sendCustomEvent/journeys-default-fields.ts
Due: none

Add Actions and settings for Redshift
  packages/warehouse-destinations/src/destinations/redshift/generated-types.ts
  packages/warehouse-destinations/src/destinations/redshift/index.ts
  packages/warehouse-destinations/src/destinations/redshift/sendCustomEvent/audience-default-fields.ts
  packages/warehouse-destinations/src/destinations/redshift/sendCustomEvent/generated-types.ts
  packages/warehouse-destinations/src/destinations/redshift/sendCustomEvent/index.ts
  packages/warehouse-destinations/src/destinations/redshift/sendCustomEvent/journeys-default-fields.ts
Due: none

saving progress
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/types.ts
Due: destination-actions

Publish Canary
  packages/browser-destinations/destinations/cj/package.json
  packages/browser-destinations/destinations/google-analytics-4-web/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
  packages/warehouse-destinations/package.json
  yarn.lock
Due: destination-actions, browser-destinations, destinations-manifest

STRATCONN-6205 changed membershipDurationDays type format to number
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

STRATCONN-6205 fixed the failing testcases
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
Due: destination-actions

Update the description for account ID. Update default field for Email mapping.
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/generated-types.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/index.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/fields.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/generated-types.ts
Due: destination-actions

Squashed commit of the following:
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/generated-types.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/index.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/fields.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/generated-types.ts
Due: destination-actions

Update the description for account ID. Update default field for Email mapping. (#3358)
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/generated-types.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/index.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/fields.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/syncAudiences/generated-types.ts
Due: destination-actions

[Stackadapt Audiences] - remove redundant Action (#3355)
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/common-constants.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/common-fields.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/common-functions.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/common-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/constants.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/fields.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/functions.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/index.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/index.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/index.ts
Due: destination-actions

Update google enhanced conversions API version to v21 (#3341)
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion2/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadCallConversion2/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

[Yonoma] - updating code after testing (#3348)
  packages/destination-actions/src/destinations/yonoma/index.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/yonoma/sendEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/constants.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/functions.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/generated-types.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/index.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/types.ts
  packages/destination-actions/src/destinations/yonoma/trackEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/yonoma/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yonoma/trackEvent/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/yonoma/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/yonoma/trackEvent/index.ts
  packages/destination-actions/src/destinations/yonoma/trackEvent/types.ts
  packages/destination-actions/src/destinations/yonoma/trackPageView/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/yonoma/trackPageView/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yonoma/trackPageView/generated-types.ts
  packages/destination-actions/src/destinations/yonoma/trackPageView/index.ts
  packages/destination-actions/src/destinations/yonoma/trackPageView/types.ts
  packages/destination-actions/src/destinations/yonoma/upsertContact/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/yonoma/upsertContact/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yonoma/upsertContact/generated-types.ts
  packages/destination-actions/src/destinations/yonoma/upsertContact/index.ts
  packages/destination-actions/src/destinations/yonoma/upsertContact/types.ts
Due: destination-actions

[Snap Audiences] - Snap Audience Destination (#3339)
  packages/destination-actions/src/destinations/snap-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/snap-audiences/constants.ts
  packages/destination-actions/src/destinations/snap-audiences/generated-types.ts
  packages/destination-actions/src/destinations/snap-audiences/index.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/constants.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/fields.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/types.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/utils.ts
  packages/destination-actions/src/destinations/snap-audiences/types.ts
Due: destination-actions

[Criteo] - turning on batching for all new instances (#3349)
  packages/destination-actions/src/destinations/criteo-audiences/addUserToAudience/generated-types.ts
  packages/destination-actions/src/destinations/criteo-audiences/addUserToAudience/index.ts
  packages/destination-actions/src/destinations/criteo-audiences/removeUserFromAudience/generated-types.ts
  packages/destination-actions/src/destinations/criteo-audiences/removeUserFromAudience/index.ts
Due: destination-actions

saving progress
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/common-functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/types.ts
Due: destination-actions

Updated MD files instruction about password and secrets keys security issue
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  CONTRIBUTING.md
  README.md
Due: none

saving progress
  packages/destination-actions/src/destinations/linkedin-audiences/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/index.ts
Due: destination-actions

fix tests
  packages/destination-actions/src/destinations/survicate-cloud-mode/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyGroup/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyGroup/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyUser/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/index.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/trackEvent/__tests__/snapshot.test.ts
Due: destination-actions

remove ondelete
  packages/destination-actions/src/destinations/survicate-cloud-mode/index.ts
Due: destination-actions

fix descriptions
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyGroup/index.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyUser/index.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/trackEvent/index.ts
Due: destination-actions

fix types
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyGroup/generated-types.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyUser/generated-types.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/trackEvent/generated-types.ts
Due: destination-actions

update descriptions, update types
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyGroup/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyGroup/generated-types.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyGroup/index.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyUser/index.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/trackEvent/index.ts
Due: destination-actions

fix tests
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyGroup/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/survicate-cloud-mode/trackEvent/__tests__/index.test.ts
Due: destination-actions

saving progress - oh my
  packages/destination-actions/src/destinations/linkedin-audiences/common-functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/types.ts
Due: destination-actions

saving progress
  packages/destination-actions/src/destinations/linkedin-audiences/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
Due: destination-actions
