Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Added Unit test for asyncDataExtension action
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/_tests_/asyncDataExtension.test.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

Created Scaffold PR for databricks destination
  packages/warehouse-destinations/src/destinations/databricks/generated-types.ts
  packages/warehouse-destinations/src/destinations/databricks/index.ts
Due: none

Created Scaffold PR for databricks destination (#3342)
  packages/warehouse-destinations/src/destinations/databricks/generated-types.ts
  packages/warehouse-destinations/src/destinations/databricks/index.ts
Due: none

changed return response type
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/contactDataExtensionV2Async/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: destination-actions

[Stackadapt Audiences] - making marketing_status for non Audience payloads (#3331)
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/common-fields.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/common-functions.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/fields.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/generated-types.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardProfile/generated-types.ts
Due: destination-actions

Add skipZeroPricePurchases setting to Topsort destination (#3330)
  packages/destination-actions/src/destinations/topsort/generated-types.ts
  packages/destination-actions/src/destinations/topsort/index.ts
  packages/destination-actions/src/destinations/topsort/purchase/__tests__/index.test.ts
  packages/destination-actions/src/destinations/topsort/purchase/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/topsort/purchase/index.ts
Due: destination-actions

Add destination settings and action mappings for databricks destination
  packages/warehouse-destinations/src/destinations/databricks/generated-types.ts
  packages/warehouse-destinations/src/destinations/databricks/index.ts
  packages/warehouse-destinations/src/destinations/databricks/sendCustomEvent/audience-default-fields.ts
  packages/warehouse-destinations/src/destinations/databricks/sendCustomEvent/generated-types.ts
  packages/warehouse-destinations/src/destinations/databricks/sendCustomEvent/index.ts
  packages/warehouse-destinations/src/destinations/databricks/sendCustomEvent/journeys-default-fields.ts
Due: none

rephrase async data extension action description
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

STRATCONN-6205 added limit for membershipDurationDays to 540 for first party dv360 destination
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
Due: destination-actions

[CJ] - field mapping fix
  packages/browser-destinations/destinations/cj/src/sitePage/index.ts
Due: browser-destinations

[CJ] - field mapping fix (#3344)
  packages/browser-destinations/destinations/cj/src/sitePage/index.ts
Due: browser-destinations

[GA 4 web] - handling when domain is an empty string (#3333)
  packages/browser-destinations/destinations/google-analytics-4-web/src/index.ts
Due: browser-destinations

adding preset for Vibe Audience DestinatioDDn (#3332)
  packages/destination-actions/src/destinations/vibe-audience/index.ts
Due: destination-actions

[MAIN] [STRATCONN-6153]: [DV360] added API_VERSION and CANARY_API_VERSION in first party dv360 with code refactoring (#3325)
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/addToAudContactInfo/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/addToAudMobileDeviceId/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/properties.ts
  packages/destination-actions/src/destinations/first-party-dv360/removeFromAudContactInfo/_tests_/index.test.ts
Due: destination-actions

[FUNK-2000] Fixed extensible webhook shared secret issue (#3316)
  packages/destination-actions/src/destinations/webhook-extensible/__test__/webhook.test.ts
  packages/destination-actions/src/destinations/webhook-extensible/index.ts
Due: destination-actions

[Hubspot] Add de duplication for assosiations (#3336)
  packages/destination-actions/src/destinations/hubspot/upsertObject/__tests__/validate.test.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/functions/validation-functions.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/index.ts
Due: destination-actions

completed poll payload parsing
  packages/core/src/destination-kit/action.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/contactDataExtensionV2Async/index.ts
Due: core, destination-actions

Publish Canary
  packages/destination-actions/package.json
  packages/warehouse-destinations/package.json
Due: destination-actions

update destination-kit for testing
  packages/core/src/destination-kit/index.ts
Due: core

progress
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/types.ts
Due: destination-actions

progress
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/functions.ts
Due: destination-actions

added auth data in execute poll
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/contactDataExtensionV2Async/index.ts
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/sfmc-operations.ts
Due: core, destination-actions

adding tests
  packages/destination-actions/src/destinations/snap-audiences/__tests__/index.test.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/fields.ts
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/functions.ts
Due: destination-actions

updating types
  packages/destination-actions/src/destinations/snap-audiences/syncAudience/generated-types.ts
Due: destination-actions

delete trailing space
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

STRATCONN-6205 first party dv360 added limit for membershipDurationDays to 540
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
Due: destination-actions

[Yonoma] - updating code after testing
  packages/destination-actions/src/destinations/yonoma/index.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/yonoma/sendEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/constants.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/functions.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/generated-types.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/index.ts
  packages/destination-actions/src/destinations/yonoma/sendEvent/types.ts
  packages/destination-actions/src/destinations/yonoma/trackEvent/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/yonoma/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yonoma/trackEvent/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/yonoma/trackEvent/generated-types.ts
  packages/destination-actions/src/destinations/yonoma/trackEvent/index.ts
  packages/destination-actions/src/destinations/yonoma/trackEvent/types.ts
  packages/destination-actions/src/destinations/yonoma/trackPageView/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/yonoma/trackPageView/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yonoma/trackPageView/generated-types.ts
  packages/destination-actions/src/destinations/yonoma/trackPageView/index.ts
  packages/destination-actions/src/destinations/yonoma/trackPageView/types.ts
  packages/destination-actions/src/destinations/yonoma/upsertContact/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/yonoma/upsertContact/__tests__/index.test.ts
  packages/destination-actions/src/destinations/yonoma/upsertContact/generated-types.ts
  packages/destination-actions/src/destinations/yonoma/upsertContact/index.ts
  packages/destination-actions/src/destinations/yonoma/upsertContact/types.ts
Due: destination-actions

[Criteo] - turning on batching for all new instances
  packages/destination-actions/src/destinations/criteo-audiences/addUserToAudience/generated-types.ts
  packages/destination-actions/src/destinations/criteo-audiences/addUserToAudience/index.ts
  packages/destination-actions/src/destinations/criteo-audiences/removeUserFromAudience/generated-types.ts
  packages/destination-actions/src/destinations/criteo-audiences/removeUserFromAudience/index.ts
Due: destination-actions

removing annoyingly auto added reference
  packages/destination-actions/src/destinations/yonoma/upsertContact/__tests__/index.test.ts
Due: destination-actions

delete trailing space (#3346)
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

[Linkedin Audience] - moving code to separate files for ease of reading
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
Due: destination-actions

Revert "update destination-kit for testing"
  packages/core/src/destination-kit/index.ts
Due: core

moving api back to different file location
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
Due: destination-actions

moving api file to a different location
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
Due: destination-actions

[Linkedin Audience] readability refactor (#3351)
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
Due: destination-actions
