Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

[Memora] Add personasContext to execute bundle + stats/logging to upsertProfile
  README.md
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: core, destination-actions

add the e2e Jest test suite for kinesis
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/e2e.test.ts
Due: destination-actions

bump actions version in cli
  packages/cli/package.json
  yarn.lock
Due: none

Address Copilot review comments
  packages/core/src/__tests__/destination-kit.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: core, destination-actions

Add comment explaining personas batching assumption in executeBatch
  packages/core/src/destination-kit/index.ts
Due: core

Update packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: destination-actions

Emit failure stat when all profiles fail validation in upsertProfile
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

Address Copilot review comments: add missing stats/personasContext tests
  packages/core/src/__tests__/destination-kit.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: core, destination-actions

adding stats and logger to cleanPropObj function
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/validate.test.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/validation-functions.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/index.ts
Due: destination-actions

Hubspot instrumentation for testing in stage
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/validate.test.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/validation-functions.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/index.ts
Due: destination-actions

correcing logging to include subscription metadata
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/validate.test.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/validation-functions.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/index.ts
Due: destination-actions

correcing to remove pii from logging
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/validate.test.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/validation-functions.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/index.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

Rename stats/log tags and add tags to log messages in upsertProfile
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

Publish Canary
  Makefile
  packages/destination-actions/package.json
Due: destination-actions

[Core] Propagate personasContext through action execute/executeBatch
  README.md
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
Due: core

[Memora] Add personasContext to upsertProfile + stats/logging
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

making logging more efficient
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/validate.test.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/validation-functions.ts
Due: destination-actions

making logging handle undefined logger object
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/validation-functions.ts
Due: destination-actions

making logging a little safer
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/validation-functions.ts
Due: destination-actions

[DEVED-13663] No observability in async action note (#3753)
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

STRATCONN-6578 - [Amazon AMC] - adding new flag to prevent errors when rolling out consent (#3751)
  packages/destination-actions/src/destinations/amazon-amc/function.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/__tests__/enable-errors-flag-off.test.ts
  packages/destination-actions/src/destinations/amazon-amc/syncAudiencesToDSP/__tests__/index.test.ts
  packages/destination-actions/src/destinations/amazon-amc/utils.ts
Due: destination-actions

Update packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-conversions/streamConversion/__tests__/index.test.ts
Due: destination-actions

STRATCONN-6744 - [Voiceops] - [ENG-5172] add base url as a setting (#3749)
  packages/destination-actions/src/destinations/voiceops/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/constants.ts
  packages/destination-actions/src/destinations/voiceops/generated-types.ts
  packages/destination-actions/src/destinations/voiceops/index.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/__tests__/index.test.ts
  packages/destination-actions/src/destinations/voiceops/sendCallCompleted/index.ts
Due: destination-actions

[STRATCON-6723] Retryable / Non Retryable Error Mappings for Marketo (#3733)
  packages/destination-actions/src/destinations/marketo-static-lists/__tests__/multistatus.test.ts
  packages/destination-actions/src/destinations/marketo-static-lists/functions.ts
Due: destination-actions

STRATCONN-6767 - [GEC] Treat updated events as add in mirror sync mode (#3731)
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/userList.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
Due: destination-actions

[Google Campaign Manager 360] Canary Version Upgrade to v5 (#3667)
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionAdjustmentUpload/__tests__/index.test.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionAdjustmentUpload/index.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionUpload/__tests__/index.test.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/conversionUpload/index.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/utils.ts
  packages/destination-actions/src/destinations/google-campaign-manager-360/versioning-info.ts
Due: destination-actions

Align Customer.io preset subscriptions with reserved events (#3655)
  packages/destination-actions/src/destinations/customerio/__tests__/index.test.ts
  packages/destination-actions/src/destinations/customerio/createUpdateDevice/index.ts
  packages/destination-actions/src/destinations/customerio/index.ts
  packages/destination-actions/src/destinations/customerio/trackEvent/index.ts
Due: destination-actions

Add personasContext to internal-only fields JSDoc in ExecuteInput
  packages/core/src/destination-kit/types.ts
Due: core

Update packages/core/src/destination-kit/types.ts
  packages/core/src/destination-kit/types.ts
Due: core

bump the browser destination limit
  packages/browser-destinations/package.json
Due: browser-destinations

[STRATCONN-6788][Core] Propagate personasContext through action execute/executeBatch (#3760)
  README.md
  packages/browser-destinations/package.json
  packages/core/src/__tests__/destination-kit.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
Due: core, browser-destinations

STRATCONN-6647 - [Hubspot] - adding stats and logger to cleanPropObj function (#3759)
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/validate.test.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/validation-functions.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/index.ts
Due: destination-actions

[STRATCONN-6788][Memora] Add personasContext-based stats and logging to upsertProfile (#3761)
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions
