Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

fix lint issues
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
Due: destination-actions

Bump aws sdk s3 version
  yarn.lock
Due: none

Fix breaking unit tests (#3574)
  packages/destination-actions/src/destinations/rokt-capi/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/rokt-capi/send/functions.ts
Due: destination-actions

bump sts and eventbridge library versions
  packages/destination-actions/package.json
  yarn.lock
Due: destination-actions

Revert package.json
  package.json
Due: none

Add login customer id setting
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/google-enhanced-conversions.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
Due: destination-actions

Fix Snyk high-severity vulnerabilities in semver and fast-xml-parser (#3576)
  package.json
  packages/destination-actions/package.json
  yarn.lock
Due: destination-actions

Add batch_size to Kafka Destination (#3549)
  packages/destination-actions/src/destinations/kafka/send/generated-types.ts
  packages/destination-actions/src/destinations/kafka/send/index.ts
Due: destination-actions

reuse existing memora destination
  packages/destination-actions/src/destinations/memora-internal/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora-internal/index.ts
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
  packages/destination-actions/src/destinations/memora-internal/versioning-info.ts
  packages/destination-actions/src/destinations/memora/index.ts
  packages/destination-actions/src/destinations/memora/versioning-info.ts
Due: destination-actions

add memora-internal destination
  packages/destination-actions/src/destinations/memora-internal/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora-internal/generated-types.ts
  packages/destination-actions/src/destinations/memora-internal/index.ts
  packages/destination-actions/src/destinations/memora-internal/versioning-info.ts
Due: destination-actions

update tests
  packages/destination-actions/src/destinations/memora/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
Due: destination-actions

update import paths
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

Refactor
  packages/destination-actions/src/destinations/avo-v2/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/avo-v2/constants.ts
  packages/destination-actions/src/destinations/avo-v2/generated-types.ts
  packages/destination-actions/src/destinations/avo-v2/index.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/AvoSchemaParser.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/EventFetcher.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/EventValidator.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/avo.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/avo-types.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/avo.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/eventSpec/EventFetcher.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/eventSpec/EventFetcherTypes.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/encryption-functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/event-validator-functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/schema-functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/index.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/types.ts
Due: destination-actions

Tests, handle cycles, remove comments
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/schema-functions.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/event-validator-functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/schema-functions.ts
Due: destination-actions

remove unused function
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/avo.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
Due: destination-actions

dotdigital-import fix
  packages/actions-shared/src/dotdigital/api/index.ts
  packages/actions-shared/src/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/index.ts
Due: actions-shared, destination-actions

changes to exports from shared
  packages/actions-shared/src/dotdigital/api/index.ts
  packages/actions-shared/src/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/index.ts
Due: actions-shared, destination-actions

Publish Canary
  packages/actions-shared/package.json
  packages/browser-destinations/destinations/friendbuy/package.json
  packages/browser-destinations/destinations/intercom/package.json
  packages/destination-actions/package.json
Due: actions-shared, destination-actions, browser-destinations

STRATCONN-6536-Register new memora-internal destination (#3565)
  packages/destination-actions/src/destinations/memora-internal/generated-types.ts
  packages/destination-actions/src/destinations/memora-internal/index.ts
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
  packages/destination-actions/src/destinations/memora/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/index.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/__tests__/index.test.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
  packages/destination-actions/src/destinations/memora/versioning-info.ts
Due: destination-actions

register memora internal
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

Update hubspt custom event action to handle numeric strings
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/cache-functions.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/hubspot-event-schema-functions.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/index.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/types.ts
Due: destination-actions

register memora internal (#3579)
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

Trim the value, add unit tests
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/google-enhanced-conversions.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
Due: destination-actions

Add CLAUDE.md and AGENTS.md for AI-assisted development guidance
  AGENTS.md
  CLAUDE.md
Due: none

adding logging
  packages/destination-actions/src/destinations/dotdigital-audiences/index.ts
Due: destination-actions

add memora-internal destination
  packages/destination-actions/src/destinations/memora-internal/generated-types.ts
  packages/destination-actions/src/destinations/memora-internal/index.ts
  packages/destination-actions/src/destinations/memora-internal/upsertProfile.types.ts
Due: destination-actions

memora-internal registration
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions

Consolidate copilot-instructions.md content into CLAUDE.md
  CLAUDE.md
Due: none

adding logger
  packages/core/src/destination-kit/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/index.ts
Due: core, destination-actions

handle arrays and objects
  packages/browser-destinations/destinations/appcues-web/src/functions.ts
  packages/browser-destinations/destinations/appcues-web/src/group/__tests__/index.test.ts
  packages/browser-destinations/destinations/appcues-web/src/group/index.ts
  packages/browser-destinations/destinations/appcues-web/src/identify/__tests__/index.test.ts
  packages/browser-destinations/destinations/appcues-web/src/identify/index.ts
  packages/browser-destinations/destinations/appcues-web/src/track/__tests__/index.test.ts
  packages/browser-destinations/destinations/appcues-web/src/track/index.ts
  packages/browser-destinations/destinations/appcues-web/src/types.ts
Due: browser-destinations

Disable hiding of public keys
  packages/destination-actions/src/destinations/avo-v2/index.ts
Due: destination-actions

initial test in stage
  packages/destination-actions/src/destinations/dotdigital-audiences/generated-types.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/generated-types.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/index.ts
Due: destination-actions

adding dynamic field
  packages/destination-actions/src/destinations/dotdigital-audiences/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/index.ts
  packages/destination-actions/src/destinations/dotdigital-audiences/types.ts
Due: destination-actions

adding dynamic field functionality
  packages/destination-actions/src/destinations/dotdigital-audiences/syncAudience/index.ts
Due: destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
