Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Dedupe Change Release Safety across the whole file, not just the new section
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

STRATCONN-7046: say only what the page url check actually does
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
Due: destination-actions

STRATCONN-7046: check the domain and send the page url as written
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

STRATCONN-7046: drop comments and guards that describe deleted code
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

STRATCONN-7046: send the company domain host as written
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
Due: destination-actions

STRATCONN-7046: send the company domain as the customer wrote it
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
Due: destination-actions

STRATCONN-7046: keep only the domain part of a mapped company domain
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
Due: destination-actions

Revert "fix(braze-web): gate deferUntilIdentified on a fresh identify, not localStorage (#3985)"
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/braze-types.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/updateUserProfile/index.ts
Due: browser-destinations

Revert "fix(braze-web): gate deferUntilIdentified on a fresh identify, not localStorage (#3985)" (#4063)
  packages/browser-destinations/destinations/braze/src/__tests__/initialization.test.ts
  packages/browser-destinations/destinations/braze/src/braze-types.ts
  packages/browser-destinations/destinations/braze/src/index.ts
  packages/browser-destinations/destinations/braze/src/updateUserProfile/index.ts
Due: browser-destinations

Release
  packages/browser-destinations/destinations/braze-cloud-plugins/package.json
  packages/browser-destinations/destinations/braze/package.json
  packages/destinations-manifest/package.json
Due: browser-destinations, destinations-manifest

Release (#4064)
  packages/browser-destinations/destinations/braze-cloud-plugins/package.json
  packages/browser-destinations/destinations/braze/package.json
  packages/destinations-manifest/package.json
Due: browser-destinations, destinations-manifest

test(actions-s3): close lower-priority + mocking test gaps from deep review
  packages/destination-actions/src/destinations/s3/__tests__/client.test.ts
  packages/destination-actions/src/destinations/s3/__tests__/index.test.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__tests__/index.test.ts
Due: destination-actions

test(actions-s3): cover uploadS3 PUT-failure paths (closes review finding)
  packages/destination-actions/src/destinations/s3/__tests__/client.test.ts
  packages/destination-actions/src/destinations/s3/__tests__/index.test.ts
Due: destination-actions

test(actions-s3): reach 100% coverage for the destination (test-only)
  packages/destination-actions/src/destinations/s3/__tests__/client.test.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__tests__/index.test.ts
Due: destination-actions

STRATCONN-7046: send company values in one Unicode spelling
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

test(actions-s3): address review nits (test titles + spy restore)
  packages/destination-actions/src/destinations/s3/__tests__/client.test.ts
Due: destination-actions

STRATCONN-7046: close the gaps the deep review found in these normalizers
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
Due: destination-actions

test(actions-s3): close lower-priority + mocking test gaps from deep review (#4065)
  packages/destination-actions/src/destinations/s3/__tests__/client.test.ts
  packages/destination-actions/src/destinations/s3/__tests__/index.test.ts
  packages/destination-actions/src/destinations/s3/syncToS3/__tests__/index.test.ts
Due: destination-actions

STRATCONN-6707 fixed the gdm bugs for customers
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/data-manager.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/userList/index.ts
Due: destination-actions

Release
  packages/destination-actions/package.json
Due: destination-actions

Release (#4066)
  packages/destination-actions/package.json
Due: destination-actions

feat(avo-v2): Inspected Fields setting for gateways
  packages/destination-actions/src/destinations/avo-v2/generated-types.ts
  packages/destination-actions/src/destinations/avo-v2/index.ts
  packages/destination-actions/src/destinations/avo-v2/metadata.json
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/gateway-vectors.json
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/gateway.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/warehouse-columns.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/index.ts
Due: destination-actions

refining identifier fields
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
Due: destination-actions

another minor update
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
Due: destination-actions

fix(avo-v2): match raw events to payloads by position when nothing was dropped
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/gateway.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/warehouse-columns.ts
Due: destination-actions

more changes
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

feat(avo-v2): default the origin app version to the event's own in gateway mode
  packages/destination-actions/src/destinations/avo-v2/metadata.json
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/gateway-vectors.json
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/__tests__/gateway.test.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/functions/functions.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/generated-types.ts
  packages/destination-actions/src/destinations/avo-v2/sendSchemaToInspector/index.ts
Due: destination-actions

Adds typed Liquid output engine option and type coercion tests
  packages/core/src/mapping-kit/__tests__/liquid-type-coercion.test.ts
  packages/core/src/mapping-kit/liquid-directive.ts
Due: core

Adds opt-in @liquid performance benchmark
  packages/core/src/mapping-kit/__tests__/liquid-performance.test.ts
Due: core

STRATCONN-7072 - [First Party DV360] - surface audience creation errors and support existing audiences
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/generated-types.ts
  packages/destination-actions/src/destinations/first-party-dv360/index.ts
  packages/destination-actions/src/destinations/first-party-dv360/metadata.json
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/__tests__/hook.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - tighten reconnect and error handling
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/__tests__/hook.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/types.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - add CreateAudienceResult type
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - move DV360Audience type to shared types
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/types.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - rename types to JSON/Response convention
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/types.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions

STRATCONN-7072 - [First Party DV360] - align response type names and share EditCustomerMatchResponse
  packages/destination-actions/src/destinations/first-party-dv360/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/hook-functions.ts
  packages/destination-actions/src/destinations/first-party-dv360/syncAudience/types.ts
  packages/destination-actions/src/destinations/first-party-dv360/types.ts
Due: destination-actions
