Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

STRATCONN-6743 - [Mixpanel] - secret deprecation (#3810)
  packages/destination-actions/src/destinations/mixpanel/__test__/multistatus.test.ts
  packages/destination-actions/src/destinations/mixpanel/alias/__tests__/index.test.ts
  packages/destination-actions/src/destinations/mixpanel/common/utils.ts
  packages/destination-actions/src/destinations/mixpanel/generated-types.ts
  packages/destination-actions/src/destinations/mixpanel/groupIdentifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/mixpanel/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/mixpanel/incrementProperties/__test__/index.test.ts
  packages/destination-actions/src/destinations/mixpanel/index.ts
  packages/destination-actions/src/destinations/mixpanel/metadata.json
  packages/destination-actions/src/destinations/mixpanel/trackEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/mixpanel/trackEvent/index.ts
  packages/destination-actions/src/destinations/mixpanel/trackPurchase/__tests__/index.test.ts
  packages/destination-actions/src/destinations/mixpanel/trackPurchase/index.ts
Due: destination-actions

STRATCONN fixed the failing testcases in main branch
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/addToAudContactInfo/_tests_/index.test.ts
Due: destination-actions

STRATCONN-6833: use { success: true } for success body in customerio multistatus
  packages/destination-actions/src/destinations/customerio/__tests__/createUpdateObject.test.ts
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
Due: destination-actions

Revert unrelated files reformatted by merge pre-commit hook
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/shared-tests/functions.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/delete.test.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/sync/__tests__/mirror.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/marketo-private/sendForm/functions.ts
  packages/destination-actions/src/destinations/mixpanel/alias/__tests__/index.test.ts
  packages/destination-actions/src/destinations/mixpanel/groupIdentifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/mixpanel/identifyUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/mixpanel/incrementProperties/__test__/index.test.ts
  packages/destination-actions/src/destinations/mixpanel/trackEvent/index.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/utils.ts
  packages/destination-actions/src/destinations/pendo-audiences/index.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/engage-batch.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/fields.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/functions.ts
Due: destination-actions

STRATCONN fixed the failing testcases in main branch (#3932)
  packages/destination-actions/src/destinations/first-party-dv360/_tests_/index.test.ts
  packages/destination-actions/src/destinations/first-party-dv360/addToAudContactInfo/_tests_/index.test.ts
Due: destination-actions

STRATCONN-6908 Upgrade the liquidjs version 10.25.7 to 10.27.2 (#3914)
  package.json
  packages/actions-shared/package.json
  packages/destination-actions/package.json
  yarn.lock
Due: actions-shared, destination-actions

fixing breaking test
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
Due: destination-actions

STRATCONN-6806 - [Braze] - default sync mode to 'add' when missing (#3913)
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerce/constants.ts
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
  packages/destination-actions/src/destinations/braze/ecommerce/index.ts
  packages/destination-actions/src/destinations/braze/ecommerce/types.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/index.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/ms-bing-ads-audiences/utils.ts
  packages/destination-actions/src/destinations/pendo-audiences/index.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/__tests__/engage-batch.test.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/fields.ts
  packages/destination-actions/src/destinations/pendo-audiences/syncAudience/functions.ts
Due: destination-actions

Release
  packages/actions-shared/package.json
  packages/browser-destinations/destinations/friendbuy/package.json
  packages/browser-destinations/destinations/intercom/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: actions-shared, destination-actions, browser-destinations, destinations-manifest

Release (#3933)
  packages/actions-shared/package.json
  packages/browser-destinations/destinations/friendbuy/package.json
  packages/browser-destinations/destinations/intercom/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: actions-shared, destination-actions, browser-destinations, destinations-manifest

Async Batch Pipeline - Refactor actions-core changes (#3916)
  packages/core/src/__tests__/batching.test.ts
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
Due: core

STRATCONN-6824 - fix checkout_started multistatus fixture after main merge
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/__snapshots__/snapshot.test.ts.snap
Due: destination-actions

STRATCONN-6824 - [Braze] copy ecommerce cart_updated changes to staging for testing
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/ecommerce/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerce/constants.ts
  packages/destination-actions/src/destinations/braze/ecommerce/fields.ts
  packages/destination-actions/src/destinations/braze/ecommerce/functions.ts
  packages/destination-actions/src/destinations/braze/ecommerce/generated-types.ts
  packages/destination-actions/src/destinations/braze/ecommerce/index.ts
  packages/destination-actions/src/destinations/braze/ecommerce/types.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/__tests__/index.test.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/generated-types.ts
  packages/destination-actions/src/destinations/braze/ecommerceSingleProduct/index.ts
  packages/destination-actions/src/destinations/braze/index.ts
Due: destination-actions

STRATCONN-6824 - [Braze] regenerate metadata.json for ecommerce cart_updated
  packages/destination-actions/src/destinations/braze/metadata.json
Due: destination-actions

STRATCONN-6824 - [Braze] sync regenerated metadata.json to staging
  packages/destination-actions/src/destinations/braze/metadata.json
Due: destination-actions

Revert "STRATCONN-4121 - [Customerio] - fix timestamp normalization occurring…"
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
Due: destination-actions

Revert "STRATCONN-4121 - [Customerio] - fix timestamp normalization occurring…" (#3934)
  packages/destination-actions/src/destinations/customerio/__tests__/utils.test.ts
  packages/destination-actions/src/destinations/customerio/utils.ts
Due: destination-actions

test: [rupt] bump resolveWhen timeout to exercise browser deploy pipeline
  packages/browser-destinations/destinations/rupt/src/index.ts
Due: browser-destinations

Publish: fix browser artifact detect job runner label [rupt test]
  .github/workflows/publish-browser-destinations.yml
Due: none

fix: run browser artifact detect job on ubuntu-latest-large
  .github/workflows/publish-browser-destinations.yml
Due: none

fix(hubspot): allow string values to match datetime fields in schema comparison (#3827)
  packages/destination-actions/src/destinations/hubspot/upsertObject/__tests__/schema-functions.test.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/__tests__/upsert-property-mismatch.test.ts
  packages/destination-actions/src/destinations/hubspot/upsertObject/functions/schema-functions.ts
Due: destination-actions

feat(klaviyo): add email regex validation to addProfileToList (#3792)
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/__tests__/index.test.ts
  packages/destination-actions/src/destinations/klaviyo/addProfileToList/index.ts
  packages/destination-actions/src/destinations/klaviyo/functions.ts
Due: destination-actions

Release
  packages/destination-actions/package.json
Due: destination-actions

Release (#3938)
  packages/destination-actions/package.json
Due: destination-actions

Add Kochava (Actions) cloud destination
  packages/destination-actions/src/destinations/kochava/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/kochava/__tests__/index.test.ts
  packages/destination-actions/src/destinations/kochava/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/kochava/constants.ts
  packages/destination-actions/src/destinations/kochava/event/__tests__/index.test.ts
  packages/destination-actions/src/destinations/kochava/event/generated-types.ts
  packages/destination-actions/src/destinations/kochava/event/index.ts
  packages/destination-actions/src/destinations/kochava/fields.ts
  packages/destination-actions/src/destinations/kochava/generated-types.ts
  packages/destination-actions/src/destinations/kochava/index.ts
  packages/destination-actions/src/destinations/kochava/install/__tests__/index.test.ts
  packages/destination-actions/src/destinations/kochava/install/generated-types.ts
  packages/destination-actions/src/destinations/kochava/install/index.ts
  packages/destination-actions/src/destinations/kochava/metadata.json
  packages/destination-actions/src/destinations/kochava/types.ts
  packages/destination-actions/src/destinations/kochava/utils.ts
Due: destination-actions

linkedin audience companies for stage test
  packages/destination-actions/src/destinations/linkedin-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-audiences/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/types.ts
Due: destination-actions

Release Canary
  packages/browser-destinations/destinations/rupt/package.json
  packages/destination-actions/package.json
Due: destination-actions, browser-destinations

linedin audiences company action
  packages/destination-actions/src/destinations/linkedin-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-audiences/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/metadata.json
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/fields.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/generated-types.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/types.ts
Due: destination-actions

flip an action field required
  packages/destination-actions/src/destinations/display-video-360/index.ts
  packages/destination-actions/src/destinations/display-video-360/metadata.json
Due: destination-actions

Revert "flip an action field required"
  packages/destination-actions/src/destinations/display-video-360/index.ts
  packages/destination-actions/src/destinations/display-video-360/metadata.json
Due: destination-actions

Add e2e test suite for Kochava (Actions)
  packages/destination-actions/src/destinations/kochava/__tests__/e2e.test.ts
Due: destination-actions

Release Canary
  packages/destination-actions/package.json
Due: destination-actions

Publish: restore browser artifact workflow + rupt test change
  .github/workflows/publish-browser-destinations.yml
  packages/browser-destinations/destinations/rupt/src/index.ts
Due: browser-destinations

Retry LinkedIn company sync when DMP segment not yet available
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateCompanyAudience/functions.ts
Due: destination-actions

feat(engage-messaging-twilio): remove defunct destination
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/__helpers__/test-utils.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/send-mobile-push.test.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/send-sms.test.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/__tests__/send-whatsapp.test.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/generated-types.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/index.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/metadata.json
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendMobilePush/PushSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendMobilePush/generated-types.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendMobilePush/index.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendSms/SmsMessageSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendSms/generated-types.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendSms/index.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendWhatsApp/WhatsAppMessageSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendWhatsApp/generated-types.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/sendWhatsApp/index.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/utils/PhoneMessageSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/utils/TwilioMessageSender.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/utils/index.ts
  packages/destination-actions/src/destinations/engage-messaging-twilio/utils/types.ts
  packages/destination-actions/src/destinations/index.ts
Due: destination-actions
