Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

codecov.yml:

github_checks:
  annotations: false
comment:
  require_changes: true

codecov:
  require_ci_to_pass: true # Require CI to pass before uploading coverage
  notify:
    wait_for_ci: true

# https://about.codecov.io/blog/the-5-levels-of-code-coverage-how-to-build-a-testing-culture-in-your-organization/
# Setting this configuration as recommended for beginners in the above blog post.
# We can introduce more strict settings as we progress.
coverage:
  status:
    project:
      default:
        target: 70%
        informational: false
    patch:
      default:
        target: 80%
        informational: false

# Define flags for different parts of the codebase
flags:
  # Core packages
  core:
    paths:
      - packages/core/**/*
    carryforward: true

  actions-shared:
    paths:
      - packages/actions-shared/**/*
    carryforward: true

  destination-actions:
    paths:
      - packages/destination-actions/**/*
    carryforward: true

  browser-destinations:
    paths:
      - packages/browser-destinations/**/*
    carryforward: true

  ajv-human-errors:
    paths:
      - packages/ajv-human-errors/**/*
    carryforward: true

  destination-subscriptions:
    paths:
      - packages/destination-subscriptions/**/*
    carryforward: true

  destinations-manifest:
    paths:
      - packages/destinations-manifest/**/*
    carryforward: true

Secret scan github action added
  .github/workflows/secret-scan.yml
Due: none

Add new error type for Adobe Target
  packages/core/src/errors.ts
  packages/destination-actions/src/destinations/adobe-target/adobeTarget_operations.ts
Due: core, destination-actions

Remove echo step from versions workflow
  .github/workflows/version-packages.yml
Due: none

use inputs after changing them to env
  .github/workflows/version-packages.yml
Due: none

adding unit tests
  packages/browser-destinations/destinations/google-enhanced-conversions-plugins/src/__tests__/index.test.ts
  packages/browser-destinations/destinations/google-enhanced-conversions-plugins/src/index.ts
  packages/browser-destinations/destinations/google-enhanced-conversions-plugins/src/sessionAttributesEncoded/index.ts
  packages/browser-destinations/destinations/snap-plugins/src/__tests__/index.test.ts
Due: browser-destinations

registering hybrid plugin
  packages/destinations-manifest/package.json
  packages/destinations-manifest/src/index.ts
Due: destinations-manifest

adding preset
  packages/browser-destinations/destinations/google-enhanced-conversions-plugins/src/sessionAttributesEncoded/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
Due: destination-actions, browser-destinations

removing console log
  packages/browser-destinations/destinations/snap-plugins/src/__tests__/index.test.ts
Due: browser-destinations

merge changes to sftp into staging
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/mapping-kit/__tests__/liquid.test.ts
  packages/core/src/mapping-kit/index.ts
  packages/core/src/mapping-kit/liquid-directive.ts
  packages/destination-actions/src/destinations/sftp/__tests__/client.test.ts
  packages/destination-actions/src/destinations/sftp/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/sftp/client.ts
  packages/destination-actions/src/destinations/sftp/functions.ts
  packages/destination-actions/src/destinations/sftp/syncEvents/index.ts
  packages/destination-actions/src/destinations/sftp/syncModelToSFTP/index.ts
Due: core, destination-actions

update yarn.lock
  yarn.lock
Due: none

update yarn.lock
  packages/actions-shared/package.json
  packages/destination-actions/package.json
Due: actions-shared, destination-actions

Publish Canary
  packages/actions-shared/package.json
  packages/browser-destinations/destinations/friendbuy/package.json
  packages/browser-destinations/destinations/intercom/package.json
  packages/core/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
Due: core, actions-shared, destination-actions, browser-destinations, destinations-manifest

STRATCONN-6258 changed the tooltip for salesforce records matcher
  packages/destination-actions/src/destinations/salesforce/sf-properties.ts
Due: destination-actions

Adds fastput from buffer for SFTP destination
  packages/destination-actions/src/destinations/sftp/client.ts
  packages/destination-actions/src/destinations/sftp/sftp-wrapper.ts
Due: destination-actions

updating snapshots
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion2.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/functions.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/generated-types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/index.ts
Due: destination-actions

more unit tests
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion.test.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/__tests__/uploadClickConversion2.test.ts
Due: destination-actions

minor update
  packages/destination-actions/src/destinations/google-enhanced-conversions/types.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion/index.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/uploadClickConversion2/index.ts
Due: destination-actions

STRATCONN-6258 changed the tooltip for custom object in actions salesforce
  packages/destination-actions/src/destinations/salesforce/account/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/account2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/cases/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/cases2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/contact/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/contact2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/customObject/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/customObject2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/lead/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/lead2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/opportunity/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/opportunity2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/sf-properties.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

fix
  packages/destination-actions/src/destinations/sftp/__tests__/client.test.ts
  packages/destination-actions/src/destinations/sftp/client.ts
  packages/destination-actions/src/destinations/sftp/syncEvents/__tests__/index.test.ts
Due: destination-actions

SECOPS-20482 - Remove echo step and sanitize input from versions workflow (#3386)
  .github/workflows/version-packages.yml
Due: none

STRATCONN-6258 fixed the tooltip text to match the actual UI in salesforce actions mappings
  packages/destination-actions/src/destinations/salesforce/account/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/account2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/cases/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/cases2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/contact/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/contact2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/customObject/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/customObject2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/lead/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/lead2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/opportunity/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/opportunity2/generated-types.ts
  packages/destination-actions/src/destinations/salesforce/sf-properties.ts
Due: destination-actions

STRATCONN-6123 - [Stackadapt] - remove user_id from PROFILE_DEFAULT_FIELDS
  packages/destination-actions/src/destinations/stackadapt-audiences/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/__tests__/index.test.ts
  packages/destination-actions/src/destinations/stackadapt-audiences/forwardAudienceEvent/constants.ts
Due: destination-actions

Refactor fastPut as optional
  package.json
  packages/destination-actions/src/destinations/sftp/client.ts
  packages/destination-actions/src/destinations/sftp/fields.ts
  packages/destination-actions/src/destinations/sftp/functions.ts
  packages/destination-actions/src/destinations/sftp/sftp-wrapper.ts
  packages/destination-actions/src/destinations/sftp/syncEvents/__tests__/index.test.ts
  packages/destination-actions/src/destinations/sftp/syncEvents/generated-types.ts
  packages/destination-actions/src/destinations/sftp/syncEvents/index.ts
  packages/destination-actions/src/destinations/sftp/syncModelToSFTP/generated-types.ts
  packages/destination-actions/src/destinations/sftp/syncModelToSFTP/index.ts
Due: destination-actions

splitting to separate actions
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/__tests__/sessionId.test.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/constants.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/functions.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/generated-types.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/index.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/types.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/sessionId/generated-types.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/sessionId/index.ts
Due: browser-destinations

Add tests and upgrade jest
  package.json
  packages/core/src/index.ts
  packages/destination-actions/src/destinations/sftp/__tests__/sftp-wrapper.test.ts
  packages/destination-actions/src/destinations/sftp/client.ts
Due: core, destination-actions

Unit tests added
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/__tests__/index.test.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/__tests__/sessionId.test.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/constants.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/functions.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/generated-types.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/index.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/constants.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/index.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/sessionId/index.ts
Due: browser-destinations

updating tests
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/__tests__/index.test.ts
Due: browser-destinations

Fix tests
  package.json
  packages/destination-actions/src/destinations/sftp/__tests__/client.test.ts
  packages/destination-actions/src/destinations/sftp/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/sftp/__tests__/index.test.ts
  packages/destination-actions/src/destinations/sftp/__tests__/sftp-wrapper.test.ts
  packages/destination-actions/src/destinations/sftp/client.ts
  packages/destination-actions/src/destinations/sftp/functions.ts
  packages/destination-actions/src/destinations/sftp/index.ts
  packages/destination-actions/src/destinations/sftp/syncEvents/__tests__/index.test.ts
  packages/destination-actions/src/destinations/sftp/upload.ts
Due: destination-actions

merge fastput-from-buffer into staging
  packages/destination-actions/src/destinations/sftp/__tests__/client.test.ts
  packages/destination-actions/src/destinations/sftp/__tests__/functions.test.ts
  packages/destination-actions/src/destinations/sftp/__tests__/index.test.ts
  packages/destination-actions/src/destinations/sftp/__tests__/sftp-wrapper.test.ts
  packages/destination-actions/src/destinations/sftp/client.ts
  packages/destination-actions/src/destinations/sftp/fields.ts
  packages/destination-actions/src/destinations/sftp/functions.ts
  packages/destination-actions/src/destinations/sftp/index.ts
  packages/destination-actions/src/destinations/sftp/syncEvents/__tests__/index.test.ts
  packages/destination-actions/src/destinations/sftp/syncEvents/generated-types.ts
  packages/destination-actions/src/destinations/sftp/syncEvents/index.ts
  packages/destination-actions/src/destinations/sftp/syncModelToSFTP/generated-types.ts
  packages/destination-actions/src/destinations/sftp/syncModelToSFTP/index.ts
  packages/destination-actions/src/destinations/sftp/upload.ts
Due: destination-actions

Export logger from actions-core
  packages/core/src/index.ts
Due: core

moving stuff to shared
  packages/actions-shared/src/amplitude/constants.ts
  packages/actions-shared/src/amplitude/types.ts
  packages/actions-shared/src/index.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/functions.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/index.ts
  packages/browser-destinations/destinations/amplitude-plugins/src/autocaptureAttribution/types.ts
Due: actions-shared, browser-destinations

fix error path
  packages/destination-actions/src/destinations/sftp/upload.ts
Due: destination-actions

Add presets for LiveRamp (#3366)
  packages/destination-actions/src/destinations/liveramp-audiences/index.ts
Due: destination-actions

added all ISO 4217 currency codes
  packages/destination-actions/src/destinations/reddit-conversions-api/fields.ts
Due: destination-actions

merge mz-kinesis
  packages/destination-actions/package.json
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/generated-types.ts
  packages/destination-actions/src/destinations/aws-kinesis/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/__tests__/index.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/__tests__/snapshot.test.ts
  packages/destination-actions/src/destinations/aws-kinesis/send/index.ts
  packages/destination-actions/src/destinations/aws-kinesis/utils.ts
  packages/destination-actions/src/lib/AWS/sts.ts
  packages/destination-actions/src/lib/AWS/utils.ts
  yarn.lock
Due: destination-actions
