Repository segmentio/action-destinations: changes, and which Codecov flags are due for each by the changed paths.
All: core, actions-shared, destination-actions, browser-destinations, ajv-human-errors, destination-subscriptions, destinations-manifest

empty commit
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
Due: destination-actions

Publish Canary
  packages/destination-actions/package.json
Due: destination-actions

removing preset
  packages/destination-actions/src/destinations/tiktok-audiences/index.ts
Due: destination-actions

feat: add the missing presets to pipedrive destination defined in actions prop
  packages/destination-actions/src/destinations/pipedrive/index.ts
Due: destination-actions

fix(skill/api-version-upgrade): address PR review comments
  claude/skills/api-version-upgrade/SKILL.md
  claude/skills/api-version-upgrade/references/common-patterns.md
  claude/skills/api-version-upgrade/references/testing-guide.md
Due: none

fix(skill/api-version-upgrade): use correct test entrypoint per docs/testing.md
  claude/skills/api-version-upgrade/SKILL.md
  claude/skills/api-version-upgrade/references/testing-guide.md
Due: none

docs(skill/api-version-upgrade): document IDE-style single-test invocation pattern
  claude/skills/api-version-upgrade/references/testing-guide.md
Due: none

fix(skill/api-version-upgrade): address second batch of PR review comments
  .claude/skills/api-version-upgrade/SKILL.md
  .claude/skills/api-version-upgrade/references/common-patterns.md
  .claude/skills/api-version-upgrade/references/feature-flags.md
  .claude/skills/api-version-upgrade/references/testing-guide.md
Due: none

fix(skill/api-version-upgrade): address third batch of PR review comments
  .claude/skills/api-version-upgrade/SKILL.md
  .claude/skills/api-version-upgrade/references/common-patterns.md
Due: none

Fix TypeScript types and docstring for TokenPropagationRetryError
  packages/core/src/destination-kit/types.ts
  packages/core/src/errors.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-conversions/index.ts
Due: core, destination-actions

PT-2876: update version and new action
  packages/core/package.json
  packages/destination-actions/src/destinations/display-video-360/index.ts
  packages/destination-actions/src/destinations/facebook-custom-audiences/presets.ts
  packages/destination-actions/src/destinations/google-enhanced-conversions/index.ts
  packages/destination-actions/src/destinations/tiktok-audiences/index.ts
  yarn.lock
Due: core, destination-actions

[DEVED-13663] No observability in async action note
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

Update @segment/action-emitters to 1.3.8
  packages/core/package.json
  yarn.lock
Due: core

feat(linkedin-audiences): upgrade API to 202604 behind feature flag
  packages/destination-actions/src/destinations/linkedin-audiences/api.ts
  packages/destination-actions/src/destinations/linkedin-audiences/breaking-changes-analysis.md
  packages/destination-actions/src/destinations/linkedin-audiences/constants.ts
  packages/destination-actions/src/destinations/linkedin-audiences/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/functions.ts
  packages/destination-actions/src/destinations/linkedin-audiences/updateAudience/index.ts
  packages/destination-actions/src/destinations/linkedin-audiences/versioning-info.ts
Due: destination-actions

Copilot issues addressed
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
Due: destination-actions

more copilor comments
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
Due: destination-actions

changes to tt audiences
  packages/destination-actions/src/destinations/tiktok-audiences/index.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/__tests__/index.test.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
Due: destination-actions

yarn types
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/generated-types.ts
Due: destination-actions

error handling change
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
Due: destination-actions

Add validation for empty strings and whitespace handling
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/validate.test.ts
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/validation-functions.ts
Due: destination-actions

reducing number of batch keys
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
Due: destination-actions

Remove debug logging
  packages/destination-actions/src/destinations/hubspot/customEvent/functions/validation-functions.ts
Due: destination-actions

fix tests
  packages/destination-actions/src/destinations/hubspot/customEvent/__tests__/validate.test.ts
Due: destination-actions

Publish Canary
  packages/actions-shared/package.json
  packages/browser-destinations/destinations/friendbuy/package.json
  packages/browser-destinations/destinations/intercom/package.json
  packages/destination-actions/package.json
  packages/destinations-manifest/package.json
  yarn.lock
Due: actions-shared, destination-actions, browser-destinations, destinations-manifest

re-adding iterable change for test in stage
  packages/destination-actions/src/destinations/iterable/updateUser/__tests__/index.test.ts
  packages/destination-actions/src/destinations/iterable/updateUser/generated-types.ts
  packages/destination-actions/src/destinations/iterable/updateUser/index.ts
Due: destination-actions

copilor review fix
  packages/destination-actions/src/destinations/iterable/updateUser/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/iterable/updateUser/index.ts
Due: destination-actions

tweak based on copilot feedback
  packages/destination-actions/src/destinations/iterable/updateUser/__tests__/__snapshots__/snapshot.test.ts.snap
  packages/destination-actions/src/destinations/iterable/updateUser/index.ts
Due: destination-actions

adding instrumentation
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/index.ts
Due: destination-actions

copilot comment fix
  packages/destination-actions/src/destinations/tiktok-audiences/syncAudience/functions.ts
Due: destination-actions

removing flags from actions
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/addToCart2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/custom2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-app-data.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-properties.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/fb-capi-user-data.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/initiateCheckout2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/pageView2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/purchase2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/search2/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent/index.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/viewContent2/index.ts
Due: destination-actions

removing redundant test
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/addToCart2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/app-data.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/custom2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/initiateCheckout2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/pageView2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/purchase2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/search2.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/user-data.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent.test.ts
  packages/destination-actions/src/destinations/facebook-conversions-api/__tests__/viewContent2.test.ts
Due: destination-actions

Rephrasing the Note
  packages/destination-actions/src/destinations/salesforce-marketing-cloud/asyncDataExtension/index.ts
Due: destination-actions

[Memora] Add personasContext to execute bundle + stats/logging to upsertProfile
  README.md
  packages/core/src/destination-kit/action.ts
  packages/core/src/destination-kit/index.ts
  packages/core/src/destination-kit/types.ts
  packages/destination-actions/src/destinations/memora/upsertProfile/index.ts
Due: core, destination-actions

Path conditions:
  core: any of: packages/core/**/*
  actions-shared: any of: packages/actions-shared/**/*
  destination-actions: any of: packages/destination-actions/**/*
  browser-destinations: any of: packages/browser-destinations/**/*
  ajv-human-errors: any of: packages/ajv-human-errors/**/*
  destination-subscriptions: any of: packages/destination-subscriptions/**/*
  destinations-manifest: any of: packages/destinations-manifest/**/*
